
<section class="section-page">
  <div class="container">
    <div class="info-page info-page--about-3">
      <div class="info-page__content">
        <h2 class="h2">The Team</h2>
        <p>The team that runs the Promise project is the whole community who are loyal, HODL their PROMISE and give their full support. That's why the project is described as community-driven, because without a loyal community we won't achieve the goals together.</p><br/>
        <p>In addition, experienced specialists are hired to help with marketing to generate more awareness. These specialists have been in the crypto scene for a long time and know how to make Promise one of the top crypto projects.</p>
        <div class="box-callout">
          <div class="call-out">
            <div class="block">
              <div class="box-icon icon-green"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M8 17V21C8 21.2652 7.89464 21.5196 7.70711 21.7071C7.51957 21.8946 7.26522 22 7 22H4C3.73478 22 3.48043 21.8946 3.29289 21.7071C3.10536 21.5196 3 21.2652 3 21V17C3 16.7348 3.10536 16.4804 3.29289 16.2929C3.48043 16.1054 3.73478 16 4 16H7C7.26522 16 7.51957 16.1054 7.70711 16.2929C7.89464 16.4804 8 16.7348 8 17ZM14 14H11C10.7348 14 10.4804 14.1054 10.2929 14.2929C10.1054 14.4804 10 14.7348 10 15V21C10 21.2652 10.1054 21.5196 10.2929 21.7071C10.4804 21.8946 10.7348 22 11 22H14C14.2652 22 14.5196 21.8946 14.7071 21.7071C14.8946 21.5196 15 21.2652 15 21V15C15 14.7348 14.8946 14.4804 14.7071 14.2929C14.5196 14.1054 14.2652 14 14 14ZM21 10H18C17.7348 10 17.4804 10.1054 17.2929 10.2929C17.1054 10.4804 17 10.7348 17 11V21C17 21.2652 17.1054 21.5196 17.2929 21.7071C17.4804 21.8946 17.7348 22 18 22H21C21.2652 22 21.5196 21.8946 21.7071 21.7071C21.8946 21.5196 22 21.2652 22 21V11C22 10.7348 21.8946 10.4804 21.7071 10.2929C21.5196 10.1054 21.2652 10 21 10Z" fill="#45B26B"/>
<path d="M22 6.76L21 2.76V2.67C20.9681 2.58619 20.9279 2.50578 20.88 2.43L20.8 2.35C20.7442 2.28546 20.6803 2.22833 20.61 2.18H20.54C20.441 2.0962 20.325 2.03479 20.2 2H20.06H16C15.7348 2 15.4804 2.10536 15.2929 2.29289C15.1054 2.48043 15 2.73478 15 3C15 3.26522 15.1054 3.51957 15.2929 3.70711C15.4804 3.89464 15.7348 4 16 4H18.13C13.8 9.69 5.9 11 3 11C2.73478 11 2.48043 11.1054 2.29289 11.2929C2.10536 11.4804 2 11.7348 2 12C2 12.2652 2.10536 12.5196 2.29289 12.7071C2.48043 12.8946 2.73478 13 3 13C6.16 13 14.71 11.56 19.57 5.39L20 7.24C20.0315 7.37132 20.0886 7.49515 20.168 7.60441C20.2473 7.71368 20.3475 7.80624 20.4626 7.87681C20.5777 7.94738 20.7057 7.99459 20.839 8.01572C20.9724 8.03686 21.1087 8.03152 21.24 8C21.3713 7.96848 21.4951 7.91141 21.6044 7.83204C21.7137 7.75266 21.8062 7.65255 21.8768 7.5374C21.9474 7.42226 21.9946 7.29434 22.0157 7.16095C22.0369 7.02757 22.0315 6.89132 22 6.76Z" fill="white"/>
</svg>
              </div>
            </div>
            <div class="block">
              <p>Maximized Profits for loyal Investors</p>
            </div>
          </div>
          <div class="call-out">
            <div class="block">
              <div class="box-icon icon-red"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M20.84 4.60999C20.3292 4.099 19.7228 3.69364 19.0554 3.41708C18.3879 3.14052 17.6725 2.99817 16.95 2.99817C16.2275 2.99817 15.5121 3.14052 14.8446 3.41708C14.1772 3.69364 13.5708 4.099 13.06 4.60999L12 5.66999L10.94 4.60999C9.9083 3.5783 8.50903 2.9987 7.05 2.9987C5.59096 2.9987 4.19169 3.5783 3.16 4.60999C2.1283 5.64169 1.54871 7.04096 1.54871 8.49999C1.54871 9.95903 2.1283 11.3583 3.16 12.39L4.22 13.45L12 21.23L19.78 13.45L20.84 12.39C21.351 11.8792 21.7563 11.2728 22.0329 10.6053C22.3095 9.93789 22.4518 9.22248 22.4518 8.49999C22.4518 7.77751 22.3095 7.0621 22.0329 6.39464C21.7563 5.72718 21.351 5.12075 20.84 4.60999Z" fill="#EF466F"/>
<path d="M21.2289 12.7957C20.9846 12.5434 20.6944 12.3433 20.3751 12.2068C20.0558 12.0703 19.7136 12 19.3679 12C19.0223 12 18.6801 12.0703 18.3607 12.2068C18.0414 12.3433 17.7513 12.5434 17.507 12.7957L16.9999 13.3189L16.4928 12.7957C15.9992 12.2864 15.3298 12.0003 14.6318 12.0003C13.9338 12.0003 13.2644 12.2864 12.7708 12.7957C12.2773 13.305 12 13.9957 12 14.7159C12 15.4362 12.2773 16.1269 12.7708 16.6362L13.2779 17.1595L16.9999 21L20.7218 17.1595L21.2289 16.6362C21.4734 16.3841 21.6673 16.0847 21.7996 15.7552C21.9319 15.4257 22 15.0726 22 14.7159C22 14.3593 21.9319 14.0061 21.7996 13.6766C21.6673 13.3472 21.4734 13.0478 21.2289 12.7957Z" fill="white"/>
</svg>
              </div>
            </div>
            <div class="block">
              <p>Charities to make the world a better one</p>
            </div>
          </div>
        </div>
      </div>
      <div class="info-page__cover">
        <video autoplay="autoplay" muted="muted" loop="loop" playsinline="playsinline" poster="images/cover-aboutus3.png">
          <source src="images/video-aboutus3.mp4" type="video/mp4"/>
        </video>
      </div>
    </div>
  </div>
</section>