
<section class="section-page section-page--about-2">
  <div class="container">
    <div class="info-page info-page--about-2">
      <div class="info-page__content">
        <h2 class="h2">Who is Mr. Promise?</h2>
        <p>For some in the crypto scene he is known, for some rather less. With his years of experience in crypto and his high profits, he wants to give something back not only to the crypto community, but to the whole world. His numerous contacts in the crypto scene will lead the Promise project and its movement to a high level.</p>
        <div class="call-out">
          <div class="box-icon icon-blue"><svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M17.6916 2.25001C17.4923 2.09543 17.2605 1.98811 17.0136 1.93614C16.7668 1.88417 16.5114 1.88892 16.2666 1.95001L8.33328 3.93334L7.49995 4.16668H7.29995C7.11505 4.2123 6.95136 4.31988 6.83613 4.4715C6.72089 4.62313 6.66107 4.80965 6.66661 5.00001V11.6667C6.66107 11.857 6.72089 12.0436 6.83613 12.1952C6.95136 12.3468 7.11505 12.4544 7.29995 12.5H7.49995L8.33328 12.7083L16.2666 14.6917C16.3974 14.7245 16.5317 14.7413 16.6666 14.7417C17.0372 14.7393 17.397 14.6164 17.6916 14.3917C17.8885 14.2382 18.0483 14.0424 18.1594 13.8188C18.2705 13.5953 18.3299 13.3496 18.3333 13.1V3.56668C18.3337 3.31283 18.276 3.06226 18.1648 2.83408C18.0536 2.60589 17.8918 2.40612 17.6916 2.25001Z" fill="white"/>
<path d="M7.49996 4.16668H7.39996H5.8333C5.00578 4.1668 4.19705 4.41333 3.51017 4.87483C2.8233 5.33633 2.2894 5.9919 1.97653 6.75799C1.66366 7.52408 1.58598 8.36598 1.75341 9.17638C1.92084 9.98678 2.32579 10.729 2.91663 11.3083L4.04996 16.9917C4.12617 17.3753 4.33489 17.72 4.63959 17.9653C4.94428 18.2105 5.32555 18.3408 5.71663 18.3334H6.66663C7.10866 18.3334 7.53258 18.1578 7.84514 17.8452C8.1577 17.5326 8.3333 17.1087 8.3333 16.6667V3.93335L7.49996 4.16668Z" fill="#3772FF"/>
</svg>
          </div>
          <div class="block">
            <p>The Development Team is lead by one person, <strong>Mister Promise.</strong></p>
          </div>
        </div>
      </div>
      <div class="info-page__cover">
        <video autoplay="autoplay" muted="muted" loop="loop" playsinline="playsinline" poster="images/cover-aboutus2.png">
          <source src="images/video-aboutus2.mp4" type="video/mp4"/>
        </video>
      </div>
    </div>
  </div>
</section>