
<section class="main-page">
  <div class="container">
    <div class="info-page info-page--about-1">
      <div class="info-page__content">
        <h1 class="h1">Powered by The Whole Community</h1>
        <p>Learn how to buy Promise Tokens in just a few simple steps. You can buy Promise Tokens with Trust Wallet App or MetaMask.</p>
        <ul class="points-about">
          <li>
            <div class="block">
              <div class="icon bg-green"><svg width="14" height="9" viewBox="0 0 14 9" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M1.00001 3.33333L5.65306 8L13 1" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
              </div>
            </div>
            <h6 class="h6">Auto-generating liquidity pool</h6>
          </li>
          <li>
            <div class="block">
              <div class="icon bg-green"><svg width="14" height="9" viewBox="0 0 14 9" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M1.00001 3.33333L5.65306 8L13 1" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
              </div>
            </div>
            <h6 class="h6">Community-driven</h6>
          </li>
          <li>
            <div class="block">
              <div class="icon bg-green"><svg width="14" height="9" viewBox="0 0 14 9" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M1.00001 3.33333L5.65306 8L13 1" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
              </div>
            </div>
            <h6 class="h6">Loyalty is rewarded</h6>
          </li>
        </ul>
      </div>
      <div class="info-page__cover">
        <video autoplay="autoplay" muted="muted" loop="loop" playsinline="playsinline" poster="images/cover-aboutus1.png">
          <source src="images/video-aboutus1.mp4" type="video/mp4"/>
        </video>
      </div>
    </div>
  </div>
</section>