
<section class="section-page">
  <div class="container">
    <div class="box-value">
      <div class="box-value__list"><img src="images/pool.svg" alt=""/>
        <h4 class="h4">Lottery pool</h4>
        <p>Loyalty must be rewarded! That's why all loyal partners of the Promise Community get a right to enter the lottery pool.</p>
      </div>
      <div class="box-value__list"><img src="images/charity.svg" alt=""/>
        <h4 class="h4">Charity votes</h4>
        <p>Mr. Promise also volunteers to distribute donations on a regular basis to make the world a better place.</p>
      </div>
      <div class="box-value__list"><img src="images/burning.svg" alt=""/>
        <h4 class="h4">Burning votes</h4>
        <p>The Promise project is community-driven, it also means that the loyal partners of the movement have a co-right to the token itself.</p>
      </div>
    </div>
  </div>
</section>