
<section class="section-page section-page--hero animate">
  <div class="container">
    <div class="page-hero">
      <div class="page-hero__content">
        <h1 class="title"><span>Business</span><span>Infrastructure</span><span class="color-primary text-highlight">Built for Scale</span></h1>
        <div class="checklist">
          <div class="list-checklist">
            <div class="box-icon"><svg width="12" height="9" viewBox="0 0 12 9" fill="none" xmlns="http://www.w3.org/2000/svg">
<title> checked </title>
<path d="M1 4.5L4 7.5L10.5 1" stroke="CurrentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
            </div>
            <p>Autopilot Marketing</p>
          </div>
          <div class="list-checklist">
            <div class="box-icon"><svg width="12" height="9" viewBox="0 0 12 9" fill="none" xmlns="http://www.w3.org/2000/svg">
<title> checked </title>
<path d="M1 4.5L4 7.5L10.5 1" stroke="CurrentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
            </div>
            <p>Campaigns</p>
          </div>
          <div class="list-checklist">
            <div class="box-icon"><svg width="12" height="9" viewBox="0 0 12 9" fill="none" xmlns="http://www.w3.org/2000/svg">
<title> checked </title>
<path d="M1 4.5L4 7.5L10.5 1" stroke="CurrentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
            </div>
            <p>Content Creation</p>
          </div>
          <div class="list-checklist">
            <div class="box-icon"><svg width="12" height="9" viewBox="0 0 12 9" fill="none" xmlns="http://www.w3.org/2000/svg">
<title> checked </title>
<path d="M1 4.5L4 7.5L10.5 1" stroke="CurrentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
            </div>
            <p>World Class Support</p>
          </div>
        </div>
        <p class="main-text">PowerChap is the market-leading service for taking your business to the next level. Increase your revenue today and let us do the heavy lifting for your business</p>
        <div class="hero-action">
          <div class="block"><a class="btn-primary btn-cta-hero" href="https://calendly.com/powerchap/15m-powerchap-demo-samtal?month=2021-05" onclick="trackGetStarted()" target="_blank"><span class="bg"></span>
              <div class="btn-cta-hero__inner"><span class="text">Let's Get Started </span>
                <div class="icon"><svg width="9" height="15" viewBox="0 0 9 15" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M1 1L7.5 7.5L1 14" stroke="CurrentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
                </div>
              </div></a></div>
          <div class="block"><a class="btn-outline" href="contact.html"><span>Talk to Us</span></a></div>
        </div>
      </div>
      <figure class="page-hero__illustration"><img class="hero-illustration" src="images/big-hero.png" alt="Innovate at the Speed of Now With a trusted partner who can accelerate your digital transformation"/></figure>
    </div>
  </div>
</section>