
<section class="section-page section-page--clients">
  <div class="container">
    <header class="header-section animate">
      <div class="header-section__icon"><img src="images/tag.png" alt="Start Using PowerChap Marketing"/></div>
      <div class="header-section__content">
        <h2 class="heading">Start Using <br> <span class="color-primary"> PowerChap Marketing </span></h2>
        <p>Join thousands of Shopify Brands who use PowerChap to transform their business</p>
      </div>
    </header>
    <div class="box-clients animate">
      <div class="list-clients list-clients--desc">
        <p>TRUSTED BY</p>
      </div>
      <div class="list-clients"><img class="lazyload list-clients-1 animate" data-src="images/clients/1.png" alt=""/></div>
      <div class="list-clients"><img class="lazyload list-clients-2 animate delay-1" data-src="images/clients/2.png" alt=""/></div>
      <div class="list-clients"><img class="lazyload list-clients-3 animate delay-1" data-src="images/clients/3.png" alt=""/></div>
      <div class="list-clients"><img class="lazyload list-clients-4 animate delay-2" data-src="images/clients/4.png" alt=""/></div>
      <div class="list-clients"><img class="lazyload list-clients-5 animate delay-2" data-src="images/clients/5.png" alt=""/></div>
    </div>
  </div>
</section>