
<section class="section-page section-page--card-autopilot">
  <div class="container">
    <div class="card-dark">
      <div class="blocked-area animate"></div>
      <div class="line-ellipse line-ellipse--autopilot animate delay-5"></div>
      <header class="header-section">
        <div class="header-section__content">
          <h2 class="heading animate delay-4">
            <div>Operate within</div>5 min on <span class="color-primary">  Autopilot </span>
          </h2>
          <p class="animate delay-4">Enjoy a frictionless advertising based on your needs. PowerChap capture potential customers, growth of revenue and a spice-chilling ROI.</p>
        </div>
      </header>
      <div class="checklist">
        <div class="list-checklist animate delay-4">
          <div class="box-icon"><svg width="12" height="9" viewBox="0 0 12 9" fill="none" xmlns="http://www.w3.org/2000/svg">
<title> checked </title>
<path d="M1 4.5L4 7.5L10.5 1" stroke="CurrentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
          </div>
          <p>Generate more leads with less work.</p>
        </div>
        <div class="list-checklist animate delay-5">
          <div class="box-icon"><svg width="12" height="9" viewBox="0 0 12 9" fill="none" xmlns="http://www.w3.org/2000/svg">
<title> checked </title>
<path d="M1 4.5L4 7.5L10.5 1" stroke="CurrentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
          </div>
          <p>Create added value for your customers and help them get a more efficient shopping feeling.</p>
        </div>
        <div class="list-checklist animate delay-5">
          <div class="box-icon"><svg width="12" height="9" viewBox="0 0 12 9" fill="none" xmlns="http://www.w3.org/2000/svg">
<title> checked </title>
<path d="M1 4.5L4 7.5L10.5 1" stroke="CurrentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
          </div>
          <p>Become more competitive and offer your customers a powerful overall experience</p>
        </div>
        <div class="list-checklist animate delay-5">
          <div class="box-icon"><svg width="12" height="9" viewBox="0 0 12 9" fill="none" xmlns="http://www.w3.org/2000/svg">
<title> checked </title>
<path d="M1 4.5L4 7.5L10.5 1" stroke="CurrentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
          </div>
          <p>Become more competitive and offer your customers a powerful overall experience</p>
        </div>
      </div>
    </div>
  </div>
</section>