
<section class="section-page section-page--marketing-info">
  <div class="container">
    <header class="header-section header-section--marketing">
      <div class="header-section__icon"><img class="animate" src="images/marketing.png" alt="PowerChap is Your Marketing Hub"/></div>
      <div class="header-section__content header-section--marketing__content">
        <h2 class="heading heading-up animate">PowerChap is Your Marketing Hub</h2>
        <div class="header-steps">
          <h2 class="heading color-primary step-1 animate delay-1">Capture</h2>
          <div class="bubble step-2 animate delay-1"><svg width="24" height="17" viewBox="0 0 24 17" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M1 9.125L7.75 15.875L22.375 1.25" stroke="#0083FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
          </div>
          <h2 class="heading color-primary step-3 animate delay-2">Connect</h2>
          <div class="bubble step-4 animate delay-2"><svg width="19" height="15" viewBox="0 0 19 15" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M1 7.5H16.5M11 1L17.5 7.5L11 14" stroke="#0083FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
          </div>
          <h2 class="heading color-primary step-4 animate delay-3">Convert</h2>
        </div>
        <h2 class="heading heading-bottom animate delay-3">For Business Owners</h2>
        <p class="text-main animate delay-3">A single all-in-1 Platform for Digital Marketing and helpdesk. Make thousands on autopilot in minutes! Every brand asset in one!</p>
        <div class="cta-marketing animate delay-4"><a class="btn-primary" href="https://calendly.com/powerchap/15m-powerchap-demo-samtal?month=2021-05" onclick="trackGetStarted()" target="_blank"><span class="bg"></span><span class="text">Getting Started</span></a></div>
      </div>
    </header>
    <figure class="ilustration-animate-floating marketing-illustration animate flex items-center justify-center"><img class="lazyload laptop" data-src="images/laptop.png" alt="PowerChap is Your Marketing Hub"/>
      <picture>
        <source media="(min-width:1024px)" data-srcset="images/marketing-illustration.png"/><img class="lazyload" data-src="images/marketing-illustration--mobile.png" alt="PowerChap is Your Marketing Hub"/>
      </picture>
    </figure>
  </div>
</section>
<section class="section-page section-page--marketing-point-1">
  <div class="container">
    <div class="card-info">
      <div class="card-info__content">
        <h2 class="heading"><span class="animate color-primary block">Effortless</span><span class="animate">Advertising</span></h2>
        <p class="animate delay-1">Let us do the heavy work and take your business journey to the next level. The marketing game is changing and we change the game for you.</p>
      </div>
      <figure class="card-info__image"><img class="lazyload animate delay-2" data-src="images/home/1.svg"/></figure>
    </div>
  </div>
</section>
<section class="section-page section-page--marketing-point-2">
  <div class="container">
    <div class="card-info card-info--even">
      <div class="card-info__content">
        <h2 class="heading"><span class="animate color-primary">Increase Traffic </span><span class="animate">Marketing with Potential</span></h2>
        <p class="animate delay-1">Tv commercials are the past. Advertising is the new way of marketing and is a growing vertical for the social media industry. Incredible results with our powerful marketing. Experience Powerchap!</p>
      </div>
      <figure class="card-info__image"><img class="lazyload animate delay-2" data-src="images/home/2.svg"/></figure>
    </div>
  </div>
</section>