
<section class="section-page section-page--pricing">
  <header class="header-section header-section--pricing">
    <div class="container">
      <h2 class="heading animate">Pricing</h2>
      <div class="label animate">Target More Leads With Us</div>
    </div>
  </header>
  <div class="boxed-pricing">
    <div class="container">
      <div class="box-pricing">
        <div class="pricing animate"><img class="floating animate floating--top" src="images/pricing/float-1.png" alt=""/><img class="floating animate floating--middle" src="images/pricing/float-2.png" alt=""/><img class="floating animate floating--bottom" src="images/pricing/float-3.png" alt=""/>
          <h2 class="heading">Enterprise</h2>
          <p>Effectively advertising campaigns to generate more leads &amp; grow revenue. </p><span class="price">Let’s Talk</span>
          <p class="talk">White-label partnership marketing platform with advanced functionality to meet the needs of industry leaders. Develop your business with our dedicated support</p><a class="btn-pricing-cta" href="https://calendly.com/powerchap/15m-powerchap-demo-samtal?month=2021-05" onclick="trackGetStarted()" target="_blank">Get Started</a>
        </div>
      </div>
    </div>
  </div>
</section>