
<section class="section-page section-page--blog">
  <div class="container">
    <header class="header-section">
      <div class="block">
        <div class="header-label">Blog</div>
        <h2 class="heading">Read Our New Articles</h2>
      </div>
    </header>
    <div class="box-blog">
      <article class="item-blog">
        <figure class="item-blog__cover"><a href="blog-detail.html"><img class="lazyload" data-src="images/dummy/1.jpg" alt="title of blog"/></a>
          <div class="item-blog__content"><a class="blog-title" href="blog-detail.html">A New Look From Our Site</a>
            <div class="blog-meta"><a href="blog-detail.html">By Frances Kelly</a><span>| </span><a href="blog-detail.html">04 Apr 2020</a></div>
            <p>Donec facilisis tortor ut augue lacinia, at viverra est semper. Sed sapien me.</p>
          </div>
        </figure>
      </article>
      <article class="item-blog">
        <figure class="item-blog__cover"><a href="blog-detail.html"><img class="lazyload" data-src="images/dummy/2.jpg" alt="title of blog"/></a>
          <div class="item-blog__content"><a class="blog-title" href="blog-detail.html">If You’re not Using YAML for CloudFormation Templates, You will never earn</a>
            <div class="blog-meta"><a href="blog-detail.html">By Frances Kelly</a><span>| </span><a href="blog-detail.html">04 Apr 2020</a></div>
            <p>Learn why you should be using YAML for your AWS CloudFormation templates instead of JSON.</p>
          </div>
        </figure>
      </article>
      <article class="item-blog">
        <figure class="item-blog__cover"><a href="blog-detail.html"><img class="lazyload" data-src="images/dummy/3.jpg" alt="title of blog"/></a>
          <div class="item-blog__content"><a class="blog-title" href="blog-detail.html">Logging Step Functions to CloudWatch</a>
            <div class="blog-meta"><a href="blog-detail.html">By Frances Kelly</a><span>| </span><a href="blog-detail.html">04 Apr 2020</a></div>
            <p>AWS Step Functions executions need to be configured to log to CloudWatch. This article walks you through how to do it.</p>
          </div>
        </figure>
      </article>
      <article class="item-blog">
        <figure class="item-blog__cover"><a href="blog-detail.html"><img class="lazyload" data-src="images/dummy/6.jpg" alt="title of blog"/></a>
          <div class="item-blog__content"><a class="blog-title" href="blog-detail.html">Zoom's Make or Break Moment</a>
            <div class="blog-meta"><a href="blog-detail.html">By Frances Kelly</a><span>| </span><a href="blog-detail.html">04 Apr 2020</a></div>
            <p>Will Zoom fix the problems in their platform the coronavirus pandemic has helped highlight?</p>
          </div>
        </figure>
      </article>
      <article class="item-blog">
        <figure class="item-blog__cover"><a href="blog-detail.html"><img class="lazyload" data-src="images/dummy/4.jpg" alt="title of blog"/></a>
          <div class="item-blog__content"><a class="blog-title" href="blog-detail.html">Drupalsouth Diversity Scholarship Winner Announced</a>
            <div class="blog-meta"><a href="blog-detail.html">By Frances Kelly</a><span>| </span><a href="blog-detail.html">04 Apr 2020</a></div>
            <p>A few weeks ago we announced our diversity scholarship for DrupalSouth. Today we announce the winner.</p>
          </div>
        </figure>
      </article>
      <article class="item-blog">
        <figure class="item-blog__cover"><a href="blog-detail.html"><img class="lazyload" data-src="images/dummy/5.jpg" alt="title of blog"/></a>
          <div class="item-blog__content"><a class="blog-title" href="blog-detail.html">Buying an Apple Watch for 7USD</a>
            <div class="blog-meta"><a href="blog-detail.html">By Frances Kelly</a><span>| </span><a href="blog-detail.html">04 Apr 2020</a></div>
            <p>Learn how we hacked a social media marketing campaign to get a brand new Apple Watch for $7</p>
          </div>
        </figure>
      </article>
    </div>
    <div class="flex items-center justify-center"><a class="btn-primary" href="blog.html"><span>View More</span><i class="icon"><svg width="15" height="10" viewBox="0 0 15 10" stroke="CurrentColor" fill="none" xmlns="http://www.w3.org/2000/svg">
<title>arrow</title>
<path d="M1 4.86716H13.3264M10.358 1L14.2252 4.86716L10.358 8.73432"  stroke-linecap="round" stroke-linejoin="round"/>
</svg></i></a></div>
  </div>
</section>