
<section class="section-page section-page--testimonial">
  <div class="container">
    <header class="header-section">
      <div class="header-section__content animate">
        <h2 class="heading flex justify-center" style="width:100%"><span class="text-space-right">Customer</span><span class="color-primary">Reviews</span></h2>
      </div>
    </header>
    <div class="box-testimonial">
      <div class="box-testimonial__col">
        <div class="list-testimonial animate">
          <div class="account">
            <figure class="account__avatar"><img src="https://randomuser.me/api/portraits/men/47.jpg" alt=""/></figure>
            <div class="account__info"><strong>Nicholas Oloz</strong></div>
          </div>
          <p>The customer service for Powerchap is really fast. I always get a quick response and updates regarding the marketing performance. They are really good at what they do. Thumbs up!</p>
        </div>
        <div class="list-testimonial animate">
          <div class="account">
            <figure class="account__avatar"><img src="https://randomuser.me/api/portraits/women/47.jpg" alt=""/></figure>
            <div class="account__info"><strong>Dwayne Jones</strong></div>
          </div>
          <p>I’ve only used powerchap for a week and am already impressed with their customer service and marketing. I upgraded to the bigger plan right away and hope to continue using this service to grow my business.</p>
        </div>
      </div>
      <div class="box-testimonial__col">
        <div class="list-testimonial animate">
          <div class="account">
            <figure class="account__avatar"><img src="https://randomuser.me/api/portraits/men/27.jpg" alt=""/></figure>
            <div class="account__info"><strong>Tom Fisher</strong></div>
          </div>
          <p>PowerChap has been the dream come true reality for advertising. It is clear that it was conceived by business owners, with every aspect in mind! I would never go with anyone else!</p>
        </div>
        <div class="list-testimonial animate">
          <div class="account">
            <figure class="account__avatar"><img src="https://randomuser.me/api/portraits/men/87.jpg" alt=""/></figure>
            <div class="account__info"><strong>Shane Rotherford</strong></div>
          </div>
          <p>Awesome platform, Amazing customer support! Powerchap makes your life easy peasy lemon squeezy! I truly recommend working with them. From marketing to store creation, to above and beyond customer support!</p>
        </div>
      </div>
      <div class="box-testimonial__col">
        <div class="list-testimonial animate">
          <div class="account">
            <figure class="account__avatar"><img src="https://randomuser.me/api/portraits/men/37.jpg" alt=""/></figure>
            <div class="account__info"><strong>Tom Rusell</strong></div>
          </div>
          <p>Best Advertising agency! I had bad leads, but after PowerChap marketing the leads has grow significantly. Great customer support and practices.</p>
        </div>
        <div class="list-testimonial animate">
          <div class="account">
            <figure class="account__avatar"><img src="https://randomuser.me/api/portraits/women/37.jpg" alt=""/></figure>
            <div class="account__info"><strong>Giovanni Lane</strong></div>
          </div>
          <p>Two things: Excellent Platform and Outstanding Customer Service. First, the platform is very clear and accessible, making it very easy to use. In addition, Customer Support is amazing when it comes to helping you out with questions or misunderstandings. </p>
        </div>
      </div>
      <div class="box-testimonial__col">
        <div class="list-testimonial animate">
          <div class="account">
            <figure class="account__avatar"><img src="https://randomuser.me/api/portraits/men/7.jpg" alt=""/></figure>
            <div class="account__info"><strong>Daniel Kasto</strong></div>
          </div>
          <p>I've several times been generating bad leads with marketing but so far with Powerchap has been amazing, and I will continue use their service. I love the effort from PowerChap!</p>
        </div>
        <div class="list-testimonial animate last-testimonial">
          <div class="account">
            <figure class="account__avatar"><img src="https://randomuser.me/api/portraits/women/7.jpg" alt=""/></figure>
            <div class="account__info"><strong>Sarah Blac</strong></div>
          </div>
          <p>Awesome website, very helpful even for a newbie like me. I’ve read online that Powerchap really cares about their customers and I can acknowledge that.</p>
        </div>
      </div>
    </div>
  </div>
</section>