
<section class="section-page section-page--schedule">
  <div class="container">
    <header class="header-section header-section--schedule">
      <div class="header-section__icon"><img class="lazyload animate" data-src="images/call.png" alt="Optimized for Better ROI"/>
        <div class="label animate">Free 15-Minute Demo Call</div>
      </div>
      <div class="header-section__content header-section--schedule__content">
        <h2 class="heading animate">
          <div><span class="color-primary"> Schedule </span> your call</div>
          <div>with Dominic</div>
        </h2>
        <div class="cta-shcedule">
          <p class="animate delay-1">By the end of this Audit call, you will have a clear understanding of the next steps you can take for your business to start generating consistent and reliable results online with Funnel & Paid Advertising. Find a time on Dominic's calendar to schedule your call today and we look forward to speaking to you soon!</p>
          <div class="block animate delay-2"><a class="btn-primary" href="https://calendly.com/powerchap/15m-powerchap-demo-samtal?month=2021-05" onclick="trackGetStarted()" target="_blank"><span class="bg"></span><span class="text">Schedule Call</span></a></div>
        </div>
      </div>
    </header>
    <figure class="schedule-illustration flex items-center justify-center"><img class="lazyload animate delay-2" data-src="images/calendar.svg" alt="Schedule  your call with Dominic"/></figure>
  </div>
</section>