
<section class="section-page section-page--roi">
  <div class="container">
    <header class="header-section header-section--roi">
      <div class="header-section__icon"><img class="lazyload animate" data-src="images/roi.png" alt="Optimized for Better ROI"/></div>
      <div class="header-section__content header-section--roi__content">
        <h2 class="heading animate">
          <div><span class="color-primary text-space-right">Optimized</span><span>for</span></div><span>Better ROI</span>
        </h2>
        <p class="animate delay-1">Whether you have 5,000 customers. <br> PowerChap is your all-in-1 marketing solution</p>
      </div>
    </header>
    <figure class="roi-illustration flex items-center justify-center animate delay-1"><img class="lazyload ball" data-src="images/roi_ball.png" alt="Optimized for Better ROI"/>
      <picture>
        <source media="(min-width:1024px)" data-srcset="images/roi-illustration.png"/><img class="lazyload" data-src="images/roi-illustration--mobile.png" alt="Optimized for Better ROI"/>
      </picture>
    </figure>
  </div>
</section>