
<section class="section-page section-page--pricing-faq">
  <div class="line-ellipse line-ellipse--header-page line-ellipse--header-page-left"></div>
  <div class="line-ellipse line-ellipse--header-page line-ellipse--header-page-right"></div>
  <div class="container">
    <header class="header-section header-section--pricing-faq">
      <h2 class="heading animate"><span>Frequently Asked <br></span><span class="color-primary">Questions</span></h2>
    </header>
    <div class="boxed-faq animate" id="boxFaq">
      <div class="list-faq is-active">
        <div class="list-faq__header">
          <h3 class="subheading">How does PowerChap help grow my business?</h3>
          <div class="icon-collapse"></div>
        </div>
        <div class="list-faq__body">
          <p>PowerChap offers a large talent pool of professionals in various domains, whom you can hire as a dedicated employee for your business.</p>
        </div>
      </div>
      <div class="list-faq">
        <div class="list-faq__header">
          <h3 class="subheading">How is the Enterprise Plan different?</h3>
          <div class="icon-collapse"></div>
        </div>
        <div class="list-faq__body">
          <p>PowerChap offers a large talent pool of professionals in various domains, whom you can hire as a dedicated employee for your business.</p>
        </div>
      </div>
      <div class="list-faq">
        <div class="list-faq__header">
          <h3 class="subheading">How can I achieve 15-25% increase in revenue?</h3>
          <div class="icon-collapse"></div>
        </div>
        <div class="list-faq__body">
          <p>PowerChap offers a large talent pool of professionals in various domains, whom you can hire as a dedicated employee for your business.</p>
        </div>
      </div>
    </div>
  </div>
</section>