
<section class="section-page section-page--services">
  <div class="container">
    <div class="box-services">
      <div class="services-intro">
        <header class="header-section">
          <div class="header-label">Expertise</div>
          <h2 class="heading">Our Service</h2>
        </header>
        <p>Dave Hall Consulting has decades of experience delivering architecture, cloud, DevOps, open source and training services to our clients all around the world</p><a class="btn-primary" href="contact.html"><span>Accelerate Your Project</span><i class="icon"><svg width="15" height="10" viewBox="0 0 15 10" stroke="CurrentColor" fill="none" xmlns="http://www.w3.org/2000/svg">
<title>arrow</title>
<path d="M1 4.86716H13.3264M10.358 1L14.2252 4.86716L10.358 8.73432"  stroke-linecap="round" stroke-linejoin="round"/>
</svg></i></a>
      </div><a class="item-service" href="service-cloud.html">
        <figure class="item-service__cover"><img src="images/ic_cloud.svg" alt="Service Cloud"/></figure>
        <div class="item-service__content">
          <h3>Cloud</h3>
          <p>The cloud is transforming IT and organisations. Navigating all the options can be overwhelming. The wrong choice can be costly. If you want to migrate applications or optimise your cloud based workloads, Dave Hall Consulting can help.</p>
        </div></a><a class="item-service" href="service-automation.html">
        <figure class="item-service__cover"><img src="images/ic_automation.svg" alt="Service Automation"/></figure>
        <div class="item-service__content">
          <h3>Automation</h3>
          <p>Automation is an efficiency super power. We can help you automate processes to reduce errors, increase productivity and allow teams to focus on delivering value. </p>
        </div></a><a class="item-service" href="service-devsecops.html">
        <figure class="item-service__cover"><img src="images/ic_devsecops.svg" alt="Service Automation"/></figure>
        <div class="item-service__content">
          <h3>Automation</h3>
          <p>The cloud is transforming IT and organisations. Navigating all the options can be overwhelming. The wrong choice can be costly. If you want to migrate applications or optimise your cloud based workloads, Dave Hall Consulting can help.</p>
        </div></a><a class="item-service" href="service-opensource.html">
        <figure class="item-service__cover"><img src="images/ic_opensource.svg" alt="Open Source"/></figure>
        <div class="item-service__content">
          <h3>Open Source</h3>
          <p>Many teams use open source with little regard to the risks. Without a governance model you could be compromising the security of your application or leaving yourself legally liable. Dave Hall Consulting can help you manage your use of open source.</p>
        </div></a><a class="item-service" href="service-training.html">
        <figure class="item-service__cover"><img src="images/ic_training.svg" alt="Service Training"/></figure>
        <div class="item-service__content">
          <h3>Training</h3>
          <p>With technology evolving so quickly, platforms can go from cutting edge to legacy in a few years. We can tailor a training program to keep your team’s skills and knowledge up to date. </p>
        </div></a>
    </div>
  </div>
</section>