
<section class="section-page section-page--works">
  <div class="container">
    <header class="header-section">
      <div class="header-label">Work with us</div>
      <h2 class="heading">Do you need an expert, or another pair of hands to make your project successful?</h2>
    </header>
    <div class="box-works grid-cols-2">
      <div class="block">
        <p>We can assist at any stage of the application lifecycle, including architecture, build, deployment or operations. It could be your first cloud native application, optimizing your developer workflows, or rolling out automated patching. These are some of the areas where you can benefit from our expertise.</p>
      </div>
      <div class="block">
        <p>Dave Hall Consulting strives to understand the full context of your project  This allows us to recommend the right approach for your requirements and budget. We will be a partner not just another vendor. Let us bring our decades of experience to your business.</p>
      </div>
    </div>
    <div class="flex items-center justify-center"><a class="btn-primary" href="contact.html"><span>Accelerate Your Project</span><i class="icon"><svg width="15" height="10" viewBox="0 0 15 10" stroke="CurrentColor" fill="none" xmlns="http://www.w3.org/2000/svg">
<title>arrow</title>
<path d="M1 4.86716H13.3264M10.358 1L14.2252 4.86716L10.358 8.73432"  stroke-linecap="round" stroke-linejoin="round"/>
</svg></i></a></div>
  </div>
</section>