
<section class="section-page section-page--connected">
  <div class="container">
    <header class="header-section header-section--connected">
      <div class="label label-blue">Powerchap is your Hub</div>
      <div class="header-section__content">
        <h2 class="heading"><span class="color-primary text-space-right">Capture, Connect and Convert</span><span>more Customers</span></h2>
        <p>Business Infrastructure built for scale. Make thousands on autopilot in minutes! Every brand asset in one!</p>
      </div>
      <div class="header-cta">
        <div class="block"> <a class="btn-primary" href=""><span class="bg"></span><span class="text">Get Started</span></a></div>
        <div class="block"> <a class="btn-primary btn-primary-outline" href=""><span class="bg"></span><span class="text">Contact Us</span></a></div>
      </div>
    </header>
    <figure class="connected-cover"><img src="images/shopify/connected.svg" alt=""/></figure>
  </div>
</section>