
<section class="section-page section-page--pricing-feature">
  <div class="container">
    <header class="header-section header-section--pricing-feature">
      <h2 class="heading animate"><span class="color-primar">Full Suite of Features</span><span>Starter <br> and</span><span class="color-primary">Pro</span><span>Stores alike</span></h2>
      <p class="animate delay-1">Experience everything PowerChap has to offer. Get Started Today - No credit card required. Book a free consultation if your ready to get started.</p>
    </header>
    <div class="boxed-feature">           
      <div class="box-info animate delay-1">
        <figure class="box-info__icon"><img class="lazyload" data-src="images/pricing/feature-1.png" alt=""/></figure>
        <figure class="box-info__info">
          <h3 class="subheading">Autopilot Advertising</h3>
          <p>Best in class marketing designed to provide all the necessary insights for success!</p>
        </figure>
      </div>
      <div class="box-info animate delay-2">
        <figure class="box-info__icon"><img class="lazyload" data-src="images/pricing/feature-2.png" alt=""/></figure>
        <figure class="box-info__info">
          <h3 class="subheading">Unlimited Ads Campaigns</h3>
          <p>We deliver several campaigns as you would like with minimal cost and good leads!</p>
        </figure>
      </div>
      <div class="box-info animate delay-2">
        <figure class="box-info__icon"><img class="lazyload" data-src="images/pricing/feature-3.png" alt=""/></figure>
        <figure class="box-info__info">
          <h3 class="subheading">Boost Conversion Rate</h3>
          <p>Expand your e-commerce business worldwide with the help of our professional digital marketers.</p>
        </figure>
      </div>
      <div class="box-info animate delay-3">
        <figure class="box-info__icon"><img class="lazyload" data-src="images/pricing/feature-4.png" alt=""/></figure>
        <figure class="box-info__info">
          <h3 class="subheading">World Class Support  </h3>
          <p>Keep the pulse on all of your business' needs help with our world class support team.</p>
        </figure>
      </div>
    </div>
  </div>
</section>