
<section class="section-page section-page--card-consultant">
  <div class="container">
    <div class="card-blue card-blue--column">
      <div class="line-ellipse line-ellipse--card-right"></div>
      <h2 class="heading">Dominic ‍Consultation</h2>
      <p>In 15 Minutes I will give you a strategy to double your business or your money back.</p>
      <button>Schedule Call</button>
    </div>
  </div>
</section>