.section-page.section-page--automate
    .container
        display: flex
        .box-half
            flex: 1
            img
                max-width: 569px
                width: 100%
                margin-left: -42px
        .box-half:last-child
            margin-top: 23px
            max-width: 499px
            h2
                margin-bottom: 24px
                font-weight: 700
                font-size: 40px
                line-height: 120%
            p
                font-weight: 400
                font-size: 20px
                line-height: 160%
                span
                    font-weight: 700

@media screen and ( max-width: 668px )
    .section-page.section-page--automate
        .container
            align-items: center
            padding: 0 20px
            .box-half 
                img
                    margin-left: 0px
            .box-half:last-child
                h2
                    font-size: 35px
                    line-height: 110%
                    

@media screen and ( max-width: 480px )
    .section-page.section-page--automate
        margin-bottom: 100px
        .container
            flex-direction: column
            .box-half
                img
                    margin-left: 0px
            .box-half:last-child
                h2
                    text-align: center
                    font-size: 28px
                    line-height: 36px
                p  
                    text-align: center
                    font-size: 16px
                    line-height: 24px


