.section-page.section-page--ddos
    .container
        .box-flex-center
            display: flex
            flex-direction: column
            align-items: center
            h2
                text-align: center
                margin-bottom: 24px
                font-weight: 700
                font-size: 40px
                line-height: 48px
            p
                text-align: center
                width: 100%
                max-width: 770px
                font-size: 20px
                line-height: 32px
                margin-bottom: 48px


@media screen and ( max-width: 480px )
    .section-page.section-page--ddos
        margin-bottom: 100px
        .container
            .box-flex-center
                h2
                    font-size: 28px
                    line-height: 36px
                p
                    font-size: 16px
                    line-height: 24px


