.section-page.section-page--hero
    .header-page
        margin-bottom: 0px
        padding-bottom: 0px
    .main-hero
        .action
            display: flex
            align-items: center
            justify-content: center
            .block
                margin: 0 rem(12)

    .block-animation
        text-align: center
        img
            max-width: 100%
    .soon
        color: rgba(22, 23, 27, 1)
        font-weight: bold
        text-transform: uppercase
        border-radius: 4px
        padding: 2px 4px
        margin-left: rem(10)
        font-size: 11px
        background: linear-gradient(86.6deg, #F69321 0%, #DA3926 100%)

@media screen and ( max-width: 480px )
    .section-page.section-page--hero
        overflow: hidden
        .main-hero
            .action
                display: block
                .block
                    margin: 0px
                    a
                        width: 100%
                        margin-bottom: rem(16)
                        height: rem(50) !important
                        font-size: rem(14) !important

        .block-animation
            display: block
            overflow: hidden
            width: calc( 100% + 100px)
            img 
                height: 250px
                max-width: unset
                width: 100%
                object-fit: cover
                object-position: center
                transform: translateX(-65px)