.section-page.section-page--testi
    margin-bottom: 150px
    .container
        .upper-box
            display: flex
            justify-content: space-between
            margin-bottom: 48px
            align-items: flex-end
            h2
                font-weight: 700
                font-size: 40px
                line-height: 48px
                max-width: 495px
                width: 100%
            .slide-arrow-wrapper
                button
                    appearance: none
                    -moz-appearance: none
                    -webkit-appearance: none
                    background-color: transparent 
                    border: unset
                    img
                        width: 48px
                        height: 48px
                        margin-left: 16px

.slide-itm
    width: 370px
    display: flex
    flex-direction: column
    padding: 32px
    background: #212227
    box-shadow: 0px 24px 50px rgba(56, 55, 55, 0.05)
    border-radius: 4px
    margin-right: 30px
    img
        width: 40px
        margin-bottom: 32px
    p
        margin-bottom: 32px
        font-size: 16px
        line-height: 25px
    .user-wrapper
        display: flex
        img
            width: 56px
            margin-right: 16px
        .name-wrapper 
            font-size: 14px
            line-height: 22px
            div:first-child
                font-weight: 700
                margin-bottom: 5px
                font-size: 24px
                line-height: 28px


@media screen and ( max-width: 668px )
    .section-page.section-page--testi
        .container
            .upper-box
                h2
                    max-width: 400px

@media screen and ( max-width: 480px )
    .section-page.section-page--testi
        .container
            .upper-box
                h2
                    max-width: 200px
                    font-size: 28px
                    line-height: 36px
                .slide-arrow-wrapper
                    button
                        img
                            width: 38px
                            height: 38px
                            margin-left: 5px

    .slide-itm
        width: 300px

                    


