section.section-page.section-page--features
    .main-features
        .container
            header.header-section
                h2.h2.animate Features
                p.animate.delay-1 Our network and hardware allow you to host without worry. From enterprise hardware to amazing support, we got you covered.


            .box-features.grid-cols-3#featuresHome
                .box-inner
                    .list.animate
                        figure
                            img(data-src="images/home-feature-1.svg", alt="" class="lazyload")
                        h3.h3 Control Panel
                        p Our solutions gives you all of the power you need at your fingertips. Simple and powerful.
                //- end
                .box-inner
                    .list.animate.delay-1
                        figure
                            img(data-src="images/home-feature-2.svg", alt="" class="lazyload")
                        h3.h3 Unmertered Bandwidth
                        p All of our virtual machines come with a standard unmetered bandwidth on 40Gbps ports.
                //- end
                .box-inner
                    .list.animate.delay-1
                        figure
                            img(data-src="images/home-feature-3.svg", alt="" class="lazyload")
                        h3.h3 Amazing Support
                        p Here at Ignero our support team with 8+ years of hosting experience is always ready to help.
                //- end
                .box-inner
                    .list.animate.delay-2
                        figure
                            img(data-src="images/home-feature-4.svg", alt="" class="lazyload")
                        h3.h3 Modern Hardware
                        p All of our nodes and VPS are ran on the latest Intel and AMD CPUs which allows for maximum performance.
                //- end
                .box-inner
                    .list.animate.delay-2
                        figure
                            img(data-src="images/home-feature-5.svg", alt="" class="lazyload")
                        h3.h3 NVMe Storage
                        p All of our servers are hosted with NVMe SSD drives to ensure that your data is moving as fast as it can.
                //- end
                .box-inner
                    .list.animate.delay-2.list--feature
                        .block
                            h3.h3 Have you decided what is best for you?
                            a.link(href="pricing-cpanel.html") 
                                span View Web Hosting Plans
                                i
                                    <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M6 12.5L10 8.5L6 4.5" stroke="white" stroke-width="2"/>
                                    </svg>
                //- end