section.section-page.section-page--hero
    .container
        .main-hero
            header.header-page
                h1.animate Affordable &amp; Reliable Hosting
                p.animate With prices starting at <strong>$5/quarter</strong> along with free SSL certificates, CloudFlare RailGun, amazing reliability and performance you cannot go wrong with Ignero.
                .action
                    .block.animate.delay-1
                        a.btn-primary(href="dedicated-server.html") Dedicated Servers
                    .block.animate.delay-2
                        a.btn-default.btn-soon(href="pricing-vps.html")
                            span Ryzen VPS Plans
    figure.block-animation.animate
        img.lazyload(data-src="images/animate-homepage.svg", alt="")