
<section class="section-page section-page--team">
  <div class="container">
    <h2 class="heading">Our Awesome <span class="color-primary"> Team </span></h2>
    <section class="boxed-team">
      <article class="box-team box-team--1">
        <figure class="box-team__avatar"><img class="lazyload" data-src="images/about/dom.jpg" alt=""/></figure>
        <div class="box-team__info">
          <h3>Dominic Chabo</h3><span class="color-primary">CEO </span>
        </div>
      </article>
      <article class="box-team box-team--2">
        <figure class="box-team__avatar"><img class="lazyload" data-src="images/about/melina.jpg" alt=""/></figure>
        <div class="box-team__info designer">
          <h3>Melina Chamoun</h3><span class="color-primary">COO</span>
        </div>
      </article>
      <article class="box-team box-team--3">
        <figure class="box-team__avatar"><img class="lazyload" data-src="images/about/erik.jpg" alt=""/></figure>
        <div class="box-team__info">
          <h3>Erik Wallstrom</h3><span class="color-primary">CTO</span>
        </div>
      </article>
      <article class="box-team box-team--4">
        <figure class="box-team__avatar"><img class="lazyload" data-src="images/about/lukas.jpg" alt=""/></figure>
        <div class="box-team__info">
          <h3>Lukas Bodemar</h3><span class="color-primary">Copywriter</span>
        </div>
      </article>
      <article class="box-team box-team--5">
        <figure class="box-team__avatar"><img class="lazyload" data-src="images/about/sam.jpg" alt=""/></figure>
        <div class="box-team__info">
          <h3>Samuel Eriksson</h3><span class="color-primary">CMO</span>
        </div>
      </article>
      <article class="box-team box-team--6">
        <figure class="box-team__avatar"><img class="lazyload" data-src="images/about/nils.jpg" alt=""/></figure>
        <div class="box-team__info">
          <h3>Nils Holmgren</h3><span class="color-primary">Performance coach</span>
        </div>
      </article>
    </section>
  </div>
</section>