.section-page.section-page--about
    figure
        margin-bottom: rem(100)
        text-align: center
        img
            max-width: 100%
    p
        max-width: 770px
        margin: 0 auto
        text-align: center


.box-numbers
    display: grid
    grid-template-columns: repeat(4, minmax(0, 1fr))
    border-radius: 4px
    margin-bottom: rem(32)
    margin-top: rem(48)
    &__list
        text-align: center
        border-left: 1px solid rgba(255, 255, 255, 0.1)
        h3
            font-size: rem(32)
            margin-bottom: rem(8)
        p
            font-size: rem(16)
        &:first-child
            border-left: none

@media screen and ( max-width: 480px )
    .section-page.section-page--about
        overflow: hidden
        figure
            margin-bottom: rem(20)
            display: block
            overflow: hidden
            width: calc( 100% + 100px)
            img 
                height: 250px
                max-width: unset
                width: 100%
                object-fit: cover
                object-position: center
                transform: translateX(-65px)
        p
            max-width: 770px
            margin: 0 auto
            text-align: center

    .box-numbers
        display: grid
        grid-template-columns: repeat(2, minmax(0, 1fr))
        margin-bottom: rem(80)
        margin-top: rem(48)
        &__list
            text-align: center
            border-bottom: 1px solid rgba(255, 255, 255, 0.1)
            padding-bottom: rem(32)
            h3
                font-size: rem(24)
                margin-bottom: rem(8)
            p
                font-size: rem(14)
            &:nth-of-type(3)
                border-left: none
            &:last-child,
            &:nth-of-type(3)
                border-bottom: none
                padding-top: rem(32)
                padding-bottom: 0px
