.section-page.section-page--contact

.box-contact
    display: flex
    justify-content: space-between
    &__content
        width: 100%
        flex: 0 0 calc( 100% / (12/5))
        max-width:  calc( 100% / (12/5))
        h3
            font-size: rem(40)
            margin-bottom: rem(24)
        p
            font-size: rem(16)
            margin-bottom: rem(16)

    &__form
        width: 100%
        flex: 0 0 calc( 100% / (12/6))
        max-width:  calc( 100% / (12/6))


.action-contact
    padding-top: rem(32)
    display: flex
    width: 100%
    justify-content: space-between
    h4
        margin-bottom: rem(24)
        font-size: rem(20)
    .connect
        a
            display: block
            padding: rem(6)
            color: #898a8c
            span
                color: #fff

    .call-contact
        display: flex
        margin-bottom: rem(20)
        min-width: 300px
        span
            width: 100%
            max-width: 64px
            display: block
            color: #898a8c
        a
            color: #fff
            line-height: 1.6


.contact-form
    display: grid
    grid-template-columns: repeat(2, minmax(0, 1fr))
    gap: rem(30)
    .field
        label
            display: block
            font-size: rem(14)
            margin-bottom: rem(4)
        input,
        textarea
            background: #212227
            box-shadow: 0px 24px 50px rgba(56, 55, 55, 0.05)
            border-radius: 4px
            border: none
            width: 100%
            padding: rem(16)
            font-family: $font-base
            color: #fff

        textarea
            resize: none
            height: 216px
        &--area,
        &--btn
            grid-column: span 2 / span 2


@media screen and ( max-width: 480px )
    .box-contact
        display: flex
        justify-content: space-between
        flex-direction: column
        padding-top: rem(72)
        &__content,
        &__form
            width: 100%
            flex: 0 0 100%
            max-width:  100%
            h3
                font-size: rem(40)
                margin-bottom: rem(24)
            p
                font-size: rem(16)
                margin-bottom: rem(16)

        .action-contact
            padding-top: rem(32)
            display: block
            .block
                margin-bottom: rem(24)
            .connect
                a
                    padding: rem(12) 0

    .contact-form
        display: block
        grid-template-columns: unset
        gap: rem(0px)
        margin-top: rem(72)
        .field
            margin-bottom: rem(24)
