.dedicated-header
    width: 100%
    max-width: 946px

.dedicated-inner-content
    display: flex
    flex-direction: column 
    align-items: center
    .loc-dropdown
        padding: 16px
        background: #212227
        box-shadow: 0px 24px 50px rgba(56, 55, 55, 0.05)
        border-radius: 4px
        margin-bottom: 72px
        display: flex
        justify-content: center
        align-items: center
        position: relative
        .drop-head 
            display: flex
            flex-direction: row
            align-items: center
            position: relative
            padding-right: 25px
            font-size: 20px
            line-height: 120%
            padding-right: 20px
            cursor: pointer
            .title-drop
                min-width: 140px
            i
                position: absolute
                right: 0px
                z-index: 1
            .drop-body 
                display: none
                position: absolute
                top: 120%
                padding: 10px 20px
                background-color: white
                border-radius: 4px
                a
                    color: black
                    float: left
                    width: 100%
                    margin-bottom: 10px
                a:last-child
                    margin-bottom: 0px
        .drop-head.active
            i
                transform: rotate(180deg)
        span
            margin-right: 16px
            font-size: 20px
            line-height: 120%
        select
            -moz-appearance: none
            -webkit-appearance: none
            -ms-progress-appearance: none
            background-color: transparent 
            border: unset
            color: white
            font-weight: bold
            font-size: 20px
            line-height: 120%
            padding-right: 20px
            outline: none
            position: relative
            z-index: 2
        
    
    .product-itm-wrap
        width: 100%
        max-width: 1170px
        display: flex
        flex-direction: column
        .product-itm
            width: 100%
            background: #212227
            box-shadow: 0px 24px 50px rgba(56, 55, 55, 0.05)
            border-radius: 4px
            padding: 28px 24px
            margin-bottom: 30px
            .top-block
                display: grid
                grid-template-columns: auto auto repeat(2, 1fr) auto
                grid-template-rows: 1fr
                grid-column-gap: 20px
                grid-row-gap: 0px
                padding-bottom: 28px
                border-bottom: 1px solid rgba(255, 255, 255, 0.05)
                a 
                    width: 148px
                    font-weight: bold
                    font-size: 14px
                    line-height: 120%
                    margin-left: 200px
                    justify-self: flex-end
                a.not-avail 
                    background: unset
                    background-color: grey
                    cursor: not-allowed
                .txt-wrap 
                    display: flex
                    flex-direction: column
                    .small
                        font-size: 16px
                        line-height: 120%
                        margin-bottom: 5px
                    .big
                        font-weight: bold
                        font-size: 24px
                        line-height: 120%
                    .txt-inner-wrap
                        display: flex
                        align-items: center
                        .inner-big
                            font-weight: bold
                            font-size: 24px
                            line-height: 120%
                        .inner-small
                            font-weight: normal
                            font-size: 16px
                            line-height: 120%
                            margin-left: 8px
            .btm-block
                margin-top: 24px
                border-bottom: unset
                display: grid
                grid-template-columns: repeat(7, auto)
                grid-template-rows: 1fr
                grid-column-gap: 10px
                grid-row-gap: 0px
                padding-bottom: unset

    .feature-section
        max-width: 1170px
        margin: auto
        margin-top: 150px
        margin-bottom: 150px
        h2 
            font-weight: normal
            font-size: 40px
            line-height: 120%
            margin-bottom: 24px
        p
            font-size: 20px
            line-height: 160%
            margin: auto
            margin-bottom: 72px
            max-width: 770px
        .feature-grid
            display: grid
            grid-template-columns: repeat(3, 1fr)
            grid-template-rows: 1fr
            grid-column-gap: 30px
            grid-row-gap: 0px
            .feature-grid-itm 
                background: #212227
                box-shadow: 0px 24px 50px rgba(56, 55, 55, 0.05)
                border-radius: 4px
                padding: 38px
                img
                    width: 100px
                    height: auto
                h3 
                    margin-bottom: 16px
                    margin-top: 36px
                    font-weight: bold
                    font-size: 24px
                    line-height: 120%
                p
                    font-size: 16px
                    line-height: 160%
                    margin-bottom: unset

    .os-section
        max-width: 1170px
        margin: auto
        margin-bottom: 150px
        h2
            font-weight: bold
            font-size: 40px
            line-height: 120%
            margin-bottom: 72px
        .os-section-grid 
            display: grid
            grid-template-columns: repeat(3, 1fr)
            grid-template-rows: 1fr
            grid-column-gap: 30px
            grid-row-gap: 30px
            .os-section-itm 
                display: flex
                align-items: center
                background: #212227
                box-shadow: 0px 24px 50px rgba(56, 55, 55, 0.05)
                border-radius: 4px
                padding: 28px
                img
                    width: 72px
                div
                    display: flex
                    flex-direction: column
                    justify-content: center
                    align-items: flex-start
                    span:first-child
                        font-weight: bold
                        font-size: 16px
                        line-height: 160%
                    span:last-child
                        font-size: 14px
                        line-height: 160%

    .ddos-section
        max-width: 970px
        margin: auto
        display: flex
        align-items: center
        justify-content: center
        margin-bottom: 100px
        .left-block
            display: flex
            flex-direction: column
            flex: 1
            h2 
                font-weight: bold
                font-size: 40px
                line-height: 120%
            p
                margin-top: 24px
                margin-bottom: 32px
                font-size: 20px
                line-height: 160%
                max-width: 470px
            .legend-wrap 
                display: flex
                .legend-itm
                    display: flex
                    flex-direction: column
                    width: 50px
                    margin-right: 49px
                    img
                        width: 48px
                        height: 48px
                        margin: unset
                        margin-bottom: 10px
                    span 
                        font-family: Arial
                        font-size: 9.64px
                        line-height: 11px
        img
            width: 50%
            max-width: 444.28px
            margin-left: 56px
            
    .ddos-ico-section
        max-width: 1170px
        margin: auto
        margin-bottom: 150px
        display: grid
        grid-template-columns: repeat(5, 1fr)
        grid-template-rows: 1fr
        grid-column-gap: 67px
        grid-row-gap: 0px
        .ddos-ico-itm 
            display: flex
            flex-direction: column
            align-items: center
            img 
                width: 100px
                height: auto
                margin-bottom: 19px
            span
                font-weight: bold
                font-size: 20px
                line-height: 120%

    .faq-section
        width: 770px
        margin: auto
        margin-bottom: 150px
        h2 
            font-weight: bold
            font-size: 40px
            line-height: 120%
            margin-bottom: 86px
        .accord-itm 
            border-bottom: 1px solid rgba(255, 255, 255, 0.05)
            margin-bottom: 24px
            padding-bottom: 24px
            cursor: pointer
            .accord-head 
                display: flex
                justify-content: space-between
                span
                    font-weight: bold
                    font-size: 24px
                    line-height: 120%
            .accord-body
                display: none
                font-weight: normal
                font-size: 16px
                line-height: 160%
                margin-top: 16px
        .accord-itm:last-child
            border-bottom: unset
        .accord-itm.active
            .accord-head
                i
                    transform: rotate(180deg)

        



@media screen and ( max-width: 800px )
    .dedicated-inner-content
        .product-itm-wrap
            padding: 0 20px
            .product-itm
                .top-block,
                .btm-block
                    grid-template-columns: repeat(2, 1fr)
                    grid-template-rows: 1fr
                    grid-column-gap: 15px
                    grid-row-gap: 10px
                    button 
                        margin-left: 0px
                        justify-self: self-start
                        height: 45px
                .top-block
                    a
                        margin-left: unset
                        grid-column: 2
                        grid-row: 1
        .faq-section
            width: 600px
            padding: 0 20px
        .ddos-ico-section,
        .os-section,
        .ddos-section,
        .feature-section
            padding: 0 20px


@media screen and ( max-width: 668px )
    .dedicated-inner-content
        .product-itm-wrap
            .product-itm
                .top-block,
                .btm-block
                    grid-template-columns: repeat(1, 1fr)
                    grid-column-gap: 15px
                    grid-row-gap: 20px
                .top-block
                    a
                        grid-column: 1
                        grid-row: 1
                        margin: auto
        .feature-section
            .feature-grid
                grid-template-columns: repeat(1, 1fr)
                grid-template-rows: 1fr
                grid-column-gap: 30px
                grid-row-gap: 20px
        .os-section
            .os-section-grid 
                display: grid
                grid-template-columns: repeat(2, 1fr)
                grid-template-rows: 1fr
                grid-column-gap: 30px
                grid-row-gap: 30px
                .os-section-itm 
                    display: flex
                    flex-direction: column
                    align-items: flex-start
                    text-align: left
        .ddos-section
            display: flex
            flex-direction: column
            .left-block
                flex: 1
            img
                width: 100%
                margin: unset
        .ddos-ico-section
            width: 100%
            grid-template-columns: repeat(2, 1fr)
            grid-template-rows: 1fr
            grid-column-gap: 30px
            grid-row-gap: 30px
        .faq-section
            width: 500px


@media screen and ( max-width: 468px )
    .dedicated-inner-content
        .feature-section
            padding: 0 20px
            .feature-grid
                grid-template-columns: repeat(1, 1fr)
                grid-template-rows: 1fr
                grid-column-gap: 30px
                grid-row-gap: 20px
        .os-section
            padding: 0 20px
            .os-section-grid 
                display: grid
                grid-template-columns: repeat(2, 1fr)
                grid-template-rows: 1fr
                grid-column-gap: 30px
                grid-row-gap: 30px
        .faq-section
            width: 300px
            padding: 0 20px


