.section-page--marker
    margin-bottom: rem(72)
    
.box-location
    overflow: hidden
    position: relative
    picture
        img
            max-width: unset
            width: 100%
    .box-marker
        position: absolute
        left: 50%
        top: 50%
        transform: translate(-50%,-50%)
        z-index: 2

        .popup-marker
            position: absolute
            color: #16171B
            width: 200px
            text-align: center
            background-color: #fff
            border-radius: 4px
            border: 1px solid #E86D23
            padding: rem(16) rem(20)
            top: -100%
            left: 50%
            transform: translateX(-50%)translateY(-20px)
            box-shadow: 0px 24px 50px rgba(232, 109, 35, 0.25)
            &::before
                content: ''
                width: 20px
                height: 20px
                border-radius: 4px
                background-color: #E86D23
                position: absolute
                bottom: -9px
                transform: rotate(-45deg)
                left: 50%
                margin-left: -10px
                z-index: -1
            &::after
                content: ''
                width: 20px
                height: 20px
                border-radius: 4px
                background-color: red
                position: absolute
                bottom: -8px
                transform: rotate(-45deg)
                left: 50%
                margin-left: -10px
                background-color: #fff
            strong
                padding-bottom: rem(10)
                display: block
                font-size: rem(18)
                background: linear-gradient(86.6deg, #F69321 0%, #DA3926 100%)
                -webkit-background-clip: text
                -webkit-text-fill-color: transparent
            p
                font-size: rem(12)
                line-height: 1.2
    .test-speed
        display: flex
        align-items: center
        justify-content: center
        position: absolute
        bottom: rem(20)
        width: 100%
        &__label
            background-color: #fff
            color: #16171B
            height: 50px
            border-radius: 4px
            box-shadow: 0px 4px 4px rgba(22, 23, 27, 0.1)
            line-height: 50px
            padding: 0 rem(16)
            margin-right: rem(16)
            strong
                font-weight: normal
                margin-right: 8px
            span
                opacity: 0.6

.section-page--location
    .box-small
        max-width: 910px
        margin: 0 auto
        text-align: center
        padding-bottom: rem(72)

    .box-location
        display: grid
        grid-template-columns: repeat(3, minmax(0, 1fr))
        border-radius: 4px
        margin-bottom: rem(32)
        margin-top: rem(48)
        max-width: 910px
        margin-left: auto
        margin-right: auto
        &__list
            border-left: 1px solid rgba(255, 255, 255, 0.1)
            width: 100%
            display: flex
            justify-content: center
            h3
                font-size: rem(20)
                margin-bottom: rem(12)

            &:first-child
                border-left: none
                
            .wrapper
                .divider
                    display: block
                    padding-bottom: rem(24)

@media screen and ( max-width: 480px )
    .section-page--marker
        .box-location
            .test-speed
                display: block
                bottom: 0
                padding: rem(20)
                &__label,
                &__cta
                    width: 100%
                .btn-primary
                    margin-top: rem(16)
                    width: 100% 

    .section-page--location
        .box-location
            display: grid
            grid-template-columns: repeat(1, minmax(0, 1fr))
            text-align: center
            &__list
                border-left: 0px
                margin-bottom: rem(32)