.section-page.section-page--pricing-cpanel
    .box-pricing
        display: grid
        grid-template-columns: repeat(5, minmax(0, 1fr))
        background: #212227
        box-shadow: 0px 24px 50px rgba(56, 55, 55, 0.05)
        border-radius: 4px
        margin-bottom: rem(32)

.list-pricing
    padding: rem(32) rem(24)
    border-left: 1px solid rgba(255, 255, 255, 0.05)
    position: relative
    overflow: hidden
    &::before
        content: ''
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        width: 100%
        height: 100%
        background: radial-gradient(177.35% 100% at 0% 100%, #DA3926 0%, #F69321 100%)
        border-radius: 4px
        transition: all 0.3s ease-in-out
        opacity: 0
    &:first-child
        border-left: none
    &:hover
        &::before
            opacity: 1
        a.btn-gray
            background-color: #fff
            color: $color-primary

    &__header,
    &__body,
    &__footer
        position: relative
        z-index: 1

    &__header
        text-align: center
        min-height: rem(90)
        strong
            font-size: rem(16)
            margin-bottom: rem(12)
            display: block
        .price
            display: flex
            justify-content: center
            align-items: flex-end
            h3
                font-size: rem(32)
                margin: 0 4px
            span
                font-size: rem(16)
                font-weight: 700
                position: relative
                top: -5px


    &__body
        padding: rem(16) 0 rem(32)
        ul
            li
                line-height: 2.4
                position: relative
                &::before
                    content: ''
                    width: 4px
                    height: 4px
                    border-radius: 100%
                    background-color: #fff
                    display: inline-block
                    margin-right: 8px
                    transform: translateY(-2px)
    &__footer
        a.btn-gray
            width: 100%

.box-support
    display: grid
    grid-template-columns: repeat(7, minmax(0, 1fr))
    gap: rem(30)
    text-align: center
    img
        height: rem(68)
        width: 100%
        object-fit: contain
        object-position: center

.box-table
    // padding-top: rem(72)

table.table
    width: 100%
    th
        font-size: rem(14)
        font-weight: 500
        padding-bottom: rem(24)
        text-align: left

    th, td
        padding: rem(16)
        &:last-child,
        &:first-child
            padding-left: rem(48)

    td
        background: rgba(33, 34, 39, 1)
        transition: all 0.3s ease-in-out
        vertical-align: middle
        a
            width: 100%

        .btn-gray
            position: relative
            overflow: hidden
            .bg
                position: absolute
                left: 0
                top: 0
                width: 100%
                height: 100%
                background: linear-gradient(86.6deg, #F69321 0%, #DA3926 100%)
                transition: all 0.3s ease-in-out
                opacity: 0
            .text
                position: relative
                z-index: 1
    tr:hover
        td 
            background-color: rgba(255, 255, 255, 0.1)
            a
                color: $color-primary
            .btn-gray
                .bg
                    opacity: 1
                .text
                    color: #fff

.table-pricing
    display: table
    width: 100%
    .table-list
        display: table-row
        width: 100%
        position: relative
        background: rgba(33, 34, 39, 1)
        &::before
            content: ''
            position: absolute
            top: 0
            left: 0
            right: 0
            bottom: 0
            width: 100%
            height: 100%
            opacity: 0
            background: radial-gradient(177.35% 100% at 0% 100%, #DA3926 0%, #F69321 100%)
        li
            display: table-cell
            transition: all 0.3s ease-in-out
            padding: rem(16)
            position: relative
            z-index: 3
            &:last-child,
            &:first-child
                padding-left: rem(48)
            .btn-gray
                position: relative
                overflow: hidden
                .bg
                    position: absolute
                    left: 0
                    top: 0
                    width: 100%
                    height: 100%
                    background: linear-gradient(86.6deg, #F69321 0%, #DA3926 100%)
                    transition: all 0.3s ease-in-out
                    opacity: 0
                .text
                    position: relative
                    z-index: 1
                    .price
                        display: none
        &:hover
            li 
                background-color: rgba(255, 255, 255, 0.1)
                a
                    color: $color-primary
                .btn-gray
                    .bg
                        opacity: 1
                    .text
                        color: #fff
        &--head
            background: transparent
            li
                font-size: rem(14)
                font-weight: 500
                padding-bottom: rem(24)
            &:hover
                li
                    background: $color-bg

@media screen and ( min-width: 481px) and ( max-width: 1024px)
    .section-page.section-page--pricing-cpanel
        .container
            padding: 0px
        .box-pricing
            display: block
            row-gap: 0px
            background-color: transparent
            border-radius: 0px
            box-shadow: unset
            .list-pricing
                box-shadow: 0px 24px 50px rgba(56, 55, 55, 0.05)
                border-radius: 4px
                margin-bottom: rem(0)
                background: #212227
                border: 0px
                text-align: center
                padding: rem(16)
                margin-left: rem(16)
                width: 100%
                &:last-child
                    margin-right: rem(0)
                ul
                    li
                        &::before
                            content: none

                &__header
                    padding-top: rem(16)
                    min-height: 110px

    .box-support
        display: flex
        flex-wrap: wrap
        column-gap: 0
        align-items: center
        justify-content: center
        img
            flex: 0 0 calc( 100% / 4 )
            max-width: calc( 100% / 4 )
            height: rem(56)

    .section-page--card-pricing
        .slick-list
            padding: 0 20px !important
        .slick-dots
            li
                &:last-child
                    display: none
        .container
            padding: 0px
        .table-pricing
            display: block
            width: 100%
            .table-list
                display: block
                width: 100%
                background: rgba(33, 34, 39, 1)
                border-radius: 4px
                padding: rem(24) rem(16) rem(16) rem(16)
                margin: 0 rem(8)
                width: 100%
                &:nth-of-type(2)
                    margin-left: 0px
                li
                    display: block
                    transition: all 0.3s ease-in-out
                    padding: rem(12) 0
                    text-align: center
                    width: 100%
                    font-size: rem(14)
                    pointer-events: none
                    &:last-child,
                    &:first-child
                        padding-left: 0px
                    &:nth-of-type(6)
                        display: none
                    a.table-link
                        font-weight: bold
                        font-size: rem(16)
                        
                    .btn-gray
                        position: relative
                        overflow: hidden
                        width: 100%
                        .bg
                            position: absolute
                            left: 0
                            top: 0
                            width: 100%
                            height: 100%
                            background: linear-gradient(86.6deg, #F69321 0%, #DA3926 100%)
                            transition: all 0.3s ease-in-out
                            opacity: 0
                        .text
                            position: relative
                            z-index: 1
                            .price
                                display: inline

                &:hover
                    &::before
                        opacity: 1
                    li
                        background-color: transparent
                        a.table-link
                            color: #fff
                        a.btn-gray
                            background-color: #fff
                            span
                                color: $color-primary
                &--head
                    display: none !important



@media screen and ( max-width: 480px)
    .section-page.section-page--pricing-cpanel
        .container
            padding: 0px
        .box-pricing
            display: block
            row-gap: 0px
            background-color: transparent
            border-radius: 0px
            box-shadow: unset
            .list-pricing
                box-shadow: 0px 24px 50px rgba(56, 55, 55, 0.05)
                border-radius: 4px
                margin-bottom: rem(0)
                background: #212227
                border: 0px
                text-align: center
                padding: rem(16)
                margin-right: rem(16)
                width: 75vw
                &:last-child
                    margin-right: rem(0)
                ul
                    li
                        &::before
                            content: none

                &__header
                    padding-top: rem(16)
                    min-height: 110px
    .section-page--card-pricing
        .slick-list
            padding: 0 20px !important
        // .slick-dots
        //     li
        //         &:last-child
        //             display: none
        .container
            padding: 0px
        .table-pricing
            display: block
            width: 100%
            .table-list
                display: block
                width: 100%
                background: rgba(33, 34, 39, 1)
                border-radius: 4px
                padding: rem(24) rem(16) rem(16) rem(16)
                margin: 0 rem(8)
                width: 75vw
                &:nth-of-type(2)
                    margin-left: 0px
                li
                    display: block
                    transition: all 0.3s ease-in-out
                    padding: rem(12) 0
                    text-align: center
                    width: 100%
                    font-size: rem(14)
                    pointer-events: none
                    &:last-child,
                    &:first-child
                        padding-left: 0px
                    &:nth-of-type(6)
                        display: none
                    a.table-link
                        font-weight: bold
                        font-size: rem(16)
                        
                    .btn-gray
                        position: relative
                        overflow: hidden
                        width: 100%
                        .bg
                            position: absolute
                            left: 0
                            top: 0
                            width: 100%
                            height: 100%
                            background: linear-gradient(86.6deg, #F69321 0%, #DA3926 100%)
                            transition: all 0.3s ease-in-out
                            opacity: 0
                        .text
                            position: relative
                            z-index: 1
                            .price
                                display: inline

                &:hover
                    &::before
                        opacity: 1
                    li
                        background-color: transparent
                        a.table-link
                            color: #fff
                        a.btn-gray
                            background-color: #fff
                            span
                                color: $color-primary
                &--head
                    display: none !important

    .box-support
        grid-template-columns: repeat(2, minmax(0, 1fr))
        img
            height: rem(56)
            &:last-child
                grid-column: span 2
