.privacy-inner-content
    width: 100%
    max-width: 770px
    margin: auto
    margin-bottom: 150px
    margin-top: 72px
    p,
    .date-label
        margin-bottom: 2rem



@media screen and ( max-width: 800px )
    .privacy-inner-content
        padding: 0 20px