
<section class="section-page section-page--business">
  <div class="container">
    <div class="business-intro">
      <header class="header-section">
        <h2 class="heading"><span>The Backbone for <br></span><span class="color-primary">‍Internet business</span></h2>
        <p>Digital marketing is the most important tool to help your business make revenue. Without marketing is unlikely to get the leads and reach. At PowerChap we service millions of clients monthly for 8-9 Figure milestones.</p>
      </header>
      <figure class="business-intro__cover"><img src="images/shopify/business.png" alt=""/></figure>
    </div>
    <div class="business-point">
      <div class="point">
        <h3 class="heading">98%</h3><strong>Open Rate</strong>
        <p>Transform your Marketing &amp; <br> Customer service</p>
      </div>
      <div class="point">
        <h3 class="heading">19%</h3><strong>Abandoned checkout CR</strong>
        <p>Our pricing is simple. <br> You only pay for generated sales</p>
      </div>
      <div class="point">
        <h3 class="heading">1000%</h3><strong>Guaranteed Roas</strong>
        <p>Autopilot Marketing. <br> Achieve insane conversion rates!</p>
      </div>
    </div>
  </div>
</section>