
<section class="section-page section-page--revenue">
  <div class="container">
    <header class="header-section header-section--shopify">
      <h2 class="heading"><span class="color-primary text-space-right">3 Steps to</span><span>More Revenue</span></h2>
      <p>In less than 5 minutes you can generate $1,000’s on autopilot. Our simple process is dedicated towards enhancing your business. Let us do the heavy lifting for your business.</p>
    </header>
    <div class="card-info">
      <div class="card-info__content">
        <h2 class="heading color-primary">Effortless Marketing! <br> <span class="color-dark"> PowerChap is Your Solution! </span></h2>
        <p>Content Creation, Landing Pages, Facebook Ads Marketing, Videos</p>
      </div>
      <figure class="card-info__image"><img src="images/shopify/1.svg"/></figure>
    </div>
    <div class="card-info card-info--even">
      <div class="card-info__content">
        <h2 class="heading color-dark">Digital Marketing <br> <span class="color-primary"> is the Future </span></h2>
        <p>Tv commercials are the past. Today’s customers need to communicate on all channels, and digital marketing is #1</p>
      </div>
      <figure class="card-info__image"><img src="images/shopify/2.svg"/></figure>
    </div>
  </div>
</section>