
<section class="section-page section-page--card-experience">
  <div class="container">
    <div class="card-blue card-blue--column">
      <div class="line-ellipse line-ellipse--card-right"></div>
      <h2 class="heading">Experience the <br> World of PowerChap</h2>
      <p>Best in class marketers, designers and customer support. Our mission is raising your bottom line!</p>
      <button>Get Started</button>
    </div>
  </div>
</section>