.section-page.section-page--chart
    .box-chart
        display: flex
        align-items: center
        padding: rem(30)
        border-radius: 20px
        &__live
            background: $gradient
            border-radius: 20px
            min-width: rem(415)
            overflow: hidden
            position: relative
            .live-overlay
                position: absolute
                width: 100%
                height: 100%
                display: flex
                align-items: center
                justify-content: center
                background-color: rgba(0, 0, 0, 0.6)
                top: 0
                left: 0
                right: 0
                bottom: 0
                transition: all 0.3s ease
                opacity: 0
                .btn-white
                    display: flex
                    align-items: center
                    justify-content: center
                    padding: 17px 40px
                    background-color: #fff
                    border-radius: 100px
                    font-size: rem(14)
                    letter-spacing: 1px
                    text-transform: uppercase
                    span
                        display: block
                        margin-right: rem(10)
                        color: $color-dark
                &:hover
                    opacity: 1

            .live-current
                padding: rem(30)
                .icon
                    margin-right: rem(20)
                div
                    h4
                        margin-bottom: rem(10)
                    span
                        opacity: 0.6
                        text-transform: uppercase
                        font-size: rem(14)
            .live-status
                background-color: rgba(0, 0, 0, 0.3)
                padding: rem(20) rem(30)
                .box-status
                    h5
                        margin-right: rem(10)
            

        &__summary
            flex: calc( 100% / (12/5))
            padding-left: calc( 100% / (12/1))
            padding-right: calc( 100% / (12/1))
            .box-summary
                display: grid
                row-gap: rem(46)
                column-gap: rem(125)
                grid-template-columns: repeat(2, minmax(0, 1fr))

@media screen and ( min-width: 481px ) and (max-width: 1024px)
    .section-page.section-page--chart
        .box-chart
            &__live,
            &__summary
                flex: 50%
                max-width: 50%
                padding: 0px
            &__live
                min-width: unset
            &__summary
                padding-left: rem(40)
                .box-summary
                    width: 100%
                    display: grid
                    column-gap: rem(20)
                    row-gap: rem(40)
                    h4
                        font-size: rem(20)
                        margin-bottom: 0
                    span
                        font-size: rem(11)


@media screen and ( max-width: 480px )
    .section-page.section-page--chart
        .box-chart
            display: block
            padding: rem(20)
            &__live
                min-width: unset
                max-width: 100%
                margin-bottom: rem(40)
                .live-current,
                .live-status
                    padding: rem(20)
                .icon
                    img
                        max-width: 60px

                .text-small
                    font-size: rem(9) !important
                    padding: 4px
            &__summary
                flex: 0 calc( 100% / (12/5))
                padding-left: 0px
                padding-right: 0px
                .box-summary
                    display: grid
                    row-gap: rem(40)
                    column-gap: rem(0)
                    grid-template-columns: repeat(2, minmax(0, 1fr))
