.section-page.section-page--clients
    .box-clients
        display: flex
        align-items: center
        justify-content: space-around
        flex-wrap: wrap
        &__list
            margin: 0 20px
            img
                height: -fit-content
                max-height: 35px
                margin: 0 auto

@media screen and ( max-width: 480px )
    .section-page.section-page--clients
        .box-clients
            justify-content: space-around
            &__list
                // margin: rem(12) rem(0)
                flex: 0 0 calc( 100% / 3 )
                max-width: ( 100% / 3 )
                img
                    height: 30px
                    margin: 0 auto
                    display: block