
<section class="section-page section-page--guide">
  <div class="container">
    <h2 class="h2 text-center">Step-by-Step Guide</h2>
    <div class="text-center">
      <ul class="box-tabs">
        <li class="tab btn-primary" data-tab="guideWallet">
          <div class="number">1</div><span class="text-link"><span class="m-hide">buy with</span> trust wallet</span>
        </li>
        <li class="tab btn-default" data-tab="guideMask">
          <div class="number">2</div><span class="text-link"><span class="m-hide">buy with</span> meta mask</span>
        </li>
      </ul>
    </div>
    <div class="container-tabs">
      <div class="content-tab main-guide is-show" id="guideWallet">
        <div class="box-guide">
          <div class="box-guide__info">
            <ul class="guide-steps">
              <li>
                <div class="block">
                  <div class="icon-rounded bg-green"><svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M11.6666 9.33331V11.6666C11.6546 11.8317 11.5781 11.9855 11.4537 12.0947C11.3292 12.2038 11.1668 12.2596 11.0016 12.25H2.99825C2.833 12.2596 2.67059 12.2038 2.54615 12.0947C2.42171 11.9855 2.34523 11.8317 2.33325 11.6666V9.33331" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M4.66675 7L7.00008 9.33333L9.33341 7M7.00008 1.75V9.33333V1.75Z" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
                  </div>
                </div><span>Download the TrustWallet App</span>
              </li>
              <li>
                <div class="block">
                  <div class="icon-rounded bg-blue"><svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M11.6667 9.33331V11.6666C11.6667 11.8214 11.6052 11.9697 11.4958 12.0791C11.3864 12.1885 11.238 12.25 11.0833 12.25H2.33333C2.17862 12.25 2.03025 12.1885 1.92085 12.0791C1.81146 11.9697 1.75 11.8214 1.75 11.6666V4.66665C1.75 4.51194 1.81146 4.36356 1.92085 4.25417C2.03025 4.14477 2.17862 4.08331 2.33333 4.08331H11.0833C11.238 4.08331 11.3864 4.14477 11.4958 4.25417C11.6052 4.36356 11.6667 4.51194 11.6667 4.66665V6.99998" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M11.6666 7H9.91659C9.59442 7 9.33325 7.26117 9.33325 7.58333V8.75C9.33325 9.07217 9.59442 9.33333 9.91659 9.33333H11.6666C11.9888 9.33333 12.2499 9.07217 12.2499 8.75V7.58333C12.2499 7.26117 11.9888 7 11.6666 7Z" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M3.5 4.08333L8.2425 1.9775C8.37918 1.91635 8.53415 1.9101 8.67532 1.96005C8.81648 2.01 8.93303 2.11232 9.00083 2.24583L9.91667 4.08333" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
                  </div>
                </div><span>Purchase BSC or BSC Funds using TrustWallet </span>
              </li>
              <li>
                <div class="block">
                  <div class="icon-rounded bg-blue"><svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M11.6667 9.33331V11.6666C11.6667 11.8214 11.6052 11.9697 11.4958 12.0791C11.3864 12.1885 11.238 12.25 11.0833 12.25H2.33333C2.17862 12.25 2.03025 12.1885 1.92085 12.0791C1.81146 11.9697 1.75 11.8214 1.75 11.6666V4.66665C1.75 4.51194 1.81146 4.36356 1.92085 4.25417C2.03025 4.14477 2.17862 4.08331 2.33333 4.08331H11.0833C11.238 4.08331 11.3864 4.14477 11.4958 4.25417C11.6052 4.36356 11.6667 4.51194 11.6667 4.66665V6.99998" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M11.6666 7H9.91659C9.59442 7 9.33325 7.26117 9.33325 7.58333V8.75C9.33325 9.07217 9.59442 9.33333 9.91659 9.33333H11.6666C11.9888 9.33333 12.2499 9.07217 12.2499 8.75V7.58333C12.2499 7.26117 11.9888 7 11.6666 7Z" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M3.5 4.08333L8.2425 1.9775C8.37918 1.91635 8.53415 1.9101 8.67532 1.96005C8.81648 2.01 8.93303 2.11232 9.00083 2.24583L9.91667 4.08333" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
                  </div>
                </div><span>Go to the DApps or Browser Section in TrustWallet (iPhone users type "trust://browser_enable" in the Safari URL Box.</span>
              </li>
              <li>
                <div class="block">
                  <div class="icon-rounded bg-blue"><svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M11.6667 9.33331V11.6666C11.6667 11.8214 11.6052 11.9697 11.4958 12.0791C11.3864 12.1885 11.238 12.25 11.0833 12.25H2.33333C2.17862 12.25 2.03025 12.1885 1.92085 12.0791C1.81146 11.9697 1.75 11.8214 1.75 11.6666V4.66665C1.75 4.51194 1.81146 4.36356 1.92085 4.25417C2.03025 4.14477 2.17862 4.08331 2.33333 4.08331H11.0833C11.238 4.08331 11.3864 4.14477 11.4958 4.25417C11.6052 4.36356 11.6667 4.51194 11.6667 4.66665V6.99998" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M11.6666 7H9.91659C9.59442 7 9.33325 7.26117 9.33325 7.58333V8.75C9.33325 9.07217 9.59442 9.33333 9.91659 9.33333H11.6666C11.9888 9.33333 12.2499 9.07217 12.2499 8.75V7.58333C12.2499 7.26117 11.9888 7 11.6666 7Z" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M3.5 4.08333L8.2425 1.9775C8.37918 1.91635 8.53415 1.9101 8.67532 1.96005C8.81648 2.01 8.93303 2.11232 9.00083 2.24583L9.91667 4.08333" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
                  </div>
                </div><span>In DApps or Browser, click ‘"PancakeSwap", connect your Trust Wallet and switch to Binance Smart Chain if necessary</span>
              </li>
              <li>
                <div class="block">
                  <div class="icon-rounded bg-red"><svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M7 8.75C7.9665 8.75 8.75 7.9665 8.75 7C8.75 6.0335 7.9665 5.25 7 5.25C6.0335 5.25 5.25 6.0335 5.25 7C5.25 7.9665 6.0335 8.75 7 8.75Z" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M11.6667 5.83333H11.3225C11.2019 5.83285 11.0844 5.79501 10.9862 5.72502C10.8881 5.65503 10.814 5.55633 10.7742 5.4425C10.7223 5.33324 10.7056 5.21055 10.7265 5.09141C10.7474 4.97226 10.8048 4.86257 10.8908 4.7775L11.13 4.53833C11.1847 4.4841 11.2281 4.41959 11.2577 4.3485C11.2873 4.27742 11.3025 4.20117 11.3025 4.12417C11.3025 4.04716 11.2873 3.97091 11.2577 3.89983C11.2281 3.82875 11.1847 3.76423 11.13 3.71L10.3017 2.87583C10.2474 2.82116 10.1829 2.77776 10.1118 2.74815C10.0408 2.71853 9.96451 2.70328 9.8875 2.70328C9.81049 2.70328 9.73425 2.71853 9.66316 2.74815C9.59208 2.77776 9.52756 2.82116 9.47333 2.87583L9.23417 3.115C9.1491 3.20099 9.0394 3.25842 8.92026 3.27932C8.80112 3.30022 8.67843 3.28357 8.56917 3.23167C8.45221 3.19353 8.35031 3.1194 8.27802 3.01987C8.20573 2.92035 8.16676 2.80051 8.16667 2.6775V2.33333C8.16667 2.17862 8.10521 2.03025 7.99581 1.92085C7.88642 1.81146 7.73804 1.75 7.58333 1.75H6.41667C6.26196 1.75 6.11358 1.81146 6.00419 1.92085C5.89479 2.03025 5.83333 2.17862 5.83333 2.33333V2.6775C5.83285 2.79809 5.79501 2.91556 5.72502 3.01375C5.65503 3.11195 5.55633 3.18604 5.4425 3.22583V3.22583C5.33324 3.27773 5.21055 3.29439 5.09141 3.27348C4.97226 3.25258 4.86257 3.19516 4.7775 3.10917L4.53833 2.87C4.4841 2.81533 4.41959 2.77193 4.3485 2.74231C4.27742 2.7127 4.20117 2.69745 4.12417 2.69745C4.04716 2.69745 3.97091 2.7127 3.89983 2.74231C3.82875 2.77193 3.76423 2.81533 3.71 2.87L2.87583 3.69833C2.82116 3.75256 2.77776 3.81708 2.74815 3.88816C2.71853 3.95925 2.70328 4.03549 2.70328 4.1125C2.70328 4.18951 2.71853 4.26575 2.74815 4.33684C2.77776 4.40792 2.82116 4.47244 2.87583 4.52667L3.115 4.76583C3.20099 4.8509 3.25842 4.9606 3.27932 5.07974C3.30022 5.19888 3.28357 5.32157 3.23167 5.43083C3.19187 5.54466 3.11778 5.64337 3.01959 5.71336C2.92139 5.78335 2.80392 5.82119 2.68333 5.82167H2.33333C2.17862 5.82167 2.03025 5.88312 1.92085 5.99252C1.81146 6.10192 1.75 6.25029 1.75 6.405V7.57167C1.75 7.72638 1.81146 7.87475 1.92085 7.98415C2.03025 8.09354 2.17862 8.155 2.33333 8.155H2.6775C2.79809 8.15548 2.91556 8.19332 3.01375 8.26331C3.11195 8.3333 3.18604 8.432 3.22583 8.54583V8.54583C3.27773 8.65509 3.29439 8.77779 3.27348 8.89693C3.25258 9.01607 3.19516 9.12577 3.10917 9.21083L2.87 9.45C2.81533 9.50423 2.77193 9.56875 2.74231 9.63983C2.7127 9.71091 2.69745 9.78716 2.69745 9.86417C2.69745 9.94117 2.7127 10.0174 2.74231 10.0885C2.77193 10.1596 2.81533 10.2241 2.87 10.2783L3.6925 11.1008C3.74673 11.1555 3.81125 11.1989 3.88233 11.2285C3.95341 11.2581 4.02966 11.2734 4.10667 11.2734C4.18367 11.2734 4.25992 11.2581 4.331 11.2285C4.40209 11.1989 4.4666 11.1555 4.52083 11.1008L4.76 10.8617C4.84507 10.7757 4.95476 10.7183 5.07391 10.6973C5.19305 10.6764 5.31574 10.6931 5.425 10.745C5.53883 10.7848 5.63753 10.8589 5.70752 10.9571C5.77751 11.0553 5.81535 11.1727 5.81583 11.2933V11.6667C5.81583 11.8214 5.87729 11.9697 5.98669 12.0791C6.09608 12.1885 6.24446 12.25 6.39917 12.25H7.56583C7.72054 12.25 7.86892 12.1885 7.97831 12.0791C8.08771 11.9697 8.14917 11.8214 8.14917 11.6667V11.3225C8.14965 11.2019 8.18749 11.0844 8.25748 10.9862C8.32747 10.8881 8.42617 10.814 8.54 10.7742C8.64926 10.7223 8.77195 10.7056 8.89109 10.7265C9.01024 10.7474 9.11993 10.8048 9.205 10.8908L9.44417 11.13C9.4984 11.1847 9.56291 11.2281 9.634 11.2577C9.70508 11.2873 9.78133 11.3025 9.85833 11.3025C9.93534 11.3025 10.0116 11.2873 10.0827 11.2577C10.1538 11.2281 10.2183 11.1847 10.2725 11.13L11.095 10.3075C11.1497 10.2533 11.1931 10.1888 11.2227 10.1177C11.2523 10.0466 11.2675 9.97034 11.2675 9.89333C11.2675 9.81633 11.2523 9.74008 11.2227 9.669C11.1931 9.59791 11.1497 9.53339 11.095 9.47917L10.8558 9.24C10.7698 9.15493 10.7124 9.04523 10.6915 8.92609C10.6706 8.80695 10.6873 8.68426 10.7392 8.575V8.575C10.779 8.46117 10.8531 8.36247 10.9512 8.29248C11.0494 8.22249 11.1669 8.18465 11.2875 8.18417H11.6667C11.8214 8.18417 11.9697 8.12271 12.0791 8.01331C12.1885 7.90392 12.25 7.75554 12.25 7.60083V6.41667C12.25 6.26196 12.1885 6.11358 12.0791 6.00419C11.9697 5.89479 11.8214 5.83333 11.6667 5.83333Z" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
                  </div>
                </div><span>In the "From" Box select BSC. In the "To" Box click "Select currency" and input the Promise Contract Address.</span>
              </li>
              <li>
                <div class="block">
                  <div class="icon-rounded bg-red"><svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M7 8.75C7.9665 8.75 8.75 7.9665 8.75 7C8.75 6.0335 7.9665 5.25 7 5.25C6.0335 5.25 5.25 6.0335 5.25 7C5.25 7.9665 6.0335 8.75 7 8.75Z" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M11.6667 5.83333H11.3225C11.2019 5.83285 11.0844 5.79501 10.9862 5.72502C10.8881 5.65503 10.814 5.55633 10.7742 5.4425C10.7223 5.33324 10.7056 5.21055 10.7265 5.09141C10.7474 4.97226 10.8048 4.86257 10.8908 4.7775L11.13 4.53833C11.1847 4.4841 11.2281 4.41959 11.2577 4.3485C11.2873 4.27742 11.3025 4.20117 11.3025 4.12417C11.3025 4.04716 11.2873 3.97091 11.2577 3.89983C11.2281 3.82875 11.1847 3.76423 11.13 3.71L10.3017 2.87583C10.2474 2.82116 10.1829 2.77776 10.1118 2.74815C10.0408 2.71853 9.96451 2.70328 9.8875 2.70328C9.81049 2.70328 9.73425 2.71853 9.66316 2.74815C9.59208 2.77776 9.52756 2.82116 9.47333 2.87583L9.23417 3.115C9.1491 3.20099 9.0394 3.25842 8.92026 3.27932C8.80112 3.30022 8.67843 3.28357 8.56917 3.23167C8.45221 3.19353 8.35031 3.1194 8.27802 3.01987C8.20573 2.92035 8.16676 2.80051 8.16667 2.6775V2.33333C8.16667 2.17862 8.10521 2.03025 7.99581 1.92085C7.88642 1.81146 7.73804 1.75 7.58333 1.75H6.41667C6.26196 1.75 6.11358 1.81146 6.00419 1.92085C5.89479 2.03025 5.83333 2.17862 5.83333 2.33333V2.6775C5.83285 2.79809 5.79501 2.91556 5.72502 3.01375C5.65503 3.11195 5.55633 3.18604 5.4425 3.22583V3.22583C5.33324 3.27773 5.21055 3.29439 5.09141 3.27348C4.97226 3.25258 4.86257 3.19516 4.7775 3.10917L4.53833 2.87C4.4841 2.81533 4.41959 2.77193 4.3485 2.74231C4.27742 2.7127 4.20117 2.69745 4.12417 2.69745C4.04716 2.69745 3.97091 2.7127 3.89983 2.74231C3.82875 2.77193 3.76423 2.81533 3.71 2.87L2.87583 3.69833C2.82116 3.75256 2.77776 3.81708 2.74815 3.88816C2.71853 3.95925 2.70328 4.03549 2.70328 4.1125C2.70328 4.18951 2.71853 4.26575 2.74815 4.33684C2.77776 4.40792 2.82116 4.47244 2.87583 4.52667L3.115 4.76583C3.20099 4.8509 3.25842 4.9606 3.27932 5.07974C3.30022 5.19888 3.28357 5.32157 3.23167 5.43083C3.19187 5.54466 3.11778 5.64337 3.01959 5.71336C2.92139 5.78335 2.80392 5.82119 2.68333 5.82167H2.33333C2.17862 5.82167 2.03025 5.88312 1.92085 5.99252C1.81146 6.10192 1.75 6.25029 1.75 6.405V7.57167C1.75 7.72638 1.81146 7.87475 1.92085 7.98415C2.03025 8.09354 2.17862 8.155 2.33333 8.155H2.6775C2.79809 8.15548 2.91556 8.19332 3.01375 8.26331C3.11195 8.3333 3.18604 8.432 3.22583 8.54583V8.54583C3.27773 8.65509 3.29439 8.77779 3.27348 8.89693C3.25258 9.01607 3.19516 9.12577 3.10917 9.21083L2.87 9.45C2.81533 9.50423 2.77193 9.56875 2.74231 9.63983C2.7127 9.71091 2.69745 9.78716 2.69745 9.86417C2.69745 9.94117 2.7127 10.0174 2.74231 10.0885C2.77193 10.1596 2.81533 10.2241 2.87 10.2783L3.6925 11.1008C3.74673 11.1555 3.81125 11.1989 3.88233 11.2285C3.95341 11.2581 4.02966 11.2734 4.10667 11.2734C4.18367 11.2734 4.25992 11.2581 4.331 11.2285C4.40209 11.1989 4.4666 11.1555 4.52083 11.1008L4.76 10.8617C4.84507 10.7757 4.95476 10.7183 5.07391 10.6973C5.19305 10.6764 5.31574 10.6931 5.425 10.745C5.53883 10.7848 5.63753 10.8589 5.70752 10.9571C5.77751 11.0553 5.81535 11.1727 5.81583 11.2933V11.6667C5.81583 11.8214 5.87729 11.9697 5.98669 12.0791C6.09608 12.1885 6.24446 12.25 6.39917 12.25H7.56583C7.72054 12.25 7.86892 12.1885 7.97831 12.0791C8.08771 11.9697 8.14917 11.8214 8.14917 11.6667V11.3225C8.14965 11.2019 8.18749 11.0844 8.25748 10.9862C8.32747 10.8881 8.42617 10.814 8.54 10.7742C8.64926 10.7223 8.77195 10.7056 8.89109 10.7265C9.01024 10.7474 9.11993 10.8048 9.205 10.8908L9.44417 11.13C9.4984 11.1847 9.56291 11.2281 9.634 11.2577C9.70508 11.2873 9.78133 11.3025 9.85833 11.3025C9.93534 11.3025 10.0116 11.2873 10.0827 11.2577C10.1538 11.2281 10.2183 11.1847 10.2725 11.13L11.095 10.3075C11.1497 10.2533 11.1931 10.1888 11.2227 10.1177C11.2523 10.0466 11.2675 9.97034 11.2675 9.89333C11.2675 9.81633 11.2523 9.74008 11.2227 9.669C11.1931 9.59791 11.1497 9.53339 11.095 9.47917L10.8558 9.24C10.7698 9.15493 10.7124 9.04523 10.6915 8.92609C10.6706 8.80695 10.6873 8.68426 10.7392 8.575V8.575C10.779 8.46117 10.8531 8.36247 10.9512 8.29248C11.0494 8.22249 11.1669 8.18465 11.2875 8.18417H11.6667C11.8214 8.18417 11.9697 8.12271 12.0791 8.01331C12.1885 7.90392 12.25 7.75554 12.25 7.60083V6.41667C12.25 6.26196 12.1885 6.11358 12.0791 6.00419C11.9697 5.89479 11.8214 5.83333 11.6667 5.83333Z" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
                  </div>
                </div><span>Click the Settings Icon, set the slippage tolerance to 11-12% and close that box.</span>
              </li>
              <li>
                <div class="block">
                  <div class="icon-rounded bg-red"><svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M7 8.75C7.9665 8.75 8.75 7.9665 8.75 7C8.75 6.0335 7.9665 5.25 7 5.25C6.0335 5.25 5.25 6.0335 5.25 7C5.25 7.9665 6.0335 8.75 7 8.75Z" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M11.6667 5.83333H11.3225C11.2019 5.83285 11.0844 5.79501 10.9862 5.72502C10.8881 5.65503 10.814 5.55633 10.7742 5.4425C10.7223 5.33324 10.7056 5.21055 10.7265 5.09141C10.7474 4.97226 10.8048 4.86257 10.8908 4.7775L11.13 4.53833C11.1847 4.4841 11.2281 4.41959 11.2577 4.3485C11.2873 4.27742 11.3025 4.20117 11.3025 4.12417C11.3025 4.04716 11.2873 3.97091 11.2577 3.89983C11.2281 3.82875 11.1847 3.76423 11.13 3.71L10.3017 2.87583C10.2474 2.82116 10.1829 2.77776 10.1118 2.74815C10.0408 2.71853 9.96451 2.70328 9.8875 2.70328C9.81049 2.70328 9.73425 2.71853 9.66316 2.74815C9.59208 2.77776 9.52756 2.82116 9.47333 2.87583L9.23417 3.115C9.1491 3.20099 9.0394 3.25842 8.92026 3.27932C8.80112 3.30022 8.67843 3.28357 8.56917 3.23167C8.45221 3.19353 8.35031 3.1194 8.27802 3.01987C8.20573 2.92035 8.16676 2.80051 8.16667 2.6775V2.33333C8.16667 2.17862 8.10521 2.03025 7.99581 1.92085C7.88642 1.81146 7.73804 1.75 7.58333 1.75H6.41667C6.26196 1.75 6.11358 1.81146 6.00419 1.92085C5.89479 2.03025 5.83333 2.17862 5.83333 2.33333V2.6775C5.83285 2.79809 5.79501 2.91556 5.72502 3.01375C5.65503 3.11195 5.55633 3.18604 5.4425 3.22583V3.22583C5.33324 3.27773 5.21055 3.29439 5.09141 3.27348C4.97226 3.25258 4.86257 3.19516 4.7775 3.10917L4.53833 2.87C4.4841 2.81533 4.41959 2.77193 4.3485 2.74231C4.27742 2.7127 4.20117 2.69745 4.12417 2.69745C4.04716 2.69745 3.97091 2.7127 3.89983 2.74231C3.82875 2.77193 3.76423 2.81533 3.71 2.87L2.87583 3.69833C2.82116 3.75256 2.77776 3.81708 2.74815 3.88816C2.71853 3.95925 2.70328 4.03549 2.70328 4.1125C2.70328 4.18951 2.71853 4.26575 2.74815 4.33684C2.77776 4.40792 2.82116 4.47244 2.87583 4.52667L3.115 4.76583C3.20099 4.8509 3.25842 4.9606 3.27932 5.07974C3.30022 5.19888 3.28357 5.32157 3.23167 5.43083C3.19187 5.54466 3.11778 5.64337 3.01959 5.71336C2.92139 5.78335 2.80392 5.82119 2.68333 5.82167H2.33333C2.17862 5.82167 2.03025 5.88312 1.92085 5.99252C1.81146 6.10192 1.75 6.25029 1.75 6.405V7.57167C1.75 7.72638 1.81146 7.87475 1.92085 7.98415C2.03025 8.09354 2.17862 8.155 2.33333 8.155H2.6775C2.79809 8.15548 2.91556 8.19332 3.01375 8.26331C3.11195 8.3333 3.18604 8.432 3.22583 8.54583V8.54583C3.27773 8.65509 3.29439 8.77779 3.27348 8.89693C3.25258 9.01607 3.19516 9.12577 3.10917 9.21083L2.87 9.45C2.81533 9.50423 2.77193 9.56875 2.74231 9.63983C2.7127 9.71091 2.69745 9.78716 2.69745 9.86417C2.69745 9.94117 2.7127 10.0174 2.74231 10.0885C2.77193 10.1596 2.81533 10.2241 2.87 10.2783L3.6925 11.1008C3.74673 11.1555 3.81125 11.1989 3.88233 11.2285C3.95341 11.2581 4.02966 11.2734 4.10667 11.2734C4.18367 11.2734 4.25992 11.2581 4.331 11.2285C4.40209 11.1989 4.4666 11.1555 4.52083 11.1008L4.76 10.8617C4.84507 10.7757 4.95476 10.7183 5.07391 10.6973C5.19305 10.6764 5.31574 10.6931 5.425 10.745C5.53883 10.7848 5.63753 10.8589 5.70752 10.9571C5.77751 11.0553 5.81535 11.1727 5.81583 11.2933V11.6667C5.81583 11.8214 5.87729 11.9697 5.98669 12.0791C6.09608 12.1885 6.24446 12.25 6.39917 12.25H7.56583C7.72054 12.25 7.86892 12.1885 7.97831 12.0791C8.08771 11.9697 8.14917 11.8214 8.14917 11.6667V11.3225C8.14965 11.2019 8.18749 11.0844 8.25748 10.9862C8.32747 10.8881 8.42617 10.814 8.54 10.7742C8.64926 10.7223 8.77195 10.7056 8.89109 10.7265C9.01024 10.7474 9.11993 10.8048 9.205 10.8908L9.44417 11.13C9.4984 11.1847 9.56291 11.2281 9.634 11.2577C9.70508 11.2873 9.78133 11.3025 9.85833 11.3025C9.93534 11.3025 10.0116 11.2873 10.0827 11.2577C10.1538 11.2281 10.2183 11.1847 10.2725 11.13L11.095 10.3075C11.1497 10.2533 11.1931 10.1888 11.2227 10.1177C11.2523 10.0466 11.2675 9.97034 11.2675 9.89333C11.2675 9.81633 11.2523 9.74008 11.2227 9.669C11.1931 9.59791 11.1497 9.53339 11.095 9.47917L10.8558 9.24C10.7698 9.15493 10.7124 9.04523 10.6915 8.92609C10.6706 8.80695 10.6873 8.68426 10.7392 8.575V8.575C10.779 8.46117 10.8531 8.36247 10.9512 8.29248C11.0494 8.22249 11.1669 8.18465 11.2875 8.18417H11.6667C11.8214 8.18417 11.9697 8.12271 12.0791 8.01331C12.1885 7.90392 12.25 7.75554 12.25 7.60083V6.41667C12.25 6.26196 12.1885 6.11358 12.0791 6.00419C11.9697 5.89479 11.8214 5.83333 11.6667 5.83333Z" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
                  </div>
                </div><span>Set the amount you wish to buy in the "From" box, and press the "Swap" button</span>
              </li>
              <li>
                <div class="block">
                  <div class="icon-rounded bg-green"><svg width="14" height="9" viewBox="0 0 14 9" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M1.00001 3.33333L5.65306 8L13 1" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
                  </div>
                </div><span>Confirm the Swap and <strong> HODL Your PROMISE </strong></span>
              </li>
            </ul>
          </div>
          <div class="box-guide__cover">
            <div class="box-video"><iframe src="https://www.youtube.com/embed/OccGqem3Xms?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
          </div>
        </div>
      </div>
      <div class="content-tab main-guide" id="guideMask">
        <div class="box-guide">
          <div class="box-guide__info">
            <ul class="guide-steps">
              <li>
                <div class="block">
                  <div class="icon-rounded bg-green"><svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M11.6666 9.33331V11.6666C11.6546 11.8317 11.5781 11.9855 11.4537 12.0947C11.3292 12.2038 11.1668 12.2596 11.0016 12.25H2.99825C2.833 12.2596 2.67059 12.2038 2.54615 12.0947C2.42171 11.9855 2.34523 11.8317 2.33325 11.6666V9.33331" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M4.66675 7L7.00008 9.33333L9.33341 7M7.00008 1.75V9.33333V1.75Z" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
                  </div>
                </div><span>Download Metamask app or Chrome Extension</span>
              </li>
              <li>
                <div class="block">
                  <div class="icon-rounded bg-blue"><svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M11.6667 9.33331V11.6666C11.6667 11.8214 11.6052 11.9697 11.4958 12.0791C11.3864 12.1885 11.238 12.25 11.0833 12.25H2.33333C2.17862 12.25 2.03025 12.1885 1.92085 12.0791C1.81146 11.9697 1.75 11.8214 1.75 11.6666V4.66665C1.75 4.51194 1.81146 4.36356 1.92085 4.25417C2.03025 4.14477 2.17862 4.08331 2.33333 4.08331H11.0833C11.238 4.08331 11.3864 4.14477 11.4958 4.25417C11.6052 4.36356 11.6667 4.51194 11.6667 4.66665V6.99998" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M11.6666 7H9.91659C9.59442 7 9.33325 7.26117 9.33325 7.58333V8.75C9.33325 9.07217 9.59442 9.33333 9.91659 9.33333H11.6666C11.9888 9.33333 12.2499 9.07217 12.2499 8.75V7.58333C12.2499 7.26117 11.9888 7 11.6666 7Z" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M3.5 4.08333L8.2425 1.9775C8.37918 1.91635 8.53415 1.9101 8.67532 1.96005C8.81648 2.01 8.93303 2.11232 9.00083 2.24583L9.91667 4.08333" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
                  </div>
                </div><span>
                  <div class="block">Add BSC network to Metamask. Click “Custom RPC”</div>
                  <ul class="block-info bg-gray">
                    <li>Network Name: BSC MAinnet</li>
                    <li>New RPC URL: htttps://bsc-dataseed1.binance.org</li>
                    <li>Chain ID: 56</li>
                    <li>Currency Symbol: BNB</li>
                    <li>Block Explorer: https://bscscan.com</li>
                  </ul></span>
              </li>
              <li>
                <div class="block">
                  <div class="icon-rounded bg-blue"><svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M11.6667 9.33331V11.6666C11.6667 11.8214 11.6052 11.9697 11.4958 12.0791C11.3864 12.1885 11.238 12.25 11.0833 12.25H2.33333C2.17862 12.25 2.03025 12.1885 1.92085 12.0791C1.81146 11.9697 1.75 11.8214 1.75 11.6666V4.66665C1.75 4.51194 1.81146 4.36356 1.92085 4.25417C2.03025 4.14477 2.17862 4.08331 2.33333 4.08331H11.0833C11.238 4.08331 11.3864 4.14477 11.4958 4.25417C11.6052 4.36356 11.6667 4.51194 11.6667 4.66665V6.99998" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M11.6666 7H9.91659C9.59442 7 9.33325 7.26117 9.33325 7.58333V8.75C9.33325 9.07217 9.59442 9.33333 9.91659 9.33333H11.6666C11.9888 9.33333 12.2499 9.07217 12.2499 8.75V7.58333C12.2499 7.26117 11.9888 7 11.6666 7Z" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M3.5 4.08333L8.2425 1.9775C8.37918 1.91635 8.53415 1.9101 8.67532 1.96005C8.81648 2.01 8.93303 2.11232 9.00083 2.24583L9.91667 4.08333" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
                  </div>
                </div><span>Go to the DApps or Browser Section in TrustWallet (iPhone users type "trust://browser_enable" in the Safari URL Box.</span>
              </li>
              <li>
                <div class="block">
                  <div class="icon-rounded bg-blue"><svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M11.6667 9.33331V11.6666C11.6667 11.8214 11.6052 11.9697 11.4958 12.0791C11.3864 12.1885 11.238 12.25 11.0833 12.25H2.33333C2.17862 12.25 2.03025 12.1885 1.92085 12.0791C1.81146 11.9697 1.75 11.8214 1.75 11.6666V4.66665C1.75 4.51194 1.81146 4.36356 1.92085 4.25417C2.03025 4.14477 2.17862 4.08331 2.33333 4.08331H11.0833C11.238 4.08331 11.3864 4.14477 11.4958 4.25417C11.6052 4.36356 11.6667 4.51194 11.6667 4.66665V6.99998" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M11.6666 7H9.91659C9.59442 7 9.33325 7.26117 9.33325 7.58333V8.75C9.33325 9.07217 9.59442 9.33333 9.91659 9.33333H11.6666C11.9888 9.33333 12.2499 9.07217 12.2499 8.75V7.58333C12.2499 7.26117 11.9888 7 11.6666 7Z" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M3.5 4.08333L8.2425 1.9775C8.37918 1.91635 8.53415 1.9101 8.67532 1.96005C8.81648 2.01 8.93303 2.11232 9.00083 2.24583L9.91667 4.08333" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
                  </div>
                </div><span>Go to Pancakeswap.finance and click Connect Wallet</span>
              </li>
              <li>
                <div class="block">
                  <div class="icon-rounded bg-red"><svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M7 8.75C7.9665 8.75 8.75 7.9665 8.75 7C8.75 6.0335 7.9665 5.25 7 5.25C6.0335 5.25 5.25 6.0335 5.25 7C5.25 7.9665 6.0335 8.75 7 8.75Z" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M11.6667 5.83333H11.3225C11.2019 5.83285 11.0844 5.79501 10.9862 5.72502C10.8881 5.65503 10.814 5.55633 10.7742 5.4425C10.7223 5.33324 10.7056 5.21055 10.7265 5.09141C10.7474 4.97226 10.8048 4.86257 10.8908 4.7775L11.13 4.53833C11.1847 4.4841 11.2281 4.41959 11.2577 4.3485C11.2873 4.27742 11.3025 4.20117 11.3025 4.12417C11.3025 4.04716 11.2873 3.97091 11.2577 3.89983C11.2281 3.82875 11.1847 3.76423 11.13 3.71L10.3017 2.87583C10.2474 2.82116 10.1829 2.77776 10.1118 2.74815C10.0408 2.71853 9.96451 2.70328 9.8875 2.70328C9.81049 2.70328 9.73425 2.71853 9.66316 2.74815C9.59208 2.77776 9.52756 2.82116 9.47333 2.87583L9.23417 3.115C9.1491 3.20099 9.0394 3.25842 8.92026 3.27932C8.80112 3.30022 8.67843 3.28357 8.56917 3.23167C8.45221 3.19353 8.35031 3.1194 8.27802 3.01987C8.20573 2.92035 8.16676 2.80051 8.16667 2.6775V2.33333C8.16667 2.17862 8.10521 2.03025 7.99581 1.92085C7.88642 1.81146 7.73804 1.75 7.58333 1.75H6.41667C6.26196 1.75 6.11358 1.81146 6.00419 1.92085C5.89479 2.03025 5.83333 2.17862 5.83333 2.33333V2.6775C5.83285 2.79809 5.79501 2.91556 5.72502 3.01375C5.65503 3.11195 5.55633 3.18604 5.4425 3.22583V3.22583C5.33324 3.27773 5.21055 3.29439 5.09141 3.27348C4.97226 3.25258 4.86257 3.19516 4.7775 3.10917L4.53833 2.87C4.4841 2.81533 4.41959 2.77193 4.3485 2.74231C4.27742 2.7127 4.20117 2.69745 4.12417 2.69745C4.04716 2.69745 3.97091 2.7127 3.89983 2.74231C3.82875 2.77193 3.76423 2.81533 3.71 2.87L2.87583 3.69833C2.82116 3.75256 2.77776 3.81708 2.74815 3.88816C2.71853 3.95925 2.70328 4.03549 2.70328 4.1125C2.70328 4.18951 2.71853 4.26575 2.74815 4.33684C2.77776 4.40792 2.82116 4.47244 2.87583 4.52667L3.115 4.76583C3.20099 4.8509 3.25842 4.9606 3.27932 5.07974C3.30022 5.19888 3.28357 5.32157 3.23167 5.43083C3.19187 5.54466 3.11778 5.64337 3.01959 5.71336C2.92139 5.78335 2.80392 5.82119 2.68333 5.82167H2.33333C2.17862 5.82167 2.03025 5.88312 1.92085 5.99252C1.81146 6.10192 1.75 6.25029 1.75 6.405V7.57167C1.75 7.72638 1.81146 7.87475 1.92085 7.98415C2.03025 8.09354 2.17862 8.155 2.33333 8.155H2.6775C2.79809 8.15548 2.91556 8.19332 3.01375 8.26331C3.11195 8.3333 3.18604 8.432 3.22583 8.54583V8.54583C3.27773 8.65509 3.29439 8.77779 3.27348 8.89693C3.25258 9.01607 3.19516 9.12577 3.10917 9.21083L2.87 9.45C2.81533 9.50423 2.77193 9.56875 2.74231 9.63983C2.7127 9.71091 2.69745 9.78716 2.69745 9.86417C2.69745 9.94117 2.7127 10.0174 2.74231 10.0885C2.77193 10.1596 2.81533 10.2241 2.87 10.2783L3.6925 11.1008C3.74673 11.1555 3.81125 11.1989 3.88233 11.2285C3.95341 11.2581 4.02966 11.2734 4.10667 11.2734C4.18367 11.2734 4.25992 11.2581 4.331 11.2285C4.40209 11.1989 4.4666 11.1555 4.52083 11.1008L4.76 10.8617C4.84507 10.7757 4.95476 10.7183 5.07391 10.6973C5.19305 10.6764 5.31574 10.6931 5.425 10.745C5.53883 10.7848 5.63753 10.8589 5.70752 10.9571C5.77751 11.0553 5.81535 11.1727 5.81583 11.2933V11.6667C5.81583 11.8214 5.87729 11.9697 5.98669 12.0791C6.09608 12.1885 6.24446 12.25 6.39917 12.25H7.56583C7.72054 12.25 7.86892 12.1885 7.97831 12.0791C8.08771 11.9697 8.14917 11.8214 8.14917 11.6667V11.3225C8.14965 11.2019 8.18749 11.0844 8.25748 10.9862C8.32747 10.8881 8.42617 10.814 8.54 10.7742C8.64926 10.7223 8.77195 10.7056 8.89109 10.7265C9.01024 10.7474 9.11993 10.8048 9.205 10.8908L9.44417 11.13C9.4984 11.1847 9.56291 11.2281 9.634 11.2577C9.70508 11.2873 9.78133 11.3025 9.85833 11.3025C9.93534 11.3025 10.0116 11.2873 10.0827 11.2577C10.1538 11.2281 10.2183 11.1847 10.2725 11.13L11.095 10.3075C11.1497 10.2533 11.1931 10.1888 11.2227 10.1177C11.2523 10.0466 11.2675 9.97034 11.2675 9.89333C11.2675 9.81633 11.2523 9.74008 11.2227 9.669C11.1931 9.59791 11.1497 9.53339 11.095 9.47917L10.8558 9.24C10.7698 9.15493 10.7124 9.04523 10.6915 8.92609C10.6706 8.80695 10.6873 8.68426 10.7392 8.575V8.575C10.779 8.46117 10.8531 8.36247 10.9512 8.29248C11.0494 8.22249 11.1669 8.18465 11.2875 8.18417H11.6667C11.8214 8.18417 11.9697 8.12271 12.0791 8.01331C12.1885 7.90392 12.25 7.75554 12.25 7.60083V6.41667C12.25 6.26196 12.1885 6.11358 12.0791 6.00419C11.9697 5.89479 11.8214 5.83333 11.6667 5.83333Z" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
                  </div>
                </div><span>In the "From" Box select BSC. In the "To" Box click "Select currency" and input the Promise Contract Address.</span>
              </li>
              <li>
                <div class="block">
                  <div class="icon-rounded bg-red"><svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M7 8.75C7.9665 8.75 8.75 7.9665 8.75 7C8.75 6.0335 7.9665 5.25 7 5.25C6.0335 5.25 5.25 6.0335 5.25 7C5.25 7.9665 6.0335 8.75 7 8.75Z" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M11.6667 5.83333H11.3225C11.2019 5.83285 11.0844 5.79501 10.9862 5.72502C10.8881 5.65503 10.814 5.55633 10.7742 5.4425C10.7223 5.33324 10.7056 5.21055 10.7265 5.09141C10.7474 4.97226 10.8048 4.86257 10.8908 4.7775L11.13 4.53833C11.1847 4.4841 11.2281 4.41959 11.2577 4.3485C11.2873 4.27742 11.3025 4.20117 11.3025 4.12417C11.3025 4.04716 11.2873 3.97091 11.2577 3.89983C11.2281 3.82875 11.1847 3.76423 11.13 3.71L10.3017 2.87583C10.2474 2.82116 10.1829 2.77776 10.1118 2.74815C10.0408 2.71853 9.96451 2.70328 9.8875 2.70328C9.81049 2.70328 9.73425 2.71853 9.66316 2.74815C9.59208 2.77776 9.52756 2.82116 9.47333 2.87583L9.23417 3.115C9.1491 3.20099 9.0394 3.25842 8.92026 3.27932C8.80112 3.30022 8.67843 3.28357 8.56917 3.23167C8.45221 3.19353 8.35031 3.1194 8.27802 3.01987C8.20573 2.92035 8.16676 2.80051 8.16667 2.6775V2.33333C8.16667 2.17862 8.10521 2.03025 7.99581 1.92085C7.88642 1.81146 7.73804 1.75 7.58333 1.75H6.41667C6.26196 1.75 6.11358 1.81146 6.00419 1.92085C5.89479 2.03025 5.83333 2.17862 5.83333 2.33333V2.6775C5.83285 2.79809 5.79501 2.91556 5.72502 3.01375C5.65503 3.11195 5.55633 3.18604 5.4425 3.22583V3.22583C5.33324 3.27773 5.21055 3.29439 5.09141 3.27348C4.97226 3.25258 4.86257 3.19516 4.7775 3.10917L4.53833 2.87C4.4841 2.81533 4.41959 2.77193 4.3485 2.74231C4.27742 2.7127 4.20117 2.69745 4.12417 2.69745C4.04716 2.69745 3.97091 2.7127 3.89983 2.74231C3.82875 2.77193 3.76423 2.81533 3.71 2.87L2.87583 3.69833C2.82116 3.75256 2.77776 3.81708 2.74815 3.88816C2.71853 3.95925 2.70328 4.03549 2.70328 4.1125C2.70328 4.18951 2.71853 4.26575 2.74815 4.33684C2.77776 4.40792 2.82116 4.47244 2.87583 4.52667L3.115 4.76583C3.20099 4.8509 3.25842 4.9606 3.27932 5.07974C3.30022 5.19888 3.28357 5.32157 3.23167 5.43083C3.19187 5.54466 3.11778 5.64337 3.01959 5.71336C2.92139 5.78335 2.80392 5.82119 2.68333 5.82167H2.33333C2.17862 5.82167 2.03025 5.88312 1.92085 5.99252C1.81146 6.10192 1.75 6.25029 1.75 6.405V7.57167C1.75 7.72638 1.81146 7.87475 1.92085 7.98415C2.03025 8.09354 2.17862 8.155 2.33333 8.155H2.6775C2.79809 8.15548 2.91556 8.19332 3.01375 8.26331C3.11195 8.3333 3.18604 8.432 3.22583 8.54583V8.54583C3.27773 8.65509 3.29439 8.77779 3.27348 8.89693C3.25258 9.01607 3.19516 9.12577 3.10917 9.21083L2.87 9.45C2.81533 9.50423 2.77193 9.56875 2.74231 9.63983C2.7127 9.71091 2.69745 9.78716 2.69745 9.86417C2.69745 9.94117 2.7127 10.0174 2.74231 10.0885C2.77193 10.1596 2.81533 10.2241 2.87 10.2783L3.6925 11.1008C3.74673 11.1555 3.81125 11.1989 3.88233 11.2285C3.95341 11.2581 4.02966 11.2734 4.10667 11.2734C4.18367 11.2734 4.25992 11.2581 4.331 11.2285C4.40209 11.1989 4.4666 11.1555 4.52083 11.1008L4.76 10.8617C4.84507 10.7757 4.95476 10.7183 5.07391 10.6973C5.19305 10.6764 5.31574 10.6931 5.425 10.745C5.53883 10.7848 5.63753 10.8589 5.70752 10.9571C5.77751 11.0553 5.81535 11.1727 5.81583 11.2933V11.6667C5.81583 11.8214 5.87729 11.9697 5.98669 12.0791C6.09608 12.1885 6.24446 12.25 6.39917 12.25H7.56583C7.72054 12.25 7.86892 12.1885 7.97831 12.0791C8.08771 11.9697 8.14917 11.8214 8.14917 11.6667V11.3225C8.14965 11.2019 8.18749 11.0844 8.25748 10.9862C8.32747 10.8881 8.42617 10.814 8.54 10.7742C8.64926 10.7223 8.77195 10.7056 8.89109 10.7265C9.01024 10.7474 9.11993 10.8048 9.205 10.8908L9.44417 11.13C9.4984 11.1847 9.56291 11.2281 9.634 11.2577C9.70508 11.2873 9.78133 11.3025 9.85833 11.3025C9.93534 11.3025 10.0116 11.2873 10.0827 11.2577C10.1538 11.2281 10.2183 11.1847 10.2725 11.13L11.095 10.3075C11.1497 10.2533 11.1931 10.1888 11.2227 10.1177C11.2523 10.0466 11.2675 9.97034 11.2675 9.89333C11.2675 9.81633 11.2523 9.74008 11.2227 9.669C11.1931 9.59791 11.1497 9.53339 11.095 9.47917L10.8558 9.24C10.7698 9.15493 10.7124 9.04523 10.6915 8.92609C10.6706 8.80695 10.6873 8.68426 10.7392 8.575V8.575C10.779 8.46117 10.8531 8.36247 10.9512 8.29248C11.0494 8.22249 11.1669 8.18465 11.2875 8.18417H11.6667C11.8214 8.18417 11.9697 8.12271 12.0791 8.01331C12.1885 7.90392 12.25 7.75554 12.25 7.60083V6.41667C12.25 6.26196 12.1885 6.11358 12.0791 6.00419C11.9697 5.89479 11.8214 5.83333 11.6667 5.83333Z" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
                  </div>
                </div><span>
                  <div class="bock">Click “Select Currency” and enter the following smart contract:</div>
                  <stong> 0xcbccf14b051947bdcd1e20b77015208a1ad5ea25</stong></span>
              </li>
              <li>
                <div class="block">
                  <div class="icon-rounded bg-red"><svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M7 8.75C7.9665 8.75 8.75 7.9665 8.75 7C8.75 6.0335 7.9665 5.25 7 5.25C6.0335 5.25 5.25 6.0335 5.25 7C5.25 7.9665 6.0335 8.75 7 8.75Z" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M11.6667 5.83333H11.3225C11.2019 5.83285 11.0844 5.79501 10.9862 5.72502C10.8881 5.65503 10.814 5.55633 10.7742 5.4425C10.7223 5.33324 10.7056 5.21055 10.7265 5.09141C10.7474 4.97226 10.8048 4.86257 10.8908 4.7775L11.13 4.53833C11.1847 4.4841 11.2281 4.41959 11.2577 4.3485C11.2873 4.27742 11.3025 4.20117 11.3025 4.12417C11.3025 4.04716 11.2873 3.97091 11.2577 3.89983C11.2281 3.82875 11.1847 3.76423 11.13 3.71L10.3017 2.87583C10.2474 2.82116 10.1829 2.77776 10.1118 2.74815C10.0408 2.71853 9.96451 2.70328 9.8875 2.70328C9.81049 2.70328 9.73425 2.71853 9.66316 2.74815C9.59208 2.77776 9.52756 2.82116 9.47333 2.87583L9.23417 3.115C9.1491 3.20099 9.0394 3.25842 8.92026 3.27932C8.80112 3.30022 8.67843 3.28357 8.56917 3.23167C8.45221 3.19353 8.35031 3.1194 8.27802 3.01987C8.20573 2.92035 8.16676 2.80051 8.16667 2.6775V2.33333C8.16667 2.17862 8.10521 2.03025 7.99581 1.92085C7.88642 1.81146 7.73804 1.75 7.58333 1.75H6.41667C6.26196 1.75 6.11358 1.81146 6.00419 1.92085C5.89479 2.03025 5.83333 2.17862 5.83333 2.33333V2.6775C5.83285 2.79809 5.79501 2.91556 5.72502 3.01375C5.65503 3.11195 5.55633 3.18604 5.4425 3.22583V3.22583C5.33324 3.27773 5.21055 3.29439 5.09141 3.27348C4.97226 3.25258 4.86257 3.19516 4.7775 3.10917L4.53833 2.87C4.4841 2.81533 4.41959 2.77193 4.3485 2.74231C4.27742 2.7127 4.20117 2.69745 4.12417 2.69745C4.04716 2.69745 3.97091 2.7127 3.89983 2.74231C3.82875 2.77193 3.76423 2.81533 3.71 2.87L2.87583 3.69833C2.82116 3.75256 2.77776 3.81708 2.74815 3.88816C2.71853 3.95925 2.70328 4.03549 2.70328 4.1125C2.70328 4.18951 2.71853 4.26575 2.74815 4.33684C2.77776 4.40792 2.82116 4.47244 2.87583 4.52667L3.115 4.76583C3.20099 4.8509 3.25842 4.9606 3.27932 5.07974C3.30022 5.19888 3.28357 5.32157 3.23167 5.43083C3.19187 5.54466 3.11778 5.64337 3.01959 5.71336C2.92139 5.78335 2.80392 5.82119 2.68333 5.82167H2.33333C2.17862 5.82167 2.03025 5.88312 1.92085 5.99252C1.81146 6.10192 1.75 6.25029 1.75 6.405V7.57167C1.75 7.72638 1.81146 7.87475 1.92085 7.98415C2.03025 8.09354 2.17862 8.155 2.33333 8.155H2.6775C2.79809 8.15548 2.91556 8.19332 3.01375 8.26331C3.11195 8.3333 3.18604 8.432 3.22583 8.54583V8.54583C3.27773 8.65509 3.29439 8.77779 3.27348 8.89693C3.25258 9.01607 3.19516 9.12577 3.10917 9.21083L2.87 9.45C2.81533 9.50423 2.77193 9.56875 2.74231 9.63983C2.7127 9.71091 2.69745 9.78716 2.69745 9.86417C2.69745 9.94117 2.7127 10.0174 2.74231 10.0885C2.77193 10.1596 2.81533 10.2241 2.87 10.2783L3.6925 11.1008C3.74673 11.1555 3.81125 11.1989 3.88233 11.2285C3.95341 11.2581 4.02966 11.2734 4.10667 11.2734C4.18367 11.2734 4.25992 11.2581 4.331 11.2285C4.40209 11.1989 4.4666 11.1555 4.52083 11.1008L4.76 10.8617C4.84507 10.7757 4.95476 10.7183 5.07391 10.6973C5.19305 10.6764 5.31574 10.6931 5.425 10.745C5.53883 10.7848 5.63753 10.8589 5.70752 10.9571C5.77751 11.0553 5.81535 11.1727 5.81583 11.2933V11.6667C5.81583 11.8214 5.87729 11.9697 5.98669 12.0791C6.09608 12.1885 6.24446 12.25 6.39917 12.25H7.56583C7.72054 12.25 7.86892 12.1885 7.97831 12.0791C8.08771 11.9697 8.14917 11.8214 8.14917 11.6667V11.3225C8.14965 11.2019 8.18749 11.0844 8.25748 10.9862C8.32747 10.8881 8.42617 10.814 8.54 10.7742C8.64926 10.7223 8.77195 10.7056 8.89109 10.7265C9.01024 10.7474 9.11993 10.8048 9.205 10.8908L9.44417 11.13C9.4984 11.1847 9.56291 11.2281 9.634 11.2577C9.70508 11.2873 9.78133 11.3025 9.85833 11.3025C9.93534 11.3025 10.0116 11.2873 10.0827 11.2577C10.1538 11.2281 10.2183 11.1847 10.2725 11.13L11.095 10.3075C11.1497 10.2533 11.1931 10.1888 11.2227 10.1177C11.2523 10.0466 11.2675 9.97034 11.2675 9.89333C11.2675 9.81633 11.2523 9.74008 11.2227 9.669C11.1931 9.59791 11.1497 9.53339 11.095 9.47917L10.8558 9.24C10.7698 9.15493 10.7124 9.04523 10.6915 8.92609C10.6706 8.80695 10.6873 8.68426 10.7392 8.575V8.575C10.779 8.46117 10.8531 8.36247 10.9512 8.29248C11.0494 8.22249 11.1669 8.18465 11.2875 8.18417H11.6667C11.8214 8.18417 11.9697 8.12271 12.0791 8.01331C12.1885 7.90392 12.25 7.75554 12.25 7.60083V6.41667C12.25 6.26196 12.1885 6.11358 12.0791 6.00419C11.9697 5.89479 11.8214 5.83333 11.6667 5.83333Z" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
                  </div>
                </div><span>Click on the cog wheel and set slippage to between 11-12%</span>
              </li>
              <li>
                <div class="block">
                  <div class="icon-rounded bg-red"><svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M7 8.75C7.9665 8.75 8.75 7.9665 8.75 7C8.75 6.0335 7.9665 5.25 7 5.25C6.0335 5.25 5.25 6.0335 5.25 7C5.25 7.9665 6.0335 8.75 7 8.75Z" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M11.6667 5.83333H11.3225C11.2019 5.83285 11.0844 5.79501 10.9862 5.72502C10.8881 5.65503 10.814 5.55633 10.7742 5.4425C10.7223 5.33324 10.7056 5.21055 10.7265 5.09141C10.7474 4.97226 10.8048 4.86257 10.8908 4.7775L11.13 4.53833C11.1847 4.4841 11.2281 4.41959 11.2577 4.3485C11.2873 4.27742 11.3025 4.20117 11.3025 4.12417C11.3025 4.04716 11.2873 3.97091 11.2577 3.89983C11.2281 3.82875 11.1847 3.76423 11.13 3.71L10.3017 2.87583C10.2474 2.82116 10.1829 2.77776 10.1118 2.74815C10.0408 2.71853 9.96451 2.70328 9.8875 2.70328C9.81049 2.70328 9.73425 2.71853 9.66316 2.74815C9.59208 2.77776 9.52756 2.82116 9.47333 2.87583L9.23417 3.115C9.1491 3.20099 9.0394 3.25842 8.92026 3.27932C8.80112 3.30022 8.67843 3.28357 8.56917 3.23167C8.45221 3.19353 8.35031 3.1194 8.27802 3.01987C8.20573 2.92035 8.16676 2.80051 8.16667 2.6775V2.33333C8.16667 2.17862 8.10521 2.03025 7.99581 1.92085C7.88642 1.81146 7.73804 1.75 7.58333 1.75H6.41667C6.26196 1.75 6.11358 1.81146 6.00419 1.92085C5.89479 2.03025 5.83333 2.17862 5.83333 2.33333V2.6775C5.83285 2.79809 5.79501 2.91556 5.72502 3.01375C5.65503 3.11195 5.55633 3.18604 5.4425 3.22583V3.22583C5.33324 3.27773 5.21055 3.29439 5.09141 3.27348C4.97226 3.25258 4.86257 3.19516 4.7775 3.10917L4.53833 2.87C4.4841 2.81533 4.41959 2.77193 4.3485 2.74231C4.27742 2.7127 4.20117 2.69745 4.12417 2.69745C4.04716 2.69745 3.97091 2.7127 3.89983 2.74231C3.82875 2.77193 3.76423 2.81533 3.71 2.87L2.87583 3.69833C2.82116 3.75256 2.77776 3.81708 2.74815 3.88816C2.71853 3.95925 2.70328 4.03549 2.70328 4.1125C2.70328 4.18951 2.71853 4.26575 2.74815 4.33684C2.77776 4.40792 2.82116 4.47244 2.87583 4.52667L3.115 4.76583C3.20099 4.8509 3.25842 4.9606 3.27932 5.07974C3.30022 5.19888 3.28357 5.32157 3.23167 5.43083C3.19187 5.54466 3.11778 5.64337 3.01959 5.71336C2.92139 5.78335 2.80392 5.82119 2.68333 5.82167H2.33333C2.17862 5.82167 2.03025 5.88312 1.92085 5.99252C1.81146 6.10192 1.75 6.25029 1.75 6.405V7.57167C1.75 7.72638 1.81146 7.87475 1.92085 7.98415C2.03025 8.09354 2.17862 8.155 2.33333 8.155H2.6775C2.79809 8.15548 2.91556 8.19332 3.01375 8.26331C3.11195 8.3333 3.18604 8.432 3.22583 8.54583V8.54583C3.27773 8.65509 3.29439 8.77779 3.27348 8.89693C3.25258 9.01607 3.19516 9.12577 3.10917 9.21083L2.87 9.45C2.81533 9.50423 2.77193 9.56875 2.74231 9.63983C2.7127 9.71091 2.69745 9.78716 2.69745 9.86417C2.69745 9.94117 2.7127 10.0174 2.74231 10.0885C2.77193 10.1596 2.81533 10.2241 2.87 10.2783L3.6925 11.1008C3.74673 11.1555 3.81125 11.1989 3.88233 11.2285C3.95341 11.2581 4.02966 11.2734 4.10667 11.2734C4.18367 11.2734 4.25992 11.2581 4.331 11.2285C4.40209 11.1989 4.4666 11.1555 4.52083 11.1008L4.76 10.8617C4.84507 10.7757 4.95476 10.7183 5.07391 10.6973C5.19305 10.6764 5.31574 10.6931 5.425 10.745C5.53883 10.7848 5.63753 10.8589 5.70752 10.9571C5.77751 11.0553 5.81535 11.1727 5.81583 11.2933V11.6667C5.81583 11.8214 5.87729 11.9697 5.98669 12.0791C6.09608 12.1885 6.24446 12.25 6.39917 12.25H7.56583C7.72054 12.25 7.86892 12.1885 7.97831 12.0791C8.08771 11.9697 8.14917 11.8214 8.14917 11.6667V11.3225C8.14965 11.2019 8.18749 11.0844 8.25748 10.9862C8.32747 10.8881 8.42617 10.814 8.54 10.7742C8.64926 10.7223 8.77195 10.7056 8.89109 10.7265C9.01024 10.7474 9.11993 10.8048 9.205 10.8908L9.44417 11.13C9.4984 11.1847 9.56291 11.2281 9.634 11.2577C9.70508 11.2873 9.78133 11.3025 9.85833 11.3025C9.93534 11.3025 10.0116 11.2873 10.0827 11.2577C10.1538 11.2281 10.2183 11.1847 10.2725 11.13L11.095 10.3075C11.1497 10.2533 11.1931 10.1888 11.2227 10.1177C11.2523 10.0466 11.2675 9.97034 11.2675 9.89333C11.2675 9.81633 11.2523 9.74008 11.2227 9.669C11.1931 9.59791 11.1497 9.53339 11.095 9.47917L10.8558 9.24C10.7698 9.15493 10.7124 9.04523 10.6915 8.92609C10.6706 8.80695 10.6873 8.68426 10.7392 8.575V8.575C10.779 8.46117 10.8531 8.36247 10.9512 8.29248C11.0494 8.22249 11.1669 8.18465 11.2875 8.18417H11.6667C11.8214 8.18417 11.9697 8.12271 12.0791 8.01331C12.1885 7.90392 12.25 7.75554 12.25 7.60083V6.41667C12.25 6.26196 12.1885 6.11358 12.0791 6.00419C11.9697 5.89479 11.8214 5.83333 11.6667 5.83333Z" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
                  </div>
                </div><span>Enter the desired amount and press the Swap button</span>
              </li>
              <li>
                <div class="block">
                  <div class="icon-rounded bg-green"><svg width="14" height="9" viewBox="0 0 14 9" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M1.00001 3.33333L5.65306 8L13 1" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
                  </div>
                </div><span>Confirm, add it to your Metamask and KEEP YOUR PROMISE</span>
              </li>
            </ul>
          </div>
          <div class="box-guide__cover">
            <div class="box-video"><iframe src="https://www.youtube.com/embed/m6aoxK59vvI?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-token flex items-center bg-gray">
      <div class="block">
        <p>The contract address is used to find us on PancakeSwap. This is not a wallet address, so do not send funds there! By sending funds to this address you will not receive tokens and we have no way to refund them.</p>
      </div>
      <div class="block">
        <div class="box-copy">
          <input id="code" value="0xcbccf14b051947bdcd1e20b77015208a1ad5ea25"/>
          <button class="btn-primary" id="copy">COPY</button>
        </div>
      </div>
    </div>
  </div>
</section>