
<section class="main-page">
  <div class="container">
    <div class="info-page info-page--buy">
      <div class="info-page__content">
        <h1 class="h1">How to Buy Promise</h1>
        <p>Learn how to buy Promise Tokens in just a few simple steps. You can buy Promise Tokens with Trust Wallet App or MetaMask on PancakeSwap. Follow the guide below, step by step.</p>
        <div class="block cta-buy"><a class="btn-primary" href="#"><span>Buy Now</span></a></div>
      </div>
      <div class="info-page__cover">
        <video autoplay="autoplay" muted="muted" loop="loop" playsinline="playsinline" poster="images/cover-howtobuy.png">
          <source src="images/video-howtobuy.mp4" type="video/mp4"/>
        </video>
      </div>
    </div>
  </div>
</section>