
<header class="header-page header-page--news">
  <div class="line-ellipse line-ellipse--header-page line-ellipse--header-page-left"></div>
  <div class="line-ellipse line-ellipse--header-page line-ellipse--header-page-right"></div>
  <div class="icon-floating icon-floating--message"><img src="../images/floating-header/3.png" alt=""/></div>
  <div class="container">
    <div class="header-page__content">
      <div class="icon-floating icon-floating--love"><img src="../images/floating-header/1.png" alt=""/></div>
      <div class="icon-floating icon-floating--logo"><img src="../images/floating-header/2.png" alt=""/></div>
      <h1 class="title"><span class="color-primary">Latest News</span><span class="bubble-and">&amp;</span><span>Updates</span></h1>
      <p>Integrate reviews &amp; feedback into any <br> website or social platform</p>
    </div>
  </div>
</header>