
<section class="section-page section-page--integration">
  <div class="container">
    <header class="header-section header-section--agency">
      <h2 class="heading"><span>A Fully Integrated Suite of <br></span><span class="color-primary">E-Commerce Solutions</span></h2>
      <p>Powerful marketing infrastructure built for scale. Make thousands on <br> autopilot in minutes!</p><a class="btn-primary" href="https://calendly.com/powerchap/15m-powerchap-demo-samtal?month=2021-05" onclick="trackGetStarted()" target="_blank"><span class="bg"></span><span class="text">Get Started</span></a>
    </header>
    <div class="boxed-integration">
      <div class="box-integration box-integration--campaigns is-blue">
        <figure class="box-integration__cover">
          <picture>
            <source media="(min-width:1024px)" data-srcset="images/shopify/bg-1.png"/><img class="lazyload" data-src="images/shopify/bg-1--mobile.png" alt="Campaigns"/>
          </picture>
        </figure>
        <div class="box-integration__info">
          <h3>Campaigns</h3>
        </div>
      </div>
      <div class="box-integration is-purple">
        <figure class="box-integration__cover">
          <picture>
            <source media="(min-width:1024px)" data-srcset="images/shopify/bg-2.png"/><img class="lazyload" data-src="images/shopify/bg-2--mobile.png" alt="Automations"/>
          </picture>
        </figure>
        <div class="box-integration__info">
          <h3>Automations</h3>
        </div>
      </div>
      <div class="box-integration is-red">
        <figure class="box-integration__cover">
          <picture>
            <source media="(min-width:1024px)" data-srcset="images/shopify/bg-3.png"/><img class="lazyload" data-src="images/shopify/bg-3--mobile.png" alt="Live Chat"/>
          </picture>
        </figure>
        <div class="box-integration__info">
          <h3>Live Chat</h3>
        </div>
      </div>
      <div class="box-integration is-green">
        <figure class="box-integration__cover">
          <picture>
            <source media="(min-width:1024px)" data-srcset="images/shopify/bg-4.png"/><img class="lazyload" data-src="images/shopify/bg-4--mobile.png" alt="Pop-Up"/>
          </picture>
        </figure>
        <div class="box-integration__info">
          <h3>Pop-Up</h3>
        </div>
      </div>
      <div class="box-integration is-yellow">
        <figure class="box-integration__cover">
          <picture>
            <source media="(min-width:1024px)" data-srcset="images/shopify/bg-5.png"/><img class="lazyload" data-src="images/shopify/bg-5--mobile.png" alt="Conversion"/>
          </picture>
        </figure>
        <div class="box-integration__info">
          <h3>Conversion</h3>
        </div>
      </div>
      <div class="box-integration box-integration--dashboard is-blue">
        <figure class="box-integration__cover">
          <picture>
            <source media="(min-width:1024px)" data-srcset="images/shopify/bg-6.png"/><img class="lazyload" data-src="images/shopify/bg-6--mobile.png" alt="Dashboard"/>
          </picture>
        </figure>
        <div class="box-integration__info">
          <h3>Dashboard</h3>
        </div>
      </div>
    </div>
  </div>
</section>