
<section class="section-page section-page--pricing-conslutant">
  <div class="container">
    <header class="header-section header-section--pricing-consultant">
      <figure><img class="lazyload logo-consultant" data-src="images/logo-svg.svg" alt=""/></figure>
      <h2 class="heading">PowerAgency</h2>
      <p>Stop wasting time and money on faulty and ineffective ad campaigns. It’s time to make your ad budget count, scale your business, and blow up your sales.</p><a class="btn-primary" href="https://calendly.com/powerchap/15m-powerchap-demo-samtal?month=2021-05" onclick="trackGetStarted()" target="_blank"><span class="bg"></span><span class="text">Book Free Consultation</span></a>
    </header>
    <div class="boxed-consultant">
      <div class="box-info">
        <figure class="box-info__icon"><img class="lazyload" data-src="images/pricing/consultant-1.png" alt=""/></figure>
        <figure class="box-info__info">
          <h3 class="subheading">Total Business Solution</h3>
          <p>Content Creation, Landing Pages, Facebook Ads Marketing, Videos</p>
        </figure>
      </div>
      <div class="box-info">
        <figure class="box-info__icon"><img class="lazyload" data-src="images/pricing/consultant-2.png" alt=""/></figure>
        <figure class="box-info__info">
          <h3 class="subheading">Landing Pages</h3>
          <p>From our expertise we can create a complete solution in days that will blow your mind</p>
        </figure>
      </div>
      <div class="box-info">
        <figure class="box-info__icon"><img class="lazyload" data-src="images/pricing/consultant-3.png" alt=""/></figure>
        <figure class="box-info__info">
          <h3 class="subheading">Social Media ‍Content</h3>
          <p>We create the most effective and lucrative content for our clients.</p>
        </figure>
      </div>
      <div class="box-info">
        <figure class="box-info__icon"><img class="lazyload" data-src="images/pricing/consultant-4.png" alt=""/></figure>
        <figure class="box-info__info">
          <h3 class="subheading">Facebook ‍Advertisement</h3>
          <p>We will develop and advertise to achieve 3+ ROAS guaranteed with Facebook Ads</p>
        </figure>
      </div>
      <div class="box-info">
        <figure class="box-info__icon"><img class="lazyload" data-src="images/pricing/consultant-5.png" alt=""/></figure>
        <figure class="box-info__info">
          <h3 class="subheading">Google ‍Advertisement</h3>
          <p>We will develop and advertise to achieve 3+ ROAS guaranteed with Google Ads</p>
        </figure>
      </div>
      <div class="box-info">
        <figure class="box-info__icon"><img class="lazyload" data-src="images/pricing/consultant-6.png" alt=""/></figure>
        <figure class="box-info__info">
          <h3 class="subheading">Facebook, Google, ‍Other</h3>
          <p>We will create a full advertisement strategy for lesser utilized ways of marketing!</p>
        </figure>
      </div>
    </div>
  </div>
</section>