
<section class="section-page section-page--card-experience">
  <div class="container">
    <div class="card-blue card-blue--column">
      <div class="line-ellipse line-ellipse--card-right"></div>
      <h2 class="heading">Experience the <br> World of PowerChap</h2>
      <p>Best in class marketers, designers and customer support. Our mission is raising your bottom line!</p><a href="https://calendly.com/powerchap/15m-powerchap-demo-samtal?month=2021-05" onclick="trackGetStarted()" target="_blank">Get Started</a>
    </div>
  </div>
</section>