section.section-page.section-page--clients
    header.header-section.header-section--simple
        h2.animate Companies that help keep us ignited!
    .container
        .box-clients
            a(href="#" target="_blank").box-clients__list.animate.delay-1
                img.lazyload(data-src="images/company1.png", alt="")
            a(href="#" target="_blank").box-clients__list.animate.delay-2
                img.lazyload(data-src="images/company2.png", alt="")
            a(href="#" target="_blank").box-clients__list.animate.delay-2
                img.lazyload(data-src="images/company3.png", alt="")
            a(href="#" target="_blank").box-clients__list.animate.delay-3
                img.lazyload(data-src="images/company4.png", alt="")
            a(href="#" target="_blank").box-clients__list.animate.delay-3
                img.lazyload(data-src="images/company5.png", alt="")
            a(href="#" target="_blank").box-clients__list.animate.delay-3
                img.lazyload(data-src="images/company6.png", alt="")