.container
    header.header-section
        h2.h2 Contact Us
        p We are always ready to listen and welcome any questions you may have for our team. If you would like to contact us, please fill out the form below. Someone from our team will get back to you shortly. 
    .main-contact
        .main-contact__cover
            figure
                img(src="images/image-contact.svg", alt="")
        .main-contact__form
            form#contactForm(action="#")
                //- .field
                    input(type="email" placeholder="Your Email" required)
                .field
                    input#contact(type="email" placeholder="Email" required)
                    span.error#errorEmail Enter an email in the format someone@example.com
                .field
                    textarea#message(name="" placeholder="Your Message")
                    span.error#errorMessage Write a message for the support team with at least 20 characters
                .block
                    button.btn-primary.btn-disabled#sendMessage send message