section.section-page.section-page--ddos
    .container
        .box-flex-center
            h2.animate.delay-1 DDoS Protection
            p.animate.delay-2 Our services comes with a proprietary DDoS protection system which filters out attacks and scrubs them out before it hits our network. CDN77 helps us combat/mitigate DDoS attacks almost instantly so our clients can have a worry free hosting experience.
            img.lazyload(data-src="images/new/home_ddos_anim.svg", alt="")