section.section-page.section-page--featured
    .container
        .box-featured
            h4.h4 Featured on
            img(src="images/cointele.png", alt="")
            img(src="images/blockonomi.png", alt="")
            img(src="images/fobres.png", alt="")