footer.footer-shell
    .container.container--banner
        //- banner footer
        .banner-footer.animate
            .banner-footer__content
                h2.h2 Choose your best plan!
                p Join over 13,000 satisfied customers already using ignero.com and make your content hop.
            .banner-footer__cta
                .action
                    a.btn-white(href="dedicated-server.html") Dedicated Servers
                    a.btn-default.btn-soon(href="contact.html")
                        span Contact Us

    .container
        .footer-info.animate.delay-2
            .footer-brand
                img(src="images/logo.svg", alt="")
                p Ignero is Los Angeles based company specializing in infrastructure as a service. We've cherry picked our hardware, network and datacenters so our clients could have an amazing experience.
                nav 
                    span Sales Department: 
                    a(href="mailto:sales@ignero.com")  sales@ignero.com
                    span Support Department:
                    a(href="mailto:support@ignero.com")  support@ignero.com
                    span Phone:
                    a(href="tell:12026437712") +1 (202) 643-7712


            .footer-menu
                h3 Sitemap
                nav
                    a(href="") Products
                    a(href="") Features
                    a(href="") Pricing
                    a(href="about.html") About us
                    a(href="contact.html") Contact us
                    
            .footer-menu
                h3 Products
                nav
                    a(href="pricing-vps.html") Ryzen VPS
                    a(href="dedicated-server.html") Dedicated Servers
                    a(href="") Coming Soon

            .footer-menu
                h3 Features
                nav
                    a(href="") Control Panel
                    a(href="") IPMI/KVM Access
                    a(href="") DDoS Protection
                    a(href="") Ryzen Performance
                    a(href="") Fast Network

            .footer-menu
                h3 Company
                nav
                    a(href="privacy.html") Privacy &amp; Policy
                    a(href="term.html") Terms of Services
                    a(href="acceptable.html") Acceptable Use
                    a(href="about.html") About Us

        .footer-note
            p Copyright © 2021 Ignero Hosting. All Rights Reserved.
            nav
                a(href="https://twitter.com/IgneroHosting") Twitter
                a(href="https://www.trustpilot.com/review/ignero.com") TrustPilot