meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(name="robots" content="index,nofollow")
meta(name="copyright" content="Copyright © 2020")
meta(http-equiv="X-UA-Compatible" content="IE=edge")

meta(name="description" content="")
meta(name="url" content="")
meta(name="author" content="")
meta(name="og:url" content="")
meta(name="og:type" content="")
meta(name="og:title" content="")
meta(name="og:description" content="")
meta(name="og:image" content="")

meta(name="twitter:title" content="")
meta(name="twitter:site" content="")
meta(name="twitter:description" content="")
meta(name="twitter:url" content="")

link(rel="apple-touch-icon" sizes="57x57" href="images/fav/apple-icon-57x57.png")
link(rel="apple-touch-icon" sizes="60x60" href="images/fav/apple-icon-60x60.png")
link(rel="apple-touch-icon" sizes="72x72" href="images/fav/apple-icon-72x72.png")
link(rel="apple-touch-icon" sizes="76x76" href="images/fav/apple-icon-76x76.png")
link(rel="apple-touch-icon" sizes="114x114" href="images/fav/apple-icon-114x114.png")
link(rel="apple-touch-icon" sizes="120x120" href="images/fav/apple-icon-120x120.png")
link(rel="apple-touch-icon" sizes="144x144" href="images/fav/apple-icon-144x144.png")
link(rel="apple-touch-icon" sizes="152x152" href="images/fav/apple-icon-152x152.png")
link(rel="apple-touch-icon" sizes="180x180" href="images/fav/apple-icon-180x180.png")
link(rel="icon" type="image/png" sizes="192x192"  href="images/fav/android-icon-192x192.png")
link(rel="icon" type="image/png" sizes="32x32" href="images/fav/favicon-32x32.png")
link(rel="icon" type="image/png" sizes="96x96" href="images/fav/favicon-96x96.png")
link(rel="icon" type="image/png" sizes="16x16" href="images/fav/favicon-16x16.png")
link(rel="manifest" href="manifest.json")
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="images/fav/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
link(rel="preconnect" href="https://fonts.gstatic.com")
link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet")

link(rel="canonical" href="#")
link(rel="stylesheet", href="css/app.css")