header.header-shell
    .container
        .header-content
            .header-content__logo
                .logo-header
                    a(href="index.html")
                        img(src="images/logo.svg" alt="logo ignore")

                    button.btn-cta-mobile.toggle-menu
                        i.menu
                            <svg width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 1H19" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M1 9H19" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M1 17H19" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        i.close
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.63623 1.63599L14.3642 14.3639" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M14.3643 1.63599L1.63633 14.3639" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>

            nav.header-content__menu
                .box-menu
                    ul
                        li.parent-menu(class=(pageName === 'menu' ? 'active-page' : ''))
                            a(href="#")
                                span Products
                                i.chevron 
                            ul.sub-menu
                                li
                                    a(href="#") AMD Ryzen VPS
                                li
                                    a(href="") US Web Hosting (Cpanel)
                                li
                                    a(href="") IPv6 Leasing Services
                                li
                                    a(href="") Coming Soon
                                
                        li.parent-menu(class=(pageName === 'menu' ? 'active-page' : ''))
                            a(href="#")
                                span Features
                                i.chevron
                            ul.sub-menu
                                li
                                    a(href="#") Control Panel
                                li
                                    a(href="") One-Click Deploys
                                li
                                    a(href="") Free SSL Certificates
                                li
                                    a(href="") LiteSpeed &amp; LSCache
                                li
                                    a(href="") PHP Versions

                        li.parent-menu(class=(pageName === 'menu' ? 'active-page' : ''))
                            a(href="#")
                                span Pricings
                                i.chevron
                            ul.sub-menu
                                li
                                    a(href="pricing-cpanel.html") cPanel
                                li
                                    a(href="pricing-vps.html") Ryzen VPS
                                
                        li.parent-menu(class=(pageName === 'menu' ? 'active-page' : ''))
                            a(href="#")
                                span Locations
                                i.chevron
                            ul.sub-menu
                                li
                                    a(href="location.html")  Los Angeles
                                li
                                    a(href="") Coming Soon
                                li
                                    a(href="") Coming Soon
                                li
                                    a(href="") Coming Soon
                                li
                                    a(href="") Coming Soon
                                    
                        li(class=(pageName === 'about' ? 'active-page' : ''))
                            a(href="about.html") About us
            nav.header-content__cta
                a.btn(href="#") Portal
                a.btn-default(href="#") Get Started