header.main-global-header
    .global-header
        .global-header__logo
            .logo-header
                a(href="index.html")
                    img(src="images/logo.svg" alt="logo ignore")

            button.toggle-menu-header(onclick="toggleMenuHeader(this)")
                .icon-open
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect x="8" y="5" width="12" height="2" fill="white"/>
                        <rect x="4" y="11" width="16" height="2" fill="white"/>
                        <rect x="12" y="17" width="8" height="2" fill="white"/>
                    </svg>
                .icon-close
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect x="7.41418" y="6" width="16" height="2" transform="rotate(45 7.41418 6)" fill="white"/>
                        <rect x="18.7279" y="7.41418" width="16" height="2" transform="rotate(135 18.7279 7.41418)" fill="white"/>
                    </svg>


        .global-header__menu
            .header-menu__nav.main-header
                ul.menu
                    li.list-menu.menu__item(data-sub="products"): a(href="#")
                        span Products
                        i.chevron
                    li.list-menu.menu__item(data-sub="location"): a(href="#")
                        span Locations
                        i.chevron
                    li.list-menu.menu__item(data-sub="company-2"): a(href="#")
                        span Company
                        i.chevron
                .dropdown-holder
                    .dropdown__arrow
                    .dropdown__bg
                        .dropdown__bg-bottom
                    .dropdown__wrap
                        .dropdown-menu#product(data-sub="products")
                            .dropdown-menu__content
                                .main-section
                                    //- mobile show
                                    button.btn-toggle-menu(onclick="toggleSubMenu(this)")
                                        span Products
                                        i.icon
                                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M4 6L8 10L12 6" stroke="white" stroke-width="2"/>
                                            </svg>

                                    //- sub menu
                                    .submenu
                                                
                                        a(href="pricing-vps.html").submenu__list
                                            figure.submenu-icon
                                                img(src="images/submenu-product.svg", alt="")
                                            .submenu-content
                                                .content-title
                                                    span Ryzen Virtual Servers
                                                    i.icon
                                                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M6 12L10 8L6 4" stroke="white" stroke-width="2"/>
                                                        </svg>
                                                p High performance Ryzen servers

                                        a(href="dedicated-server.html").submenu__list
                                            figure.submenu-icon
                                                img(src="images/submenu-product.svg", alt="")
                                            .submenu-content
                                                .content-title
                                                    span Ryzen Dedicated Servers
                                                    i.icon
                                                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M6 12L10 8L6 4" stroke="white" stroke-width="2"/>
                                                        </svg>
                                                p Fully Dedicated Ryzen Servers

                                        a(href="#").submenu__list
                                            figure.submenu-icon
                                                img(src="images/submenu-product.svg", alt="")
                                            .submenu-content
                                                .content-title
                                                    span IPv6 Leasing
                                                    span.label-soon Soon
                                                    i.icon
                                                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M6 12L10 8L6 4" stroke="white" stroke-width="2"/>
                                                        </svg>
                                                p IP Leasing Solutions

                        .dropdown-menu(data-sub="company-2")
                            .dropdown-menu__content
                                .main-section
                                    //- mobile show
                                    button.btn-toggle-menu(onclick="toggleSubMenu(this)")
                                        span Company
                                        i.icon
                                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M4 6L8 10L12 6" stroke="white" stroke-width="2"/>
                                            </svg>

                                    //- sub menu
                                    .submenu
                                        a(href="about.html").submenu__list.centered
                                            figure.submenu-icon
                                                img(src="images/company/ico1.svg", alt="")
                                            .submenu-content
                                                .content-title.no-sub
                                                    span About Us
                                                    i.icon
                                                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M6 12L10 8L6 4" stroke="white" stroke-width="2"/>
                                                        </svg>
                                                //- p lorem impsum
                                                
                                        a(href="term.html").submenu__list.centered
                                            figure.submenu-icon
                                                img(src="images/company/ico2.svg", alt="")
                                            .submenu-content
                                                .content-title.no-sub
                                                    span Terms of Service
                                                    i.icon
                                                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M6 12L10 8L6 4" stroke="white" stroke-width="2"/>
                                                        </svg>
                                                //- p lorem impsum

                                        a(href="acceptable.html").submenu__list.centered
                                            figure.submenu-icon
                                                img(src="images/company/ico3.svg", alt="")
                                            .submenu-content
                                                .content-title.no-sub
                                                    span Acceptable Use Policy
                                                    i.icon
                                                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M6 12L10 8L6 4" stroke="white" stroke-width="2"/>
                                                        </svg>
                                                //- p lorem impsum

                                        a(href="privacy.html").submenu__list.centered
                                            figure.submenu-icon
                                                img(src="images/company/ico4.svg", alt="")
                                            .submenu-content
                                                .content-title.no-sub
                                                    span Privacy Policy
                                                    i.icon
                                                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M6 12L10 8L6 4" stroke="white" stroke-width="2"/>
                                                        </svg>
                                                //- p lorem impsum

                        .dropdown-menu(data-sub="location")
                            .dropdown-menu__content
                                .main-section
                                    //- mobile show
                                    button.btn-toggle-menu(onclick="toggleSubMenu(this)")
                                        span Locations
                                        i.icon
                                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M4 6L8 10L12 6" stroke="white" stroke-width="2"/>
                                            </svg>

                                    //- sub menu
                                    .submenu
                                        a(href="los-angeles.html").submenu__list
                                            figure.submenu-icon
                                                img(src="images/submenu-location.svg", alt="")
                                            .submenu-content
                                                .content-title
                                                    span Los Angeles, CA
                                                    i.icon
                                                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M6 12L10 8L6 4" stroke="white" stroke-width="2"/>
                                                        </svg>
                                                p 445 N Douglas St, El Segundo
                                                
                                        a(href="#").submenu__list
                                            figure.submenu-icon
                                                img(src="images/submenu-location.svg", alt="")
                                            .submenu-content
                                                .content-title
                                                    span San Diego, CA
                                                    i.icon
                                                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M6 12L10 8L6 4" stroke="white" stroke-width="2"/>
                                                        </svg>
                                                p 10818 San Diego Mission Rd

                                        a(href="#").submenu__list
                                            figure.submenu-icon
                                                img(src="images/submenu-location.svg", alt="")
                                            .submenu-content
                                                .content-title
                                                    span Las Vegas, CA
                                                    i.icon
                                                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M6 12L10 8L6 4" stroke="white" stroke-width="2"/>
                                                        </svg>
                                                p 7495 Mission Hills Dr


            .header-menu__cta
                a.btn(href="https://my.ignero.com/") Portal
                a.btn-default(href="https://my.ignero.com/register.php") Get Started
