
<header class="header-page header-page--career">
  <div class="icon-floating icon-floating--message"><img src="images/floating-header/3.png" alt=""/></div>
  <div class="container">
    <div class="header-page__content">
      <div class="icon-floating icon-floating--love"><img src="images/floating-header/1.png" alt=""/></div>
      <div class="icon-floating icon-floating--logo"><img src="images/floating-header/2.png" alt=""/></div>
      <h1 class="title"><span class="color-primary">Experience Work</span><br><span>at PowerChap</span></h1>
      <p>Work with talented marketers to start and grow your brand.</p>
    </div>
  </div>
</header>