
<header class="header-page header-page--partners">
  <div class="line-ellipse line-ellipse--header-page line-ellipse--header-page-left"></div>
  <div class="line-ellipse line-ellipse--header-page line-ellipse--header-page-right"></div>
  <div class="icon-floating icon-floating--message"><img src="images/floating-header/3.png" alt=""/></div>
  <div class="container">
    <div class="header-page__content">
      <div class="icon-floating icon-floating--love"><img src="images/floating-header/1.png" alt=""/></div>
      <div class="icon-floating icon-floating--logo"><img src="images/floating-header/2.png" alt=""/></div>
      <h1 class="title"><span class="color-primary">Generate more leads </span><span>with help of our marketing!</span></h1>
      <p>Let's build the business brands of the future, together!</p>
    </div>
  </div>
</header>