
<header class="header-page header-page--term">
  <div class="line-ellipse line-ellipse--header-page line-ellipse--header-page-left"></div>
  <div class="line-ellipse line-ellipse--header-page line-ellipse--header-page-right"></div>
  <div class="icon-floating icon-floating--message"><img src="images/floating-header/3.png" alt=""/></div>
  <div class="container">
    <div class="header-page__content">
      <div class="icon-floating icon-floating--love"><img src="images/floating-header/1.png" alt=""/></div>
      <div class="icon-floating icon-floating--logo"><img src="images/floating-header/2.png" alt=""/></div>
      <h1 class="title"><span class="color-primary">Terms</span><span>&amp; Conditions</span></h1>
      <p>PowerChap Terms of Service</p>
    </div>
  </div>
</header>