
<header class="header-page header-page--agency">
  <div class="line-ellipse line-ellipse--header-page line-ellipse--header-page-left"></div>
  <div class="line-ellipse line-ellipse--header-page line-ellipse--header-page-right"></div>
  <div class="container">
    <div class="header-page__content">
      <div class="icon-floating icon-floating--love"><img src="images/floating-header/1.png" alt=""/></div>
      <div class="icon-floating icon-floating--logo"><img src="images/floating-header/2.png" alt=""/></div>
      <h1 class="title"><span class="color-primary">Advertising</span><span>Built for Scale</span></h1>
      <p>Increase your leads by 65% with PowerChap Marketing. Scale your Business and Grow Revenue!</p><a class="btn-primary" href="contact.html"><span class="bg"></span><span class="text">Contact Us</span></a>
      <p class="note">Get Started Now - No Credit Card Necessary</p>
    </div>
  </div>
</header>