
<header class="header-page header-page--policy">
  <div class="line-ellipse line-ellipse--header-page line-ellipse--header-page-left"></div>
  <div class="line-ellipse line-ellipse--header-page line-ellipse--header-page-right"></div>
  <div class="icon-floating icon-floating--message"><img src="images/floating-header/3.png" alt=""/></div>
  <div class="container">
    <div class="header-page__content">
      <div class="icon-floating icon-floating--love"><img src="images/floating-header/1.png" alt=""/></div>
      <div class="icon-floating icon-floating--logo"><img src="images/floating-header/2.png" alt=""/></div>
      <h1 class="title"><span class="color-primary">Privacy</span><span>Policy</span></h1>
      <p>We are on a mission to create the world’s first effortless marketing for a 2021 modern world. We believe the future is built by enabling humans to exchange energy with humans. PowerChap marketing boosts and increases a merchant's store performance.</p>
    </div>
  </div>
</header>