
<header class="header-page header-page--shopify">
  <div class="line-ellipse line-ellipse--header-page line-ellipse--header-page-left"></div>
  <div class="line-ellipse line-ellipse--header-page line-ellipse--header-page-right"></div>
  <div class="container">
    <div class="header-page__content">
      <h1 class="title"><span class="color-primary">Advertising</span><span>Built for Scale</span></h1>
      <p>Increase your leads by 65% with PowerChap Marketing. Scale your Business and Grow Revenue!</p><a class="btn-primary" href="https://calendly.com/powerchap/15min?month=2021-04"><span class="bg"></span><span class="text">Get Started</span></a>
      <p class="note">Get Started Now - No Credit Card Necessary</p>
    </div>
  </div>
</header>