
<header class="header-page header-page--pricing">
  <div class="line-ellipse line-ellipse--header-page line-ellipse--header-page-left"></div>
  <div class="line-ellipse line-ellipse--header-page line-ellipse--header-page-right"></div>
  <div class="container">
    <div class="header-page__content">
      <h1 class="title"><span>Choose Your</span><span class="color-primary">Plan</span></h1>
      <div class="label label-blue">Target More Leads With Us</div>
    </div>
  </div>
</header>