
<header class="header-page header-page--blog">
  <div class="line-ellipse line-ellipse--header-page line-ellipse--header-page-left"></div>
  <div class="line-ellipse line-ellipse--header-page line-ellipse--header-page-right"></div>
  <div class="icon-floating icon-floating--message"><img src="images/floating-header/3.png" alt=""/></div>
  <div class="container">
    <div class="header-page__content">
      <div class="icon-floating icon-floating--love"><img src="images/floating-header/1.png" alt=""/></div>
      <div class="icon-floating icon-floating--logo"><img src="images/floating-header/2.png" alt=""/></div>
      <h1 class="title"><span class="color-primary">Latest News</span><span class="bubble-and">&amp;</span><span class="updates">Updates</span></h1>
      <p>Integrate reviews &amp; feedback into any <br> website or social platform</p>
      <form class="form-style form-search">
        <div class="box-style box-search"><i class="icon-search"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M11 19C15.4183 19 19 15.4183 19 11C19 6.58172 15.4183 3 11 3C6.58172 3 3 6.58172 3 11C3 15.4183 6.58172 19 11 19Z" stroke="#B6BFD6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M21 20.9999L16.65 16.6499" stroke="#B6BFD6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg></i>
          <input type="text" placeholder="Search here.."/>
        </div>
      </form>
    </div>
  </div>
</header>