.footer-shell
    position: relative
    nav
        a
            color: #fff
            display: block
            &:hover
                text-decoration: underline

    .banner-footer
        padding: 4em
        background: linear-gradient(86.6deg, #F69321 0%, #DA3926 100%)
        position: relative
        overflow: hidden
        display: flex
        align-items: center
        justify-content: space-between
        margin-bottom: rem(48)
        border-radius: 4px
        &::before
            content: ''
            position: absolute
            top: 0
            left: 0
            bottom: 0
            right: 0
            width: 100%
            height: 100%
            background: url('../images/bg-banner.svg')no-repeat center bottom
            background-size: 100%
        div
            position: relative
            z-index: 1
        &__content
            max-width: 480px
            h2
                margin-bottom: rem(16)
                font-size: rem(40)
            p
                max-width: 80%
        &__cta
            display: flex
            flex-direction: column
            align-items: flex-end
            .action
                display: flex
                margin-bottom: rem(24)
                .btn-default
                    background-color:  rgba(255, 255, 255, 0.1)
                    color: #fff
                    margin-left: rem(24)
                    .soon
                        color: $color-primary
                        font-weight: bold
                        text-transform: uppercase
                        border-radius: 4px
                        padding: 2px 4px
                        margin-left: rem(10)
                        background-color: #fff
    .footer-info
        display: flex
        justify-content: space-between
        padding: rem(150) 0 rem(130)
        .footer-brand
            max-width: 300px
            > img, p, a
                margin-bottom: rem(24)

        .footer-menu
            h3
                margin-bottom: rem(20)
            a
                padding: rem(12) 0            


    .footer-note
        display: flex
        justify-content: space-between
        padding-bottom: rem(40)
        nav
            display: flex
            align-items: center
            a
                padding: rem(0) rem(16)


@media screen and ( max-width: 1024px )
    .footer-shell
        .container--banner
            padding: 0px
        .banner-footer
            border-radius: 0px
            flex-direction: column
            padding: rem(24)
            text-align: center
            &__content
                max-width: 100%
                margin-bottom: rem(24)
                h2
                    margin-bottom: rem(16)
                    font-size: rem(28)
                p
                    max-width: 100%
            &__cta
                display: block
                width: 100%
                .action
                    display: block
                    margin-bottom: rem(0)
                    a
                        width: 100%
                        margin-bottom: rem(16)
                    .btn-default
                        background-color:  rgba(255, 255, 255, 0.1)
                        color: #fff
                        margin-left: rem(0)
        .footer-info
            flex-wrap: wrap
            padding: rem(72) 0
            .footer-brand
                flex: 0 0 100%
                max-width: 100%
                text-align: center
                margin-bottom: rem(72)

            .footer-menu
                flex: 0 0 50%
                max-width: 50%
                margin-bottom: rem(50)
                a
                    font-size: rem(14)
        .footer-note
            flex-direction: column
            text-align: center
            nav
                width: 100%
                justify-content: space-between
                margin-top: rem(32)
                a
                    margin: 0
                    padding: 0