.header-page,
.header-section
    text-align: center
    max-width: rem(870)
    margin: 0 auto
    margin-top: 100px
    padding: 0 rem(20)
    p
        font-size: rem(20)
        line-height: 1.6

.header-page
    h1 
        font-size: rem(56)
        margin-bottom: rem(24)
    p
        margin-bottom: rem(48)

.header-section
    padding-bottom: rem(72)
    h2
        margin-bottom: rem(24)
    &--simple
        margin-bottom: 0
        padding-bottom: rem(12)
        h2
            font-size: rem(20)


@media screen and ( max-width: 480px )
    .header-page
        max-width: 100%
        h1 
            font-size: rem(40)
            line-height: 1.2
        p
            font-size: rem(16)