
.line-ellipse
    background-color: transparent
    position: absolute
    z-index: 10
    &::before,
    &::after
        content: ''
        position: absolute
        top: 0
        left: 0
        border: 1px solid $color-primary
        border-radius: 100%

.line-ellipse--body
    width: 314px
    height: 314px
    &::before,
    &::after
        width: 100%
        height: 100%

.line-ellipse--body-left
    left: calc( -314px + 50px )
    &::before
        top: -50px
        left: -10px
        animation: animate-left-top-before 15s alternate-reverse infinite
    &::after
        top: 0
        animation: animate-left-top-after 15s alternate-reverse infinite

.line-ellipse--body-right
    right: calc( -314px + 50px )
    &::before
        top: -38px
        right: -10px
        animation: animate-right-top-after 15s alternate-reverse infinite
    &::after
        top: 5px
        animation: animate-right-top-before 15s alternate-reverse infinite

.line-ellipse--card-right,
.line-ellipse--vision,
.line-ellipse--partners-join,
.line-ellipse--autopilot
    right: 0
    top: 0
    &::before
        right: -200px
        top: -160px
        left: inherit
        width: 357px
        height: 357px
        animation: animate-right-top-before 15s alternate-reverse infinite
    &::after
        right: -146px
        top: -54px
        left: inherit
        width: 285px
        height: 285px
        animation: animate-right-top-after 15s alternate-reverse infinite

.line-ellipse--card-right
    &::before,
    &::after
        border: 1px solid #ffffff

.line-ellipse--footer
    left: 0
    top: 0
    &::before
        top: -166px
        left: -333px
        width: 535px
        height: 535px
        animation: animate-left-top-before 15s alternate-reverse infinite
    &::after
        left: -300px
        top: 0px
        width: 427px
        height: 427px
        animation: animate-left-top-after 10s alternate-reverse infinite

// header
.line-ellipse--header-page
    width: 314px
    height: 314px
    top: 0px
    &::before,
    &::after
        width: 100%
        height: 100%

.line-ellipse--header-page-left
    left: calc( -314px + 50px )
    &::before
        top: -50px
        left: -10px
        animation: animate-left-top-before 15s alternate-reverse infinite
    &::after
        top: 0
        animation: animate-left-top-after 12s alternate-reverse infinite

.line-ellipse--header-page-right
    right: calc( -314px + 50px )
    &::before
        top: -38px
        right: -10px
        animation: animate-right-top-before 15s alternate-reverse infinite
    &::after
        top: 5px
        animation: animate-right-top-after 15s alternate-reverse infinite
        


@keyframes  animate-left-top-before
    0%
        opacity: 1
        transform: translate(0px, 0px)
    15%
        opacity: 0.2
    25%
        opacity: 0.8
        transform: translate(10px, 20px)
    50%
        opacity: 1
        transform: translate(40px, -10px)
    60%
        opacity: 0.8
    70%
        opacity: 0.2
    80%
        opacity: 0.9
    100%
        opacity: 1
        transform: translate(10px, 30px)

@keyframes  animate-left-top-after
    0%
        opacity: 1
        transform: translate(0px, 0px)
    15%
        opacity: 0.8
    25%
        opacity: 0.2
        transform: translate(10px, -10px)
    50%
        opacity: 1
        transform: translate(10px, 30px)
    60%
        opacity: 0.2
    70%
        opacity: 0.8
    80%
        opacity: 0.2
    100%
        opacity: 1
        transform: translate(10px, 30px)


@keyframes  animate-right-top-before
    0%
        opacity: 1
        transform: translate(0px, 0px)
    15%
        opacity: 0.8
    25%
        opacity: 0.2
        transform: translate(10px, -10px)
    50%
        opacity: 1
        transform: translate(10px, 30px)
    60%
        opacity: 0.2
    70%
        opacity: 0.8
    80%
        opacity: 0.2
    100%
        opacity: 1
        transform: translate(10px, 30px)


@keyframes animate-right-top-after
    0%
        opacity: 1
        transform: translate(0px, 0px)
    15%
        opacity: 0.2
    25%
        opacity: 0.8
        transform: translate(10px, 20px)
    50%
        opacity: 1
        transform: translate(40px, -10px)
    60%
        opacity: 0.8
    70%
        opacity: 0.2
    80%
        opacity: 0.9
    100%
        opacity: 1
        transform: translate(10px, 30px)