.header-shell
    position: fixed
    top: 0px
    left: 0px
    width: 100%
    z-index: 100
    padding: rem(24) rem(48)
    transition: all 0.3s ease
    &--fixed
        background-color: #000

    .container
        max-width: 2200px
        padding: 0

    .mobile-menu
        display: none

    .btn-cta-mobile
        display: flex
        align-items: center
        justify-content: center
        background-color: $bg-gray
        border: none
        border-radius: rem(9)
        width: rem(40)
        height: rem(40)
        .menu
            display: block
        .close
            display: none
        &.is-open
            .menu
                display: none
            .close
                display: block
    .toggle-menu
        position: absolute
        right: rem(16)
        display: none
        top: rem(0)

    .header-content
        display: flex
        align-items: center
        justify-content: space-between
        animation: show-menu 1s ease
        &__logo
            a
                display: block

        &__menu
            display: flex
            align-items: center
            justify-content: center
            flex-grow: 1
            .box-menu
                display: flex
                align-items: center
                > ul
                    display: flex
                    align-items: center
                    position: relative
                    li
                        a
                            padding: 0 rem(16)
                            &:hover
                                color: $color-primary
                        &.active-page
                            > a
                                color: $color-primary
                        &.parent-menu
                            position: relative
                            > a
                                display: flex
                                align-items: center
                                justify-content: space-between
                                position: relative
                            i
                                width: 24px
                                height: 24px
                                margin-left: 4px
                                transition: 0.6s cubic-bezier(0.5, 0, 0.5, 1)
                                transform: rotate(0deg)
                                background: url('../images/chevron.svg')no-repeat center center

                            .sub-menu
                                display: none
                                position: absolute
                                width: 200px
                                border: 1px solid rgba(255, 255, 255, 0.05)
                                background-color: $color-bg
                                padding-top: rem(24)
                                li
                                    a
                                        display: block
                                        padding: rem(12) rem(20)
                                        font-size: rem(14)
                                        &:hover
                                            color: $color-primary
                            &:hover
                                a
                                    i
                                        transform: rotate(180deg)
                                .sub-menu
                                    display: block
                                    animation: submenu 0.6s ease-in-out
            .box-auth
                .btn-primary
                    margin-left: rem(32)
                    min-width: rem(20)
                    font-size: rem(16)
                    padding-top: rem(20)
                    padding-bottom: rem(20)
                    line-height: 1 !important
        &__cta
            display: flex
            align-items: center


@keyframes show-menu
    0%
        opacity: 0
        transform: translateY(-100%)
    100%
        opacity: 1
        transform: translateY(0%)
        
@keyframes submenu
    0%
        opacity: 0
        transform: translateY(-5px)
    100%
        opacity: 1
        transform: translateY(0px)

@media screen and ( max-width: 1024px )
    .header-shell
        display: none
        padding: 0
        // mobile
        .toggle-menu
            display: block

        .container
            padding: 0px
            max-width: 100%

        .header-content
            position: relative
            padding: rem(0)
            &__logo
                padding: rem(24) 0
                background-color: #000
                flex-grow: 1
                text-align: left
                .logo-header
                    max-width: 930px
                    margin: 0 auto
                    position: relative
                    padding: rem(0) rem(16)
                a 
                    display: block
                    img
                        height: 40px
                z-index: 101

            &__menu
                width: 100%
                position: fixed
                top: 0
                left: 0
                right: 0
                bottom: 0
                width: 100%
                height: 100vh
                padding: 0px
                z-index: 100
                background-color: $bg-gray
                flex-direction: column
                align-items: flex-start
                transform: translateY(-100%)
                transition: 0.6s cubic-bezier(0.5, 0, 0.5, 1)
                padding-top: rem(60)
                &.is-show
                    transform: translateY(0%)
                .box-menu
                    width: 100%
                    flex-direction: column
                    align-items: flex-start
                    padding-top: rem(42)
                    > ul
                        flex-direction: column
                        align-items: flex-start
                        width: 100%
                        li
                            width: 100%
                            a
                                font-size: rem(16)
                                display: block
                                padding: rem(24)
                                text-align: center
                .box-auth
                    padding-left: rem(0)
                    margin: 0 auto
                    padding-top: rem(16)
                    .btn-primary
                        margin-left: 0px
                        margin-top: rem(54)

            &__cta
                display: none