.main-global-header
	padding: rem(24)
	position: absolute
	top: 0
	z-index: 999
	width: 100%
	.global-header
		display: flex
		align-items: center
		justify-content: space-between
		width: 100%
		&__logo
			position: absolute
			left: 24px
			.logo-header
				position: relative
				z-index: 10
			.toggle-menu-header
				background-color: transparent
				border: none
				display: none
		&__menu
			width: 100%
		.header-menu
			&__nav

			&__cta
				position: absolute
				right: 24px
				top: 24px

.main-header
	padding: 0px
	transform-style: preserve3d
	perspective: 3000px
.menu
	list-style: none
	margin: 0
	padding-left: 0
	display: flex
	justify-content: center
	.list-menu
		a
			display: flex
			align-items: center
			justify-content: space-between
			position: relative
			padding: rem(16)
			span
				display: block
				height: 24px
				line-height: 24px
		&.active 
			a
				i.chevron
					transform: rotate(180deg)
	&__item
		position: relative
		&:hover > .sub-menu-shadow
			display: block

	.sub-menu-shadow
		position: absolute
		display: none

.dropdown
	&-holder
		position: absolute
		width: 100%
		left: 0
		top: 100%
	&__bg, &__arrow
		position: absolute
	&__arrow
		width: 0
		height: 0
		border-width: 10px
		border-style: solid
		border-color: transparent transparent #212227
		top: -20px
		opacity: 0
		transition: .20s ease
		pointer-events: none
	&__bg
		// width: 450px
		// height: 400px
		background-color: #212227
		opacity: 0
		transition: .25s ease
		border-radius: 5px
		overflow: hidden
		z-index: -6
		&-bottom
			background-color: #212227
			position: absolute
			width: 100%
			left: 0
			top: 300px
			height: 700px
			transition: .3s ease
	&__wrap
		overflow: hidden
		position: absolute
		transition: .25s ease
		z-index: 1
		
		.top-section
			padding: 24px
	&-menu
		&__content
			position: absolute
			opacity: 0
			transition: .25s ease
			min-width: 320px
			ul
				list-style: none
				padding-left: 0
				margin: 0
		&.active
			.dropdown-menu__content
				opacity: 1
				.main-section
					.submenu
						.submenu__list.centered
							align-items: center

.btn-toggle-menu
	display: flex
	align-items: center
	justify-content: space-between
	font-family: $font-base
	background-color: transparent
	color: #fff
	border: none
	width: 100%
	padding: rem(12) rem(24)
	font-size: rem(16)
	display: none

.submenu
	padding: rem(24)
	position: relative
	z-index: 999
	&__list
		display: flex
		font-size: 14px
		margin-bottom: rem(24)
		.submenu-icon
			margin-right: rem(12)
			img
				width: 48px
				height: 48px
				max-width: 48px
				min-width: 48px
		.submenu-content
			.content-title
				display: flex
				align-items: center
				i.icon
					width: 16px
					height: 16px
					display: flex
					align-items: center
					justify-content: center
					opacity: 0
					transition: all 0.3s ease-in-out
			p
				opacity: 0.5
				transition: all 0.3s ease-in-out
				font-size: 12px
				line-height: 1.5em
				margin-top: 5px
		&:hover
			.submenu-content
				.content-title
					i.icon
						opacity: 1
			p
				opacity: 1

		&:last-child
			margin-bottom: 0px

	&--features
		display: grid
		grid-template-columns: repeat(2, minmax(0, 1fr))
		width: 700px
		column-gap: rem(48)
		position: relative
		&::before
			content: ''
			position: absolute
			top: 24px
			left: 50%
			height: calc( 100% - 48px)
			width: 2px
			background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 25.17%, #FFFFFF 74.83%, rgba(255, 255, 255, 0) 100%)
			opacity: 0.1 



.label-soon
	background: linear-gradient(86.6deg, #F69321 0%, #DA3926 100%)
	padding: 2px 4px
	border-radius: 4px
	text-transform: uppercase
	color: #000
	margin: 0px 5px
	display: inline-block
	font-weight: 700
	font-size: 11px


i.chevron
	display: block
	width: 24px
	height: 24px
	margin-left: 4px
	transition: 0.6s cubic-bezier(0.5, 0, 0.5, 1)
	transform: rotate(0deg)
	background: url('../images/chevron.svg')no-repeat center center


@media screen and ( max-width: 1024px)
	.main-global-header
		position: fixed
		top: 0px
		left: 0px
		width: 100%
		.global-header
			&__logo
				position: fixed
				top: 0
				left: 0
				right: 0
				width: 100%
				z-index: 1000
				padding: rem(20)
				background-color: #000
				display: flex
				align-items: center
				justify-content: space-between
				img
					height: 24px

			.toggle-menu-header
				width: 32px
				height: 32px
				display: flex
				align-items: center
				justify-content: center
				position: relative
				.icon-open,
				.icon-close
					position: absolute
					transition: all 0.3s ease-in-out

				.icon-open
					opacity: 1
					transform: scale(1)

				.icon-close
					opacity: 0
					transform: scale(0.5)
				&.is-active
					.icon-close
						opacity: 1
						transform: scale(1)
					.icon-open
						opacity: 0
						transform: scale(0.5)

				
			&__menu
				position: fixed
				top: 0
				left: 0
				right: 0
				bottom: 0
				width: 100%
				height: 100%
				background: #000
				overflow: auto
				padding: rem(20)
				padding-top: rem(80)
				transition: all 0.3s ease-in-out
				transform: translateY(-100%)
				&.is-show
					transform: translateY(0%)
				ul.menu
					display: none
				.dropdown-holder
					position: relative
					top: unset
					.dropdown-menu
						opacity: 1 !important
					.dropdown__arrow,
					.dropdown__bg,
					.dropdown__bg-bottom
						display: none
					.dropdown__wrap,
					.dropdown-menu__content
						position: relative
						left: unset !important
						width: 100% !important
						height: unset !important

					.dropdown-menu__content
						opacity: 1
						.main-section
							border-bottom: 1px solid rgba(255, 255, 255, 0.1)
							.btn-toggle-menu
								display: flex
								font-size: rem(24)
								font-weight: 500
								padding: rem(24) 0
							&--open 
								.btn-toggle-menu
									i.icon
										transform: rotate(180deg)
								.submenu
									display: block !important
				.header-menu__cta
					position: relative
					display: flex
					flex-direction: column-reverse
					right: unset
					left: unset
					a
						display: block
						text-align: center

				.dropdown-menu
					&:last-child
						.main-section
							border-bottom: 0px
							.btn-toggle-menu
								padding-bottom: 0px !important

	.submenu
		padding: rem(0)
		display: none !important
		padding-bottom: rem(30)
		&__list
			display: flex
			font-size: 14px
			margin-bottom: 0px
			padding: rem(20) 0
			.submenu-icon
				display: none

			.submenu-content
				.content-title
					i.icon
						display: none
				p
					display: none

		&--features
			display: block
			column-gap: 0px
			&::before
				display: none