
<section class="section-page section-page--chart">
  <div class="container">
    <div class="box-chart bg-gray">
      <div class="box-live-chart">
        <div class="box-live-chart__current flex items-center">
          <div class="icon"><img src="images/coin.svg" alt=""/></div>
          <div>
            <h4 class="h4">$0.0000004</h4><span class="block">Token Price</span>
          </div>
        </div>
        <div class="box-live-chart__status flex items-center justify-between">
          <div class="box-status flex items-center">
            <h5 class="h5 text-green">+ 47.2%</h5>
            <spab class="label text-small">24 Hours</spab>
          </div>
          <div class="box-status flex items-center">
            <h5 class="h5 text-green">+ 17.1%</h5>
            <spab class="label text-small">14 Days</spab>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>