
<section class="section-page section-page--distribution">
  <div class="card-container bg-gray">
    <div class="container"> 
      <div class="box-distribution">
        <div class="box-distribution__pie-chart">
          <figure><img src="images/pie.svg" alt=""/>
            <div class="blocking blocking--red">
              <div class="label text-link">circulating supply</div>
            </div>
            <div class="blocking blocking--blue">
              <div class="label text-link">Tokens Burned</div>
            </div>
            <div class="blocking blocking--yellow">
              <div class="label text-link">dev tokens</div>
            </div>
            <div class="blocking blocking--green">
              <div class="label text-link">marketing</div>
            </div>
            <div class="blocking blocking--middle"></div>
          </figure>
        </div>
        <div class="box-distribution__content">
          <h2 class="h2">Tokens Fair Distribution</h2>
          <div class="distribution-percent">
            <div class="distribution-percent__list">
              <div class="percent-label">
                <div class="block">
                  <div class="dot bg-blue"></div>
                </div><span class="text-link">Tokens Burned</span>
              </div>
              <h3 class="h2">50%</h3>
            </div>
            <div class="distribution-percent__list">
              <div class="percent-label">
                <div class="block">
                  <div class="dot bg-red"></div>
                </div><span class="text-link">Circulating Supply</span>
              </div>
              <h3 class="h2">42.75%</h3>
            </div>
            <div class="distribution-percent__list">
              <div class="percent-label">
                <div class="block">
                  <div class="dot bg-yellow"></div>
                </div><span class="text-link">Dev Tokens</span>
              </div>
              <div class="flex items-center">
                <h3 class="h2">5%</h3>
                <div class="locked text-link bg-red">LOCKED</div>
              </div>
            </div>
            <div class="distribution-percent__list">
              <div class="percent-label">
                <div class="block">
                  <div class="dot bg-green"></div>
                </div><span class="text-link">Marketing</span>
              </div>
              <h3 class="h2">2.25%</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>