
<section class="section-page section-page--faq">
  <div class="container">
    <div class="text-center">
      <h2 class="h2">Frequently Asked Question</h2>
      <p>Below you will find all frequently asked questions about the Promise Project. If you have any other questions, please get in touch.</p>
    </div>
    <div class="boxed-faq animate" id="boxFaq">
      <div class="list-faq is-active">
        <div class="list-faq__header">
          <h5 class="h5">What is Promise?</h5>
          <div class="icon-collapse"></div>
        </div>
        <div class="list-faq__body">
          <p>Promise is the world's first BEP20 token based on trust. Our token guarantees a continuously increasing price because everyone who holds the Promise token makes a promise to hold it for at least 15 days. The longest holders will be honored with glory and shown on the top list of the Wall of Honor, while others who don't keep their promise will end up on the Wall of Shame and be mocked by the community.</p>
        </div>
      </div>
      <div class="list-faq">
        <div class="list-faq__header">
          <h5 class="h5">What is the utility of Promise?</h5>
          <div class="icon-collapse"></div>
        </div>
        <div class="list-faq__body">
          <p>Promise is the world's first BEP20 token based on trust. Our token guarantees a continuously increasing price because everyone who holds the Promise token makes a promise to hold it for at least 15 days. The longest holders will be honored with glory and shown on the top list of the Wall of Honor, while others who don't keep their promise will end up on the Wall of Shame and be mocked by the community.</p>
        </div>
      </div>
      <div class="list-faq">
        <div class="list-faq__header">
          <h5 class="h5">What is the utility of Promise?</h5>
          <div class="icon-collapse"></div>
        </div>
        <div class="list-faq__body">
          <p>Promise is the world's first BEP20 token based on trust. Our token guarantees a continuously increasing price because everyone who holds the Promise token makes a promise to hold it for at least 15 days. The longest holders will be honored with glory and shown on the top list of the Wall of Honor, while others who don't keep their promise will end up on the Wall of Shame and be mocked by the community.</p>
        </div>
      </div>
      <div class="list-faq">
        <div class="list-faq__header">
          <h5 class="h5">What is the utility of Promise?</h5>
          <div class="icon-collapse"></div>
        </div>
        <div class="list-faq__body">
          <p>Promise is the world's first BEP20 token based on trust. Our token guarantees a continuously increasing price because everyone who holds the Promise token makes a promise to hold it for at least 15 days. The longest holders will be honored with glory and shown on the top list of the Wall of Honor, while others who don't keep their promise will end up on the Wall of Shame and be mocked by the community.</p>
        </div>
      </div>
    </div>
  </div>
</section>