
<section class="section-page section-page--hero">
  <div class="container">
    <div class="main-hero">
      <header class="header-page">
        <h1 class="animate">Affordable &amp; Reliable Hosting</h1>
        <p class="animate">With prices starting at <strong>$5/quarter</strong> along with free SSL certificates, CloudFlare RailGun, amazing reliability and performance you cannot go wrong with Ignero.</p>
        <div class="action">
          <div class="block animate delay-1"><a class="btn-primary" href="dedicated-server.html">Dedicated Servers</a></div>
          <div class="block animate delay-2"><a class="btn-default btn-soon" href="pricing-vps.html"><span>Ryzen VPS Plans</span></a></div>
        </div>
      </header>
    </div>
  </div>
  <figure class="block-animation animate"><img class="lazyload" data-src="images/animate-homepage.svg" alt=""/></figure>
</section>