
<section class="section-page section-page--roadmap">
  <div class="container">
    <div class="header-roadmap flex items-center">
      <h2 class="h2">Roadmap</h2>
      <p>Just as our community is asked to make a promise when buying the token, we make promises to develop the system and achieve the goal through marketing strategies. The goal is the moon!</p>
    </div>
  </div>
  <div class="line-roadmap"></div>
  <div class="container container--roadmap">
    <div class="boxed-roadmap" id="boxRoadmap">
      <div class="list list--done">
        <div class="dot"></div>
        <div class="box-roadmap">
          <div class="label-roadmap bg-red">Q2 2021</div>
          <h4 class="h4">Promise launch</h4>
          <p>Promise Launch is on 7 April 2021 with a non-changeable smart contract.</p>
        </div>
      </div>
      <div class="list list--done">
        <div class="dot"></div>
        <div class="box-roadmap">
          <div class="label-roadmap bg-green">Q2 2021</div>
          <h4 class="h4">50% Token burning</h4>
          <p>50% of the token's total supply will be burned to increase the value.</p>
        </div>
      </div>
      <div class="list list--done">
        <div class="dot"></div>
        <div class="box-roadmap">
          <div class="label-roadmap bg-blue">Q2 2021</div>
          <h4 class="h4">Wall of honor/shame</h4>
          <p>This is where the truth will emerge, promise keeper are praised with honor and glory, the others will be shamed and disgraced.</p>
        </div>
      </div>
      <div class="list">
        <div class="dot"></div>
        <div class="box-roadmap">
          <div class="label-roadmap bg-light-gray">Q2 2021</div>
          <h4 class="h4">Wall of honor/shame</h4>
          <p>This is where the truth will emerge, promise keeper are praised with honor and glory, the others will be shamed and disgraced.</p>
        </div>
      </div>
      <div class="list">
        <div class="dot"></div>
        <div class="box-roadmap">
          <div class="label-roadmap bg-light-gray">Q2 2021</div>
          <h4 class="h4">Wall of honor/shame</h4>
          <p>This is where the truth will emerge, promise keeper are praised with honor and glory, the others will be shamed and disgraced.</p>
        </div>
      </div>
    </div>
  </div>
</section>