
<div class="content-wall">
  <div class="content-wall__content">
    <h3 class="h3">Introducing: Wall of Shame</h3>
    <p>All Promise token holder who reswap their tokens to any other cryptocurrency within Coming Soon break their promise and will be presented here in the Wall of Shame.</p>
    <ul>
      <li class="call-out">
        <div class="box-icon">
          <div class="icon-blue"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M17.9001 6.54993L16.3201 3.39993C16.0876 2.94218 15.688 2.59136 15.204 2.4201C14.72 2.24884 14.1887 2.27026 13.7201 2.47993L5.59005 6.08993C5.38259 6.18444 5.21365 6.34701 5.11124 6.55069C5.00882 6.75436 4.97906 6.98692 5.02691 7.20982C5.07476 7.43272 5.19733 7.63258 5.37432 7.77627C5.55131 7.91997 5.77208 7.99888 6.00005 7.99993H17.0001C17.17 8.00027 17.3372 7.95729 17.486 7.87506C17.6347 7.79282 17.76 7.67404 17.8501 7.52993C17.9419 7.38465 17.9948 7.21814 18.0035 7.04648C18.0123 6.87482 17.9766 6.7038 17.9001 6.54993Z" fill="white"/>
<path d="M20 13C20.2652 13 20.5196 12.8946 20.7071 12.7071C20.8946 12.5196 21 12.2652 21 12V8C21 7.46957 20.7893 6.96086 20.4142 6.58579C20.0391 6.21071 19.5304 6 19 6H4C3.46957 6 2.96086 6.21071 2.58579 6.58579C2.21071 6.96086 2 7.46957 2 8V20C2 20.5304 2.21071 21.0391 2.58579 21.4142C2.96086 21.7893 3.46957 22 4 22H19C19.5304 22 20.0391 21.7893 20.4142 21.4142C20.7893 21.0391 21 20.5304 21 20V16C21 15.7348 20.8946 15.4804 20.7071 15.2929C20.5196 15.1054 20.2652 15 20 15H17V13H20Z" fill="#3772FF"/>
<path d="M20 11H17C15.8954 11 15 11.8954 15 13V15C15 16.1046 15.8954 17 17 17H20C21.1046 17 22 16.1046 22 15V13C22 11.8954 21.1046 11 20 11Z" fill="white"/>
</svg>
          </div>
        </div>
        <div class="block">
          <p>Discover all the addresses that have breaken the promise by selling the token within Coming Soon or less.</p>
        </div>
      </li>
      <li class="call-out">
        <div class="box-icon">
          <div class="icon-red"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M14 15V19C14 19.7956 13.6839 20.5587 13.1213 21.1213C12.5587 21.6839 11.7956 22 11 22L7 13V2H18.28C18.7623 1.99455 19.2304 2.1636 19.5979 2.47599C19.9654 2.78839 20.2077 3.22309 20.28 3.7L21.66 12.7C21.7035 12.9866 21.6842 13.2793 21.6033 13.5577C21.5225 13.8362 21.3821 14.0937 21.1919 14.3125C21.0016 14.5313 20.7661 14.7061 20.5016 14.8248C20.2371 14.9435 19.9499 15.0033 19.66 15H14Z" fill="#EF466F"/>
<path d="M7 2H4C3.46957 2 2.96086 2.21071 2.58579 2.58579C2.21071 2.96086 2 3.46957 2 4V11C2 11.5304 2.21071 12.0391 2.58579 12.4142C2.96086 12.7893 3.46957 13 4 13H7" fill="white"/>
</svg>
          </div>
        </div>
        <div class="block">
          <p>Mock the people that break the promise of holding Promise Tokens for at least Coming Soon by disliking their Wallet ID.</p>
        </div>
      </li>
      <li class="call-out">
        <div class="box-icon">
          <div class="icon-purple"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M20 5H17C16.7348 5 16.4804 5.10536 16.2929 5.29289C16.1054 5.48043 16 5.73478 16 6V12H8C7.73478 12 7.48043 12.1054 7.29289 12.2929C7.10536 12.4804 7 12.7348 7 13V17C7 17.2652 7.10536 17.5196 7.29289 17.7071C7.48043 17.8946 7.73478 18 8 18H16.59L20.29 21.71C20.3834 21.8027 20.4943 21.876 20.6161 21.9258C20.7379 21.9755 20.8684 22.0008 21 22C21.13 22.0016 21.2591 21.9778 21.38 21.93C21.5642 21.8543 21.7216 21.7254 21.8321 21.5597C21.9425 21.394 22.001 21.1991 22 21V7C22 6.46957 21.7893 5.96086 21.4142 5.58579C21.0391 5.21071 20.5304 5 20 5Z" fill="white"/>
<path d="M16 2H4.00001C3.46958 2 2.96087 2.21071 2.5858 2.58579C2.21073 2.96086 2.00001 3.46957 2.00001 4V17C1.99902 17.1991 2.05749 17.394 2.16795 17.5597C2.27841 17.7254 2.43582 17.8543 2.62001 17.93C2.74092 17.9778 2.87 18.0016 3.00001 18C3.13162 18.0008 3.26208 17.9755 3.38392 17.9258C3.50576 17.876 3.61657 17.8027 3.71001 17.71L7.41001 14H16C16.5304 14 17.0392 13.7893 17.4142 13.4142C17.7893 13.0391 18 12.5304 18 12V4C18 3.46957 17.7893 2.96086 17.4142 2.58579C17.0392 2.21071 16.5304 2 16 2Z" fill="#9757D7"/>
</svg>
          </div>
        </div>
        <div class="block">
          <p>Comment and discuss on the addresses that do not hold their promise with our community.</p>
        </div>
      </li>
      <li class="call-out">
        <div class="box-icon">
          <div class="icon-green"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M8 17V21C8 21.2652 7.89464 21.5196 7.70711 21.7071C7.51957 21.8946 7.26522 22 7 22H4C3.73478 22 3.48043 21.8946 3.29289 21.7071C3.10536 21.5196 3 21.2652 3 21V17C3 16.7348 3.10536 16.4804 3.29289 16.2929C3.48043 16.1054 3.73478 16 4 16H7C7.26522 16 7.51957 16.1054 7.70711 16.2929C7.89464 16.4804 8 16.7348 8 17ZM14 14H11C10.7348 14 10.4804 14.1054 10.2929 14.2929C10.1054 14.4804 10 14.7348 10 15V21C10 21.2652 10.1054 21.5196 10.2929 21.7071C10.4804 21.8946 10.7348 22 11 22H14C14.2652 22 14.5196 21.8946 14.7071 21.7071C14.8946 21.5196 15 21.2652 15 21V15C15 14.7348 14.8946 14.4804 14.7071 14.2929C14.5196 14.1054 14.2652 14 14 14ZM21 10H18C17.7348 10 17.4804 10.1054 17.2929 10.2929C17.1054 10.4804 17 10.7348 17 11V21C17 21.2652 17.1054 21.5196 17.2929 21.7071C17.4804 21.8946 17.7348 22 18 22H21C21.2652 22 21.5196 21.8946 21.7071 21.7071C21.8946 21.5196 22 21.2652 22 21V11C22 10.7348 21.8946 10.4804 21.7071 10.2929C21.5196 10.1054 21.2652 10 21 10Z" fill="#45B26B"/>
<path d="M22 6.76L21 2.76V2.67C20.9681 2.58619 20.9279 2.50578 20.88 2.43L20.8 2.35C20.7442 2.28546 20.6803 2.22833 20.61 2.18H20.54C20.441 2.0962 20.325 2.03479 20.2 2H20.06H16C15.7348 2 15.4804 2.10536 15.2929 2.29289C15.1054 2.48043 15 2.73478 15 3C15 3.26522 15.1054 3.51957 15.2929 3.70711C15.4804 3.89464 15.7348 4 16 4H18.13C13.8 9.69 5.9 11 3 11C2.73478 11 2.48043 11.1054 2.29289 11.2929C2.10536 11.4804 2 11.7348 2 12C2 12.2652 2.10536 12.5196 2.29289 12.7071C2.48043 12.8946 2.73478 13 3 13C6.16 13 14.71 11.56 19.57 5.39L20 7.24C20.0315 7.37132 20.0886 7.49515 20.168 7.60441C20.2473 7.71368 20.3475 7.80624 20.4626 7.87681C20.5777 7.94738 20.7057 7.99459 20.839 8.01572C20.9724 8.03686 21.1087 8.03152 21.24 8C21.3713 7.96848 21.4951 7.91141 21.6044 7.83204C21.7137 7.75266 21.8062 7.65255 21.8768 7.5374C21.9474 7.42226 21.9946 7.29434 22.0157 7.16095C22.0369 7.02757 22.0315 6.89132 22 6.76Z" fill="white"/>
</svg>
          </div>
        </div>
        <div class="block">
          <p>Have an insight of the statistics of Wallet IDs through the Binance Smart Chain Explorer.</p>
        </div>
      </li>
    </ul>
  </div>
  <div class="content-wall__card">
    <div class="card-wall">
      <div class="card-wall__header">
        <div class="header-icon">
          <div class="icon"><svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M25 48.7001C38.0892 48.7001 48.7001 38.0892 48.7001 25C48.7001 11.9109 38.0892 1.30005 25 1.30005C11.9109 1.30005 1.30005 11.9109 1.30005 25C1.30005 38.0892 11.9109 48.7001 25 48.7001Z" fill="white"/>
<path d="M37.9001 30.2H12.1C11.7 30.2 11.3 30.6 11.3 31C11.3 31.4 11.7 31.7999 12.1 31.7999H37.8C38.2 31.7999 38.6 31.4 38.6 31C38.7 30.6 38.3001 30.2 37.9001 30.2Z" fill="#CBD1E2"/>
<path d="M25 46.0999C20.6 46.0999 17 42.4999 17 38.0999V30.2H33V38.0999C33 42.4999 29.4 46.0999 25 46.0999Z" fill="#3772FF"/>
<path d="M25 42.5C24.5 42.5 24.1 42.0999 24.1 41.5999V30.2H25.8V41.5999C25.9 42.0999 25.5 42.5 25 42.5Z" fill="#27417E"/>
<path d="M40 24H29.5C29.1 24 28.7 23.8 28.6 23.4C28.4 23 28.5 22.6 28.8 22.3L36 15.1C36.4 14.7 37 14.7 37.4 15.1C37.8 15.5 37.8 16.1 37.4 16.5L31.9 22H40C40.6 22 41 22.4 41 23C41 23.6 40.6 24 40 24Z" fill="black"/>
<path d="M20.5 24H10C9.4 24 9 23.6 9 23C9 22.4 9.4 22 10 22H18.1L12.6 16.5C12.2 16.1 12.2 15.5 12.6 15.1C13 14.7 13.6 14.7 14 15.1L21.2 22.3C21.5 22.6 21.6 23 21.4 23.4C21.3 23.8 20.9 24 20.5 24Z" fill="black"/>
</svg>
          </div>
        </div>
        <div class="header-desc">
          <h3 class="h3">Wall of Shame</h3>
          <p>Top 5 of Promise Holder</p>
        </div>
      </div>
      <div class="card-wall__body">
        <ul>
          <li class="wall-list">
            <div class="wall-list__content">
              <div class="block">
                <div class="icon bg-blue"><svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M18.3333 10.8333V12.5C18.3333 12.942 18.1577 13.3659 17.8452 13.6785C17.5326 13.991 17.1087 14.1666 16.6667 14.1666H14.1667C13.7246 14.1666 13.3007 13.991 12.9881 13.6785C12.6756 13.3659 12.5 12.942 12.5 12.5V10.8333C12.5 10.3913 12.6756 9.96735 12.9881 9.65478C13.3007 9.34222 13.7246 9.16663 14.1667 9.16663H16.6667C17.1087 9.16663 17.5326 9.34222 17.8452 9.65478C18.1577 9.96735 18.3333 10.3913 18.3333 10.8333ZM16.6667 15C16.9512 15.0003 17.2334 14.9495 17.5 14.85V16.6666C17.5 17.1087 17.3244 17.5326 17.0118 17.8451C16.6993 18.1577 16.2754 18.3333 15.8333 18.3333H3.33332C2.8913 18.3333 2.46737 18.1577 2.15481 17.8451C1.84225 17.5326 1.66666 17.1087 1.66666 16.6666V6.66663C1.66666 6.2246 1.84225 5.80068 2.15481 5.48812C2.46737 5.17556 2.8913 4.99996 3.33332 4.99996H4.82499L11.4333 2.0583C11.8259 1.88479 12.2702 1.86939 12.6738 2.01531C13.0774 2.16123 13.4092 2.45721 13.6 2.84163L14.6833 4.99996H15.8333C16.2754 4.99996 16.6993 5.17556 17.0118 5.48812C17.3244 5.80068 17.5 6.2246 17.5 6.66663V8.4833C17.2334 8.38378 16.9512 8.33298 16.6667 8.3333H14.1667C13.5036 8.3333 12.8677 8.59669 12.3989 9.06553C11.93 9.53437 11.6667 10.1703 11.6667 10.8333V12.5C11.6667 13.163 11.93 13.7989 12.3989 14.2677C12.8677 14.7366 13.5036 15 14.1667 15H16.6667ZM8.92499 4.99996H12.8167L12.1083 3.5833L8.92499 4.99996Z" fill="white"/>
</svg>
                </div>
              </div><a class="h6" href="#">0x8fb3f5e6bed04c9c547bfe</a>
            </div><span class="wall-list__label label">100 Days</span>
          </li>
          <li class="wall-list">
            <div class="wall-list__content">
              <div class="block">
                <div class="icon bg-green"><svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M18.3333 10.8333V12.5C18.3333 12.942 18.1577 13.3659 17.8452 13.6785C17.5326 13.991 17.1087 14.1666 16.6667 14.1666H14.1667C13.7246 14.1666 13.3007 13.991 12.9881 13.6785C12.6756 13.3659 12.5 12.942 12.5 12.5V10.8333C12.5 10.3913 12.6756 9.96735 12.9881 9.65478C13.3007 9.34222 13.7246 9.16663 14.1667 9.16663H16.6667C17.1087 9.16663 17.5326 9.34222 17.8452 9.65478C18.1577 9.96735 18.3333 10.3913 18.3333 10.8333ZM16.6667 15C16.9512 15.0003 17.2334 14.9495 17.5 14.85V16.6666C17.5 17.1087 17.3244 17.5326 17.0118 17.8451C16.6993 18.1577 16.2754 18.3333 15.8333 18.3333H3.33332C2.8913 18.3333 2.46737 18.1577 2.15481 17.8451C1.84225 17.5326 1.66666 17.1087 1.66666 16.6666V6.66663C1.66666 6.2246 1.84225 5.80068 2.15481 5.48812C2.46737 5.17556 2.8913 4.99996 3.33332 4.99996H4.82499L11.4333 2.0583C11.8259 1.88479 12.2702 1.86939 12.6738 2.01531C13.0774 2.16123 13.4092 2.45721 13.6 2.84163L14.6833 4.99996H15.8333C16.2754 4.99996 16.6993 5.17556 17.0118 5.48812C17.3244 5.80068 17.5 6.2246 17.5 6.66663V8.4833C17.2334 8.38378 16.9512 8.33298 16.6667 8.3333H14.1667C13.5036 8.3333 12.8677 8.59669 12.3989 9.06553C11.93 9.53437 11.6667 10.1703 11.6667 10.8333V12.5C11.6667 13.163 11.93 13.7989 12.3989 14.2677C12.8677 14.7366 13.5036 15 14.1667 15H16.6667ZM8.92499 4.99996H12.8167L12.1083 3.5833L8.92499 4.99996Z" fill="white"/>
</svg>
                </div>
              </div><a class="h6" href="#">0x8fb3f5e6bed04c9c547bfe</a>
            </div><span class="wall-list__label label">100 Days</span>
          </li>
          <li class="wall-list">
            <div class="wall-list__content">
              <div class="block">
                <div class="icon bg-yellow"><svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M18.3333 10.8333V12.5C18.3333 12.942 18.1577 13.3659 17.8452 13.6785C17.5326 13.991 17.1087 14.1666 16.6667 14.1666H14.1667C13.7246 14.1666 13.3007 13.991 12.9881 13.6785C12.6756 13.3659 12.5 12.942 12.5 12.5V10.8333C12.5 10.3913 12.6756 9.96735 12.9881 9.65478C13.3007 9.34222 13.7246 9.16663 14.1667 9.16663H16.6667C17.1087 9.16663 17.5326 9.34222 17.8452 9.65478C18.1577 9.96735 18.3333 10.3913 18.3333 10.8333ZM16.6667 15C16.9512 15.0003 17.2334 14.9495 17.5 14.85V16.6666C17.5 17.1087 17.3244 17.5326 17.0118 17.8451C16.6993 18.1577 16.2754 18.3333 15.8333 18.3333H3.33332C2.8913 18.3333 2.46737 18.1577 2.15481 17.8451C1.84225 17.5326 1.66666 17.1087 1.66666 16.6666V6.66663C1.66666 6.2246 1.84225 5.80068 2.15481 5.48812C2.46737 5.17556 2.8913 4.99996 3.33332 4.99996H4.82499L11.4333 2.0583C11.8259 1.88479 12.2702 1.86939 12.6738 2.01531C13.0774 2.16123 13.4092 2.45721 13.6 2.84163L14.6833 4.99996H15.8333C16.2754 4.99996 16.6993 5.17556 17.0118 5.48812C17.3244 5.80068 17.5 6.2246 17.5 6.66663V8.4833C17.2334 8.38378 16.9512 8.33298 16.6667 8.3333H14.1667C13.5036 8.3333 12.8677 8.59669 12.3989 9.06553C11.93 9.53437 11.6667 10.1703 11.6667 10.8333V12.5C11.6667 13.163 11.93 13.7989 12.3989 14.2677C12.8677 14.7366 13.5036 15 14.1667 15H16.6667ZM8.92499 4.99996H12.8167L12.1083 3.5833L8.92499 4.99996Z" fill="white"/>
</svg>
                </div>
              </div><a class="h6" href="#">0x8fb3f5e6bed04c9c547bfe</a>
            </div><span class="wall-list__label label">100 Days</span>
          </li>
          <li class="wall-list">
            <div class="wall-list__content">
              <div class="block">
                <div class="icon bg-red"><svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M18.3333 10.8333V12.5C18.3333 12.942 18.1577 13.3659 17.8452 13.6785C17.5326 13.991 17.1087 14.1666 16.6667 14.1666H14.1667C13.7246 14.1666 13.3007 13.991 12.9881 13.6785C12.6756 13.3659 12.5 12.942 12.5 12.5V10.8333C12.5 10.3913 12.6756 9.96735 12.9881 9.65478C13.3007 9.34222 13.7246 9.16663 14.1667 9.16663H16.6667C17.1087 9.16663 17.5326 9.34222 17.8452 9.65478C18.1577 9.96735 18.3333 10.3913 18.3333 10.8333ZM16.6667 15C16.9512 15.0003 17.2334 14.9495 17.5 14.85V16.6666C17.5 17.1087 17.3244 17.5326 17.0118 17.8451C16.6993 18.1577 16.2754 18.3333 15.8333 18.3333H3.33332C2.8913 18.3333 2.46737 18.1577 2.15481 17.8451C1.84225 17.5326 1.66666 17.1087 1.66666 16.6666V6.66663C1.66666 6.2246 1.84225 5.80068 2.15481 5.48812C2.46737 5.17556 2.8913 4.99996 3.33332 4.99996H4.82499L11.4333 2.0583C11.8259 1.88479 12.2702 1.86939 12.6738 2.01531C13.0774 2.16123 13.4092 2.45721 13.6 2.84163L14.6833 4.99996H15.8333C16.2754 4.99996 16.6993 5.17556 17.0118 5.48812C17.3244 5.80068 17.5 6.2246 17.5 6.66663V8.4833C17.2334 8.38378 16.9512 8.33298 16.6667 8.3333H14.1667C13.5036 8.3333 12.8677 8.59669 12.3989 9.06553C11.93 9.53437 11.6667 10.1703 11.6667 10.8333V12.5C11.6667 13.163 11.93 13.7989 12.3989 14.2677C12.8677 14.7366 13.5036 15 14.1667 15H16.6667ZM8.92499 4.99996H12.8167L12.1083 3.5833L8.92499 4.99996Z" fill="white"/>
</svg>
                </div>
              </div><a class="h6" href="#">0x8fb3f5e6bed04c9c547bfe</a>
            </div><span class="wall-list__label label">100 Days</span>
          </li>
          <li class="wall-list">
            <div class="wall-list__content">
              <div class="block">
                <div class="icon bg-purple"><svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M18.3333 10.8333V12.5C18.3333 12.942 18.1577 13.3659 17.8452 13.6785C17.5326 13.991 17.1087 14.1666 16.6667 14.1666H14.1667C13.7246 14.1666 13.3007 13.991 12.9881 13.6785C12.6756 13.3659 12.5 12.942 12.5 12.5V10.8333C12.5 10.3913 12.6756 9.96735 12.9881 9.65478C13.3007 9.34222 13.7246 9.16663 14.1667 9.16663H16.6667C17.1087 9.16663 17.5326 9.34222 17.8452 9.65478C18.1577 9.96735 18.3333 10.3913 18.3333 10.8333ZM16.6667 15C16.9512 15.0003 17.2334 14.9495 17.5 14.85V16.6666C17.5 17.1087 17.3244 17.5326 17.0118 17.8451C16.6993 18.1577 16.2754 18.3333 15.8333 18.3333H3.33332C2.8913 18.3333 2.46737 18.1577 2.15481 17.8451C1.84225 17.5326 1.66666 17.1087 1.66666 16.6666V6.66663C1.66666 6.2246 1.84225 5.80068 2.15481 5.48812C2.46737 5.17556 2.8913 4.99996 3.33332 4.99996H4.82499L11.4333 2.0583C11.8259 1.88479 12.2702 1.86939 12.6738 2.01531C13.0774 2.16123 13.4092 2.45721 13.6 2.84163L14.6833 4.99996H15.8333C16.2754 4.99996 16.6993 5.17556 17.0118 5.48812C17.3244 5.80068 17.5 6.2246 17.5 6.66663V8.4833C17.2334 8.38378 16.9512 8.33298 16.6667 8.3333H14.1667C13.5036 8.3333 12.8677 8.59669 12.3989 9.06553C11.93 9.53437 11.6667 10.1703 11.6667 10.8333V12.5C11.6667 13.163 11.93 13.7989 12.3989 14.2677C12.8677 14.7366 13.5036 15 14.1667 15H16.6667ZM8.92499 4.99996H12.8167L12.1083 3.5833L8.92499 4.99996Z" fill="white"/>
</svg>
                </div>
              </div><a class="h6" href="#">0x8fb3f5e6bed04c9c547bfe</a>
            </div><span class="wall-list__label label">100 Days</span>
          </li>
        </ul>
      </div>
      <div class="card-wall__footer"><a class="btn-primary" href="#">View Full List</a></div>
    </div>
  </div>
</div>