
<div class="content-wall">
  <div class="content-wall__content">
    <h3 class="h3">Introducing: Wall of Honor</h3>
    <p>All Promise Token holders that keep the promise of holding the token more than 15 days are listed here. The holders that hold the token the longest are praised here.</p>
    <ul>
      <li class="call-out">
        <div class="box-icon">
          <div class="icon-blue"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M22 6V18C22 18.5304 21.7893 19.0391 21.4142 19.4142C21.0391 19.7893 20.5304 20 20 20H4C3.46957 20 2.96086 19.7893 2.58579 19.4142C2.21071 19.0391 2 18.5304 2 18V15C2 14.7348 2.10536 14.4804 2.29289 14.2929C2.48043 14.1054 2.73478 14 3 14C3.53043 14 4.03914 13.7893 4.41421 13.4142C4.78929 13.0391 5 12.5304 5 12C5 11.4696 4.78929 10.9609 4.41421 10.5858C4.03914 10.2107 3.53043 10 3 10C2.73478 10 2.48043 9.89464 2.29289 9.70711C2.10536 9.51957 2 9.26522 2 9V6C2 5.46957 2.21071 4.96086 2.58579 4.58579C2.96086 4.21071 3.46957 4 4 4H20C20.5304 4 21.0391 4.21071 21.4142 4.58579C21.7893 4.96086 22 5.46957 22 6Z" fill="#3772FF"/>
<path d="M14 4V6.5C14 6.76522 13.8946 7.01957 13.7071 7.20711C13.5196 7.39464 13.2652 7.5 13 7.5C12.7348 7.5 12.4804 7.39464 12.2929 7.20711C12.1054 7.01957 12 6.76522 12 6.5V4H14ZM14 13.83V10.17C14 9.90478 13.8946 9.65043 13.7071 9.46289C13.5196 9.27536 13.2652 9.17 13 9.17C12.7348 9.17 12.4804 9.27536 12.2929 9.46289C12.1054 9.65043 12 9.90478 12 10.17V13.83C12 14.0952 12.1054 14.3496 12.2929 14.5371C12.4804 14.7246 12.7348 14.83 13 14.83C13.2652 14.83 13.5196 14.7246 13.7071 14.5371C13.8946 14.3496 14 14.0952 14 13.83ZM13 16.5C12.7348 16.5 12.4804 16.6054 12.2929 16.7929C12.1054 16.9804 12 17.2348 12 17.5V20H14V17.5C14 17.2348 13.8946 16.9804 13.7071 16.7929C13.5196 16.6054 13.2652 16.5 13 16.5Z" fill="white"/>
</svg>
          </div>
        </div>
        <div class="block">
          <h5 class="h5">Lottery Pool</h5>
          <p>All loyal partners of the Promise Community get a right to enter the lottery pool to earn winnings.</p>
        </div>
      </li>
      <li class="call-out">
        <div class="box-icon">
          <div class="icon-green"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M20 11V20C20 20.5304 19.7893 21.0391 19.4142 21.4142C19.0391 21.7893 18.5304 22 18 22H6C5.46957 22 4.96086 21.7893 4.58579 21.4142C4.21071 21.0391 4 20.5304 4 20V11C4 10.4696 4.21071 9.96086 4.58579 9.58579C4.96086 9.21071 5.46957 9 6 9H10V15C10 15.5304 10.2107 16.0391 10.5858 16.4142C10.9609 16.7893 11.4696 17 12 17C12.5304 17 13.0391 16.7893 13.4142 16.4142C13.7893 16.0391 14 15.5304 14 15V9H18C18.5304 9 19.0391 9.21071 19.4142 9.58579C19.7893 9.96086 20 10.4696 20 11Z" fill="#45B26B"/>
<path d="M8.71006 6.70999L11.0001 4.40999V15C11.0001 15.2652 11.1054 15.5196 11.293 15.7071C11.4805 15.8946 11.7348 16 12.0001 16C12.2653 16 12.5196 15.8946 12.7072 15.7071C12.8947 15.5196 13.0001 15.2652 13.0001 15V4.40999L15.2901 6.70999C15.383 6.80372 15.4936 6.87811 15.6155 6.92888C15.7373 6.97965 15.868 7.00579 16.0001 7.00579C16.1321 7.00579 16.2628 6.97965 16.3846 6.92888C16.5065 6.87811 16.6171 6.80372 16.7101 6.70999C16.8038 6.61703 16.8782 6.50642 16.929 6.38457C16.9797 6.26271 17.0059 6.132 17.0059 5.99999C17.0059 5.86798 16.9797 5.73727 16.929 5.61541C16.8782 5.49355 16.8038 5.38295 16.7101 5.28999L12.7101 1.28999C12.6129 1.20166 12.5012 1.13063 12.3801 1.07999C12.2604 1.02708 12.1309 0.999756 12.0001 0.999756C11.8692 0.999756 11.7398 1.02708 11.6201 1.07999C11.4989 1.13063 11.3873 1.20166 11.2901 1.28999L7.29006 5.28999C7.19682 5.38323 7.12286 5.49392 7.0724 5.61574C7.02194 5.73756 6.99597 5.86813 6.99597 5.99999C6.99597 6.13185 7.02194 6.26242 7.0724 6.38424C7.12286 6.50606 7.19682 6.61675 7.29006 6.70999C7.3833 6.80323 7.49399 6.87719 7.61581 6.92765C7.73764 6.97811 7.8682 7.00408 8.00006 7.00408C8.13192 7.00408 8.26249 6.97811 8.38431 6.92765C8.50613 6.87719 8.61682 6.80323 8.71006 6.70999Z" fill="white"/>
</svg>
          </div>
        </div>
        <div class="block">
          <h5 class="h5">Charity Votes</h5>
          <p>Mr. Promise volunteers to do donations to charity organizations. Have a right where donations will go.</p>
        </div>
      </li>
      <li class="call-out">
        <div class="box-icon">
          <div class="icon-red"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M11.9999 3C10.6867 3 9.38636 3.25866 8.1731 3.7612C6.95985 4.26375 5.85746 5.00035 4.92887 5.92893C3.05351 7.8043 1.99994 10.3478 1.99994 13C1.9947 14.4952 2.32853 15.972 2.97632 17.3196C3.62411 18.6671 4.569 19.8503 5.73994 20.78C5.91588 20.9212 6.13437 20.9987 6.35994 21H17.6399C17.8655 20.9987 18.084 20.9212 18.2599 20.78C19.4309 19.8503 20.3758 18.6671 21.0236 17.3196C21.6713 15.972 22.0052 14.4952 21.9999 13C21.9999 10.3478 20.9464 7.8043 19.071 5.92893C17.1956 4.05357 14.6521 3 11.9999 3Z" fill="#EF466F"/>
<path d="M16.83 9.55008L13.83 14.1101C13.9572 14.3888 14.0155 14.6941 14 15.0001C14 15.3956 13.8827 15.7823 13.6629 16.1112C13.4432 16.4401 13.1308 16.6965 12.7654 16.8478C12.3999 16.9992 11.9978 17.0388 11.6098 16.9617C11.2219 16.8845 10.8655 16.694 10.5858 16.4143C10.3061 16.1346 10.1156 15.7782 10.0384 15.3903C9.96126 15.0023 10.0009 14.6002 10.1522 14.2347C10.3036 13.8693 10.56 13.5569 10.8889 13.3371C11.2178 13.1174 11.6044 13.0001 12 13.0001H12.13L15.13 8.44008C15.2863 8.24604 15.5094 8.11734 15.7556 8.07918C16.0019 8.04102 16.2535 8.09616 16.4612 8.23379C16.6689 8.37143 16.8177 8.58164 16.8785 8.82326C16.9393 9.06489 16.9078 9.32051 16.79 9.54008L16.83 9.55008Z" fill="white"/>
</svg>
          </div>
        </div>
        <div class="block">
          <h5 class="h5">Burning Votes</h5>
          <p>To keep increasing the price, tokens get burned to create a scarcity in supply. Decide when they should take place.</p>
        </div>
      </li>
    </ul>
  </div>
  <div class="content-wall__card">
    <div class="card-wall">
      <div class="card-wall__header">
        <div class="header-icon">
          <div class="icon"><svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect width="80" height="80" rx="20" fill="url(#paint0_linear)"/>
<path d="M42.7 49.2V41.2H37.4V49.2C37.4 51.7 36.6 54.2 35.2 56.2H44.9C43.4 54.1 42.7 51.7 42.7 49.2Z" fill="#CBD1E2"/>
<path d="M52.6 38.6H27.4C22.2 38.6 18.1 34.4 18.1 29.3V24C18.1 22.2 19.5 20.8 21.3 20.8H58.8C60.6 20.8 62 22.2 62 24V29.2C61.9 34.4 57.8 38.6 52.6 38.6ZM21.3 22.8C20.6 22.8 20.1 23.3 20.1 24V29.2C20.1 33.2 23.4 36.5 27.4 36.5H52.6C56.6 36.5 59.9 33.2 59.9 29.2V24C59.9 23.3 59.4 22.8 58.7 22.8H21.3Z" fill="#CBD1E2"/>
<path d="M40 46.2999C32.8 46.2999 27 40.4999 27 33.2999V19.3999C27 17.9999 28.1 16.8999 29.5 16.8999H50.5C51.9 16.8999 53 17.9999 53 19.3999V33.2999C53 40.4999 47.2 46.2999 40 46.2999Z" fill="white"/>
<path d="M48 58.7999H32V57.4C32 56.7 32.5 56.2 33.2 56.2H46.8C47.5 56.2 48 56.7 48 57.4V58.7999Z" fill="white"/>
<path d="M48 57.8999H32V58.7999H48V57.8999Z" fill="#CBD1E2"/>
<path d="M50 58.8H30C29.5 58.8 29.1 59.2001 29.1 59.7001V62.3C29.1 62.8 29.5 63.2001 30 63.2001H50C50.5 63.2001 50.9 62.8 50.9 62.3V59.7001C50.8 59.2001 50.4 58.8 50 58.8Z" fill="white"/>
<path d="M40.6 23.7L42.2 26.9C42.3933 27.2865 42.9181 27.3311 43.346 27.3922L46.2 27.8C46.8 27.9 47 28.6 46.6 28.9L44 31.4C43.6924 31.7075 43.837 32.2155 43.9104 32.6442L44.4 35.5C44.5 36.1 43.9 36.5 43.4 36.2L40.3 34.5C40.1 34.4 39.9 34.4 39.7 34.5L36.6 36.2C36.1 36.5 35.5 36 35.6 35.5L36.0896 32.6442C36.1631 32.2155 36.3076 31.7075 36 31.4L33.5 28.9C33.4785 28.8785 33.4588 28.8561 33.4407 28.8331C32.8573 28.088 34.3702 27.7328 35.3071 27.5989L36.737 27.3947C37.1784 27.3316 37.7006 27.2988 37.9 26.9L38.8602 24.9795C39.2849 24.1302 40.2474 22.8184 40.6 23.7Z" fill="#3772FF"/>
<defs>
<linearGradient id="paint0_linear" x1="2.21687" y1="5.52381" x2="89.2441" y2="26.0523" gradientUnits="userSpaceOnUse">
<stop stop-color="#FF3C81"/>
<stop offset="1" stop-color="#2C67FF"/>
</linearGradient>
</defs>
</svg>
          </div>
        </div>
        <div class="header-desc">
          <h3 class="h3">Wall of Honor</h3>
          <p>Top 5 of Promise Holder</p>
        </div>
      </div>
      <div class="card-wall__body">
        <ul>
          <li class="wall-list">
            <div class="wall-list__content">
              <div class="block">
                <div class="icon bg-blue"><svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M18.3333 10.8333V12.5C18.3333 12.942 18.1577 13.3659 17.8452 13.6785C17.5326 13.991 17.1087 14.1666 16.6667 14.1666H14.1667C13.7246 14.1666 13.3007 13.991 12.9881 13.6785C12.6756 13.3659 12.5 12.942 12.5 12.5V10.8333C12.5 10.3913 12.6756 9.96735 12.9881 9.65478C13.3007 9.34222 13.7246 9.16663 14.1667 9.16663H16.6667C17.1087 9.16663 17.5326 9.34222 17.8452 9.65478C18.1577 9.96735 18.3333 10.3913 18.3333 10.8333ZM16.6667 15C16.9512 15.0003 17.2334 14.9495 17.5 14.85V16.6666C17.5 17.1087 17.3244 17.5326 17.0118 17.8451C16.6993 18.1577 16.2754 18.3333 15.8333 18.3333H3.33332C2.8913 18.3333 2.46737 18.1577 2.15481 17.8451C1.84225 17.5326 1.66666 17.1087 1.66666 16.6666V6.66663C1.66666 6.2246 1.84225 5.80068 2.15481 5.48812C2.46737 5.17556 2.8913 4.99996 3.33332 4.99996H4.82499L11.4333 2.0583C11.8259 1.88479 12.2702 1.86939 12.6738 2.01531C13.0774 2.16123 13.4092 2.45721 13.6 2.84163L14.6833 4.99996H15.8333C16.2754 4.99996 16.6993 5.17556 17.0118 5.48812C17.3244 5.80068 17.5 6.2246 17.5 6.66663V8.4833C17.2334 8.38378 16.9512 8.33298 16.6667 8.3333H14.1667C13.5036 8.3333 12.8677 8.59669 12.3989 9.06553C11.93 9.53437 11.6667 10.1703 11.6667 10.8333V12.5C11.6667 13.163 11.93 13.7989 12.3989 14.2677C12.8677 14.7366 13.5036 15 14.1667 15H16.6667ZM8.92499 4.99996H12.8167L12.1083 3.5833L8.92499 4.99996Z" fill="white"/>
</svg>
                </div>
              </div><a class="h6" href="#">0x8fb3f5e6bed04c9c547bfe</a>
            </div><span class="wall-list__label label">100 Days</span>
          </li>
          <li class="wall-list">
            <div class="wall-list__content">
              <div class="block">
                <div class="icon bg-green"><svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M18.3333 10.8333V12.5C18.3333 12.942 18.1577 13.3659 17.8452 13.6785C17.5326 13.991 17.1087 14.1666 16.6667 14.1666H14.1667C13.7246 14.1666 13.3007 13.991 12.9881 13.6785C12.6756 13.3659 12.5 12.942 12.5 12.5V10.8333C12.5 10.3913 12.6756 9.96735 12.9881 9.65478C13.3007 9.34222 13.7246 9.16663 14.1667 9.16663H16.6667C17.1087 9.16663 17.5326 9.34222 17.8452 9.65478C18.1577 9.96735 18.3333 10.3913 18.3333 10.8333ZM16.6667 15C16.9512 15.0003 17.2334 14.9495 17.5 14.85V16.6666C17.5 17.1087 17.3244 17.5326 17.0118 17.8451C16.6993 18.1577 16.2754 18.3333 15.8333 18.3333H3.33332C2.8913 18.3333 2.46737 18.1577 2.15481 17.8451C1.84225 17.5326 1.66666 17.1087 1.66666 16.6666V6.66663C1.66666 6.2246 1.84225 5.80068 2.15481 5.48812C2.46737 5.17556 2.8913 4.99996 3.33332 4.99996H4.82499L11.4333 2.0583C11.8259 1.88479 12.2702 1.86939 12.6738 2.01531C13.0774 2.16123 13.4092 2.45721 13.6 2.84163L14.6833 4.99996H15.8333C16.2754 4.99996 16.6993 5.17556 17.0118 5.48812C17.3244 5.80068 17.5 6.2246 17.5 6.66663V8.4833C17.2334 8.38378 16.9512 8.33298 16.6667 8.3333H14.1667C13.5036 8.3333 12.8677 8.59669 12.3989 9.06553C11.93 9.53437 11.6667 10.1703 11.6667 10.8333V12.5C11.6667 13.163 11.93 13.7989 12.3989 14.2677C12.8677 14.7366 13.5036 15 14.1667 15H16.6667ZM8.92499 4.99996H12.8167L12.1083 3.5833L8.92499 4.99996Z" fill="white"/>
</svg>
                </div>
              </div><a class="h6" href="#">0x8fb3f5e6bed04c9c547bfe</a>
            </div><span class="wall-list__label label">100 Days</span>
          </li>
          <li class="wall-list">
            <div class="wall-list__content">
              <div class="block">
                <div class="icon bg-yellow"><svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M18.3333 10.8333V12.5C18.3333 12.942 18.1577 13.3659 17.8452 13.6785C17.5326 13.991 17.1087 14.1666 16.6667 14.1666H14.1667C13.7246 14.1666 13.3007 13.991 12.9881 13.6785C12.6756 13.3659 12.5 12.942 12.5 12.5V10.8333C12.5 10.3913 12.6756 9.96735 12.9881 9.65478C13.3007 9.34222 13.7246 9.16663 14.1667 9.16663H16.6667C17.1087 9.16663 17.5326 9.34222 17.8452 9.65478C18.1577 9.96735 18.3333 10.3913 18.3333 10.8333ZM16.6667 15C16.9512 15.0003 17.2334 14.9495 17.5 14.85V16.6666C17.5 17.1087 17.3244 17.5326 17.0118 17.8451C16.6993 18.1577 16.2754 18.3333 15.8333 18.3333H3.33332C2.8913 18.3333 2.46737 18.1577 2.15481 17.8451C1.84225 17.5326 1.66666 17.1087 1.66666 16.6666V6.66663C1.66666 6.2246 1.84225 5.80068 2.15481 5.48812C2.46737 5.17556 2.8913 4.99996 3.33332 4.99996H4.82499L11.4333 2.0583C11.8259 1.88479 12.2702 1.86939 12.6738 2.01531C13.0774 2.16123 13.4092 2.45721 13.6 2.84163L14.6833 4.99996H15.8333C16.2754 4.99996 16.6993 5.17556 17.0118 5.48812C17.3244 5.80068 17.5 6.2246 17.5 6.66663V8.4833C17.2334 8.38378 16.9512 8.33298 16.6667 8.3333H14.1667C13.5036 8.3333 12.8677 8.59669 12.3989 9.06553C11.93 9.53437 11.6667 10.1703 11.6667 10.8333V12.5C11.6667 13.163 11.93 13.7989 12.3989 14.2677C12.8677 14.7366 13.5036 15 14.1667 15H16.6667ZM8.92499 4.99996H12.8167L12.1083 3.5833L8.92499 4.99996Z" fill="white"/>
</svg>
                </div>
              </div><a class="h6" href="#">0x8fb3f5e6bed04c9c547bfe</a>
            </div><span class="wall-list__label label">100 Days</span>
          </li>
          <li class="wall-list">
            <div class="wall-list__content">
              <div class="block">
                <div class="icon bg-red"><svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M18.3333 10.8333V12.5C18.3333 12.942 18.1577 13.3659 17.8452 13.6785C17.5326 13.991 17.1087 14.1666 16.6667 14.1666H14.1667C13.7246 14.1666 13.3007 13.991 12.9881 13.6785C12.6756 13.3659 12.5 12.942 12.5 12.5V10.8333C12.5 10.3913 12.6756 9.96735 12.9881 9.65478C13.3007 9.34222 13.7246 9.16663 14.1667 9.16663H16.6667C17.1087 9.16663 17.5326 9.34222 17.8452 9.65478C18.1577 9.96735 18.3333 10.3913 18.3333 10.8333ZM16.6667 15C16.9512 15.0003 17.2334 14.9495 17.5 14.85V16.6666C17.5 17.1087 17.3244 17.5326 17.0118 17.8451C16.6993 18.1577 16.2754 18.3333 15.8333 18.3333H3.33332C2.8913 18.3333 2.46737 18.1577 2.15481 17.8451C1.84225 17.5326 1.66666 17.1087 1.66666 16.6666V6.66663C1.66666 6.2246 1.84225 5.80068 2.15481 5.48812C2.46737 5.17556 2.8913 4.99996 3.33332 4.99996H4.82499L11.4333 2.0583C11.8259 1.88479 12.2702 1.86939 12.6738 2.01531C13.0774 2.16123 13.4092 2.45721 13.6 2.84163L14.6833 4.99996H15.8333C16.2754 4.99996 16.6993 5.17556 17.0118 5.48812C17.3244 5.80068 17.5 6.2246 17.5 6.66663V8.4833C17.2334 8.38378 16.9512 8.33298 16.6667 8.3333H14.1667C13.5036 8.3333 12.8677 8.59669 12.3989 9.06553C11.93 9.53437 11.6667 10.1703 11.6667 10.8333V12.5C11.6667 13.163 11.93 13.7989 12.3989 14.2677C12.8677 14.7366 13.5036 15 14.1667 15H16.6667ZM8.92499 4.99996H12.8167L12.1083 3.5833L8.92499 4.99996Z" fill="white"/>
</svg>
                </div>
              </div><a class="h6" href="#">0x8fb3f5e6bed04c9c547bfe</a>
            </div><span class="wall-list__label label">100 Days</span>
          </li>
          <li class="wall-list">
            <div class="wall-list__content">
              <div class="block">
                <div class="icon bg-purple"><svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M18.3333 10.8333V12.5C18.3333 12.942 18.1577 13.3659 17.8452 13.6785C17.5326 13.991 17.1087 14.1666 16.6667 14.1666H14.1667C13.7246 14.1666 13.3007 13.991 12.9881 13.6785C12.6756 13.3659 12.5 12.942 12.5 12.5V10.8333C12.5 10.3913 12.6756 9.96735 12.9881 9.65478C13.3007 9.34222 13.7246 9.16663 14.1667 9.16663H16.6667C17.1087 9.16663 17.5326 9.34222 17.8452 9.65478C18.1577 9.96735 18.3333 10.3913 18.3333 10.8333ZM16.6667 15C16.9512 15.0003 17.2334 14.9495 17.5 14.85V16.6666C17.5 17.1087 17.3244 17.5326 17.0118 17.8451C16.6993 18.1577 16.2754 18.3333 15.8333 18.3333H3.33332C2.8913 18.3333 2.46737 18.1577 2.15481 17.8451C1.84225 17.5326 1.66666 17.1087 1.66666 16.6666V6.66663C1.66666 6.2246 1.84225 5.80068 2.15481 5.48812C2.46737 5.17556 2.8913 4.99996 3.33332 4.99996H4.82499L11.4333 2.0583C11.8259 1.88479 12.2702 1.86939 12.6738 2.01531C13.0774 2.16123 13.4092 2.45721 13.6 2.84163L14.6833 4.99996H15.8333C16.2754 4.99996 16.6993 5.17556 17.0118 5.48812C17.3244 5.80068 17.5 6.2246 17.5 6.66663V8.4833C17.2334 8.38378 16.9512 8.33298 16.6667 8.3333H14.1667C13.5036 8.3333 12.8677 8.59669 12.3989 9.06553C11.93 9.53437 11.6667 10.1703 11.6667 10.8333V12.5C11.6667 13.163 11.93 13.7989 12.3989 14.2677C12.8677 14.7366 13.5036 15 14.1667 15H16.6667ZM8.92499 4.99996H12.8167L12.1083 3.5833L8.92499 4.99996Z" fill="white"/>
</svg>
                </div>
              </div><a class="h6" href="#">0x8fb3f5e6bed04c9c547bfe</a>
            </div><span class="wall-list__label label">100 Days</span>
          </li>
        </ul>
      </div>
      <div class="card-wall__footer"><a class="btn-primary" href="#">View Full List</a></div>
    </div>
  </div>
</div>