.animate
    opacity: 0
    transition: all 0.4s cubic-bezier(0.69, 0, 1, 1)
    transform: translateY(10px)
    &.animated
        opacity: 1
        transform: translateY(0px)

// .delay-1
//     transition-delay: 0.1s

// .delay-2
//     transition-delay: 0.2s

// .delay-3
//     transition-delay: 0.3s

// .delay-4
//     transition-delay: 0.4s

// .delay-5
//     transition-delay: 0.5s

// .delay-6
//     transition-delay: 0.6s

// .delay-7
//     transition-delay: 0.7s

// .delay-8
//     transition-delay: 0.8s

// .delay-9
//     transition-delay: 0.9s

// .delay-10
//     transition-delay: 1s
