*
    box-sizing: border-box
    margin: 0
    padding: 0

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
	margin: 0
	padding: 0
	border: 0
	vertical-align: baseline

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
	display: block

ol, ul 
	list-style: none

blockquote, q
	quotes: none

blockquote:before, blockquote:after, q:before, q:after
	content: ''
	content: none

table
	border-collapse: collapse
	border-spacing: 0

video
    width: 100%

button,
a
    text-decoration: none
    cursor: pointer
    transition: all 0.3s ease-in-out

a
    color: #fff

img
	max-width: 100%

.block
    display: block

.grid
    display: grid

.flex
    display: flex
.justify-center
    justify-content: center

.items-center
    align-items: center

.justify-between
    justify-content: space-between

html
    font-size: 12px // based on figma

body
    color: $color-light
    font-family: $font-base
    font-weight: 400
    font-size: rem(16)
    background-color: $color-bg
    position: relative
    overflow-x: hidden
    padding-top: rem(100)
    background: url('../images/bg-dots.svg')no-repeat center top $color-bg fixed
    &.body-hidden
        overflow: hidden
    .container
        width: 100%
        max-width: 1200px
        margin: 0 auto
        padding: 0 rem(24)
        &--small
            max-width: 1008px 

.section-page
    margin-bottom: rem(72)

.main-sections
    position: relative
    z-index: 1

.animate
    opacity: 0
    transform: translateY(-15px)
    transition: all 0.3s ease-in-out
    &.animated
        opacity: 1
        transform: translate(0px)


.delay-1
    transition-delay: 0.2s !important
.delay-2
    transition-delay: 0.4s !important
.delay-3
    transition-delay: 0.6s !important
.delay-4
    transition-delay: 0.8s !important
.delay-5
    transition-delay: 1s !important


@media screen and ( max-width: 480px )
    body
        .container
            padding: 0 rem(20)

        .grid-cols-3
            display: grid
            grid-template-columns: repeat(1, minmax(0, 1fr))
            gap: rem(30)