

// typeface
$font-heading : 'Roboto',"Helvetica Neue",Helvetica,Arial,"Liberation Sans","FreeSans",sans-serif
$font-base : 'Roboto',"Helvetica Neue",Helvetica,Arial,"Liberation Sans","FreeSans",sans-serif
h1, h2, h3, h4, h5, h6
    font-family: $font-heading

.h1
    font-size: rem(45)
    line-height: rem(55)
.h2
    font-size: rem(38)
    line-height: rem(48)
.h3
    font-size: rem(24)
    line-height: rem(40)
.h4
    font-size: rem(24)
    line-height: rem(34)
.h5
    font-size: rem(18)
    line-height: rem(28)
.h6
    font-size: rem(14)
    line-height: rem(24)

p
    line-height: rem(28)
    font-weight: 400

.text-small
    font-size: rem(10)
    line-height: auto

.text-link 
    font-size: rem(14)
    text-transform: uppercase
    line-height: auto
    letter-spacing: 1px


@media screen and (max-width: 480px)
    .h1
        font-size: rem(30)
        line-height: rem(40)

    .h2
        font-size: rem(25)
        line-height: rem(35)
    .h3
        font-size: rem(20)
        line-height: rem(30)
    .h4
        font-size: rem(18)
        line-height: rem(24)
    .h5
        font-size: rem(16)
        line-height: rem(22)
    .h6
        font-size: rem(14)
        line-height: rem(20)

    .text-link 
        font-size: rem(12)

    body
        .section-page
            margin-bottom: rem(40)