section.section-page.section-page--features
    .main-features
        .container
            header.header-section
                h2.h2.animate Features
                p.animate.delay-1 Our network and hardware allow you to host without worry. From enterprise hardware to amazing support, we got you covered.


            .box-features.grid-cols-3#featuresPricingVps
                .box-inner
                    .list.animate
                        figure
                            img(data-src="images/pricing-feature-vps-1.svg", alt="" class="lazyload")
                        h3.h3 Control Panel
                        p Our panel serves as an all in one portal for clients to manage their virtual servers.
                //- end
                .box-inner
                    .list.animate.delay-1
                        figure
                            img(data-src="images/pricing-feature-vps-2.svg", alt="" class="lazyload")
                        h3.h3 60 Second Deployment
                        p We will deploy your server within 60 seconds so you can setup your server and work away.
                    //- end
                .box-inner
                    .list.animate.delay-1
                        figure
                            img(data-src="images/pricing-feature-vps-3.svg", alt="" class="lazyload")
                        h3.h3 Ryzen Performance
                        p Our AMD Ryzen servers allows maximum performance without the worry of slowing down 
                    //- end
                .box-inner
                    .list.animate.delay-2
                        figure
                            img(data-src="images/pricing-feature-vps-4.svg", alt="" class="lazyload")
                        h3.h3 NVMe Storage
                        p All of our VMs run on pure NVMe storage and allows for speedy access with no performance issues.
                    //- end
                .box-inner
                    .list.animate.delay-2
                        figure
                            img(data-src="images/pricing-feature-vps-5.svg", alt="" class="lazyload")
                        h3.h3 Full Root Access
                        p There are no limits. Set your own password and setup your server with no limitations.
                //- end
                .box-inner
                    .list.animate.delay-2.list--feature
                        .block
                            h3.h3 Have you decided what is best for you?
                            a.link(href="pricing-cpanel.html") 
                                    span See Affordable cPanel Hosting
                                    i
                                        <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M6 12.5L10 8.5L6 4.5" stroke="white" stroke-width="2"/>
                                        </svg>
                //- end