section.section-page.section-page--pricing-cpanel
    .container
        .box-pricing.animate.delay-1#mobilePricingCpanel
            .list-pricing
                .list-pricing__header
                    strong IO-1 Plan
                    .price
                        span $
                        h3 5.00
                        span USD
                    span Billed Quarterly
                .list-pricing__body
                    ul
                        li 1GB NVMe SSD
                        li 100GB Bandwidth
                        li 1 MySQL Database
                        li 1 Website

                .list-pricing__footer
                    a.btn-gray(href="#") Order Now - <span> $5.00 </span>
            //- end
            .list-pricing
                .list-pricing__header
                    strong IO-3 Plan
                    .price
                        span $
                        h3 2.50
                        span USD
                .list-pricing__body
                    ul
                        li 3GB NVMe SSD
                        li 300GB Bandwidth
                        li 3 MySQL Databases
                        li 3 Websites

                .list-pricing__footer
                    a.btn-gray(href="#") Order Now - <span> $2.50 </span>
            //- end
            .list-pricing
                .list-pricing__header
                    strong IO-5 Plan
                    .price
                        span $
                        h3 3.50
                        span USD
                .list-pricing__body
                    ul
                        li 5GB NVMe SSD
                        li 500GB Bandwidth
                        li 5 MySQL Databases
                        li 5 Websites

                .list-pricing__footer
                    a.btn-gray(href="#") Order Now - <span> $3.50 </span>
            //- end
            .list-pricing
                .list-pricing__header
                    strong IO-10 Plan
                    .price
                        span $
                        h3 5.50
                        span USD
                .list-pricing__body
                    ul
                        li 10GB NVMe SSD
                        li 1.000GB Bandwidth
                        li 10 MySQL Databases
                        li Unlimited Websites

                .list-pricing__footer
                    a.btn-gray(href="#") Order Now - <span> $5.50 </span>

            //- end
            .list-pricing
                .list-pricing__header
                    strong IO-25 Plan
                    .price
                        span $
                        h3 11.00
                        span USD
                .list-pricing__body
                    ul
                        li 25GB NVMe SSD
                        li 25.000GB Bandwidth
                        li 25 MySQL Databases
                        li Unlimited Websites

                .list-pricing__footer
                    a.btn-gray(href="#") Order Now - <span> $11.00 </span>
            //- end
    //- request
    .flex.items-center.justify-center.more-request.animate.delay-2
        p <strong> Do you need a custom hosting plan? </strong> <a href="">contact sales.</a>