section.section-page.section-page--pricing
    .container
        .box-table.animate.delay-1
            table.table
                thead
                    tr
                        th Name
                        th Cores
                        th RAM
                        th Storage
                        th Bandwidth
                        th Price
                        th Order
                tbody
                    tr
                        td
                            a(href="#") vIO-RYZEN-1GB
                        td 1 Ryzen vCore
                        td 2GB RAM
                        td 20GB NVMe SSD
                        td 1TB @ 1Gbps
                        td $6.00 USD
                        td
                            a.btn-gray(href="#")
                                span.bg
                                span.text Deploy Now
                    tr
                        td
                            a(href="#") vIO-RYZEN-2GB
                        td 1 Ryzen vCore
                        td 2GB RAM
                        td 20GB NVMe SSD
                        td 1TB @ 1Gbps
                        td $6.00 USD
                        td
                            a.btn-gray(href="#")
                                span.bg
                                span.text Deploy Now

                    tr
                        td
                            a(href="#") vIO-RYZEN-4GB
                        td 2 Ryzen vCores
                        td 4GB RAM
                        td 40GB NVMe SSD
                        td 2TB @ 1Gbps
                        td $12.00 USD
                        td
                            a.btn-gray(href="#")
                                span.bg
                                span.text Deploy Now

                    tr
                        td
                            a(href="#") vIO-RYZEN-8GB
                        td 4 Ryzen vCores
                        td 8GB RAM
                        td 80GB NVMe SSD
                        td 2TB @ 1Gbps
                        td $24.00 USD
                        td
                            a.btn-gray(href="#")
                                span.bg
                                span.text Deploy Now

                    tr
                        td
                            a(href="#") vIO-RYZEN-12GB
                        td 6 Ryzen vCores
                        td 12GB RAM
                        td 120GB NVMe SSD
                        td 3TB @ 1Gbps
                        td $36.00 USD
                        td
                            a.btn-gray(href="#")
                                span.bg
                                span.text Deploy Now
                    tr
                        td
                            a(href="#") vIO-RYZEN-16GB
                        td 8 Ryzen vCores
                        td 16GB RAM
                        td 160GB NVMe SSD
                        td 3TB @ 1Gbps
                        td $48‬.00 USD
                        td
                            a.btn-gray(href="#")
                                span.bg
                                span.text Deploy Now
                    tr
                        td
                            a(href="#") vIO-RYZEN-24GB
                        td 12 Ryzen vCores
                        td 24GB RAM
                        td 240GB NVMe SSD
                        td 4TB @ 1Gbps
                        td $72.00 USD
                        td
                            a.btn-gray(href="#")
                                span.bg
                                span.text Deploy Now

                    tr
                        td
                            a(href="#") vIO-RYZEN-32GB
                        td 16 Ryzen vCores
                        td 32GB RAM
                        td 320GB NVMe SSD
                        td 4TB @ 1Gbps
                        td $96‬.00 USD
                        td
                            a.btn-gray(href="#")
                                span.bg
                                span.text Deploy Now