section.section-page.section-page--support
    header.header-section.header-section--simple
        h2 Supported operating systems
    .container
        .box-support
            img.lazyload.animate(data-src="images/support-1.png", alt="")
            img.lazyload.animate.delay-1(data-src="images/support-2.png", alt="")
            img.lazyload.animate.delay-2(data-src="images/support-3.png", alt="")
            img.lazyload.animate.delay-3(data-src="images/support-4.png", alt="")
            img.lazyload.animate.delay-4(data-src="images/support-5.png", alt="")
            img.lazyload.animate.delay-5(data-src="images/support-6.png", alt="")
            img.lazyload.animate.delay-5(data-src="images/support-7.png", alt="")