
<section class="section-page section-page--card-subs">
  <div class="container">
    <div class="card-blue card-blue--column">
      <div class="line-ellipse line-ellipse--card-right"></div>
      <h2 class="heading">Subscribe to <br> Powerchap</h2>
      <p>Get the latest posts delivered right to your inbox</p>
      <form class="form-style form-subs">
        <div class="box-style box-subs">
          <input type="text" placeholder="Email address"/>
          <button>Subscribe</button>
        </div>
      </form>
    </div>
  </div>
</section>