
<section class="section-page section-page--card-subs">
  <div class="container">
    <div class="card-blue">
      <div class="line-ellipse line-ellipse--subs"></div>
      <h2 class="heading">Subscribe to <br> Powerchap</h2>
      <p>Get the latest posts delivered right to your inbox</p>
    </div>
  </div>
</section>