
<section class="section-page section-page--card-partners-join">
  <div class="container">
    <div class="card-dark">
      <div class="line-ellipse line-ellipse--partners-join"></div>
      <header class="header-section">
        <h2 class="heading">Why Become a <span class="color-primary">partner<span></h2>
      </header>
      <div class="checklist">
        <div class="list-checklist">
          <div class="box-icon"><svg width="12" height="9" viewBox="0 0 12 9" fill="none" xmlns="http://www.w3.org/2000/svg">
<title> checked </title>
<path d="M1 4.5L4 7.5L10.5 1" stroke="CurrentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
          </div>
          <p>Generate more leads with less work. Our  simple process is dedicated towards enhancing your business.</p>
        </div>
        <div class="list-checklist">
          <div class="box-icon"><svg width="12" height="9" viewBox="0 0 12 9" fill="none" xmlns="http://www.w3.org/2000/svg">
<title> checked </title>
<path d="M1 4.5L4 7.5L10.5 1" stroke="CurrentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
          </div>
          <p>Create added value for your customers and help them get a more efficient shopping feeling.</p>
        </div>
        <div class="list-checklist">
          <div class="box-icon"><svg width="12" height="9" viewBox="0 0 12 9" fill="none" xmlns="http://www.w3.org/2000/svg">
<title> checked </title>
<path d="M1 4.5L4 7.5L10.5 1" stroke="CurrentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
          </div>
          <p>Become more competitive and offer your customers a powerful overall experience.</p>
        </div>
        <div class="list-checklist">
          <div class="box-icon"><svg width="12" height="9" viewBox="0 0 12 9" fill="none" xmlns="http://www.w3.org/2000/svg">
<title> checked </title>
<path d="M1 4.5L4 7.5L10.5 1" stroke="CurrentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
          </div>
          <p>Get a kick start with your business and gradually increase your profit margin</p>
        </div>
      </div>
    </div>
  </div>
</section>