
<section class="section-page section-page--card-consultant">
  <div class="container">
    <div class="card-blue card-blue--column">
      <div class="line-ellipse line-ellipse--card-right"></div>
      <h2 class="heading">Interested in becoming <br> a partner?</h2>
      <p>Fill in the form and we will contact you.</p><a href="https://calendly.com/powerchap/15m-powerchap-demo-samtal?month=2021-05" onclick="trackGetStarted()" target="_blank">Let’s Work</a>
    </div>
  </div>
</section>