
<section class="section-page section-page--features">
  <div class="main-features">
    <div class="container">
      <header class="header-section">
        <h2 class="h2 animate">Features</h2>
        <p class="animate delay-1">Our network and hardware allow you to host without worry. From enterprise hardware to amazing support, we got you covered.</p>
      </header>
      <div class="box-features grid-cols-3" id="featuresPricingVps">
        <div class="box-inner">
          <div class="list animate">
            <figure><img class="lazyload" data-src="images/pricing-feature-vps-1.svg" alt=""/></figure>
            <h3 class="h3">Control Panel</h3>
            <p>Our panel serves as an all in one portal for clients to manage their virtual servers.</p>
          </div>
        </div>
        <div class="box-inner">
          <div class="list animate delay-1">
            <figure><img class="lazyload" data-src="images/pricing-feature-vps-2.svg" alt=""/></figure>
            <h3 class="h3">60 Second Deployment</h3>
            <p>We will deploy your server within 60 seconds so you can setup your server and work away.</p>
          </div>
        </div>
        <div class="box-inner">
          <div class="list animate delay-1">
            <figure><img class="lazyload" data-src="images/pricing-feature-vps-3.svg" alt=""/></figure>
            <h3 class="h3">Ryzen Performance</h3>
            <p>Our AMD Ryzen servers allows maximum performance without the worry of slowing down </p>
          </div>
        </div>
        <div class="box-inner">
          <div class="list animate delay-2">
            <figure><img class="lazyload" data-src="images/pricing-feature-vps-4.svg" alt=""/></figure>
            <h3 class="h3">NVMe Storage</h3>
            <p>All of our VMs run on pure NVMe storage and allows for speedy access with no performance issues.</p>
          </div>
        </div>
        <div class="box-inner">
          <div class="list animate delay-2">
            <figure><img class="lazyload" data-src="images/pricing-feature-vps-5.svg" alt=""/></figure>
            <h3 class="h3">Full Root Access</h3>
            <p>There are no limits. Set your own password and setup your server with no limitations.</p>
          </div>
        </div>
        <div class="box-inner">
          <div class="list animate delay-2 list--feature">
            <div class="block">
              <h3 class="h3">Have you decided what is best for you?</h3><a class="link" href="pricing-cpanel.html"> <span>See Affordable cPanel Hosting</span><i><svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M6 12.5L10 8.5L6 4.5" stroke="white" stroke-width="2"/>
</svg></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>