
<section class="section-page section-page--pricing">
  <div class="container">
    <div class="box-table animate delay-1">
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Cores</th>
            <th>RAM</th>
            <th>Storage</th>
            <th>Bandwidth</th>
            <th>Price</th>
            <th>Order</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a href="#">vIO-RYZEN-1GB</a></td>
            <td>1 Ryzen vCore</td>
            <td>2GB RAM</td>
            <td>20GB NVMe SSD</td>
            <td>1TB @ 1Gbps</td>
            <td>$6.00 USD</td>
            <td><a class="btn-gray" href="#"><span class="bg"></span><span class="text">Deploy Now</span></a></td>
          </tr>
          <tr>
            <td><a href="#">vIO-RYZEN-2GB</a></td>
            <td>1 Ryzen vCore</td>
            <td>2GB RAM</td>
            <td>20GB NVMe SSD</td>
            <td>1TB @ 1Gbps</td>
            <td>$6.00 USD</td>
            <td><a class="btn-gray" href="#"><span class="bg"></span><span class="text">Deploy Now</span></a></td>
          </tr>
          <tr>
            <td><a href="#">vIO-RYZEN-4GB</a></td>
            <td>2 Ryzen vCores</td>
            <td>4GB RAM</td>
            <td>40GB NVMe SSD</td>
            <td>2TB @ 1Gbps</td>
            <td>$12.00 USD</td>
            <td><a class="btn-gray" href="#"><span class="bg"></span><span class="text">Deploy Now</span></a></td>
          </tr>
          <tr>
            <td><a href="#">vIO-RYZEN-8GB</a></td>
            <td>4 Ryzen vCores</td>
            <td>8GB RAM</td>
            <td>80GB NVMe SSD</td>
            <td>2TB @ 1Gbps</td>
            <td>$24.00 USD</td>
            <td><a class="btn-gray" href="#"><span class="bg"></span><span class="text">Deploy Now</span></a></td>
          </tr>
          <tr>
            <td><a href="#">vIO-RYZEN-12GB</a></td>
            <td>6 Ryzen vCores</td>
            <td>12GB RAM</td>
            <td>120GB NVMe SSD</td>
            <td>3TB @ 1Gbps</td>
            <td>$36.00 USD</td>
            <td><a class="btn-gray" href="#"><span class="bg"></span><span class="text">Deploy Now</span></a></td>
          </tr>
          <tr>
            <td><a href="#">vIO-RYZEN-16GB</a></td>
            <td>8 Ryzen vCores</td>
            <td>16GB RAM</td>
            <td>160GB NVMe SSD</td>
            <td>3TB @ 1Gbps</td>
            <td>$48‬.00 USD</td>
            <td><a class="btn-gray" href="#"><span class="bg"></span><span class="text">Deploy Now</span></a></td>
          </tr>
          <tr>
            <td><a href="#">vIO-RYZEN-24GB</a></td>
            <td>12 Ryzen vCores</td>
            <td>24GB RAM</td>
            <td>240GB NVMe SSD</td>
            <td>4TB @ 1Gbps</td>
            <td>$72.00 USD</td>
            <td><a class="btn-gray" href="#"><span class="bg"></span><span class="text">Deploy Now</span></a></td>
          </tr>
          <tr>
            <td><a href="#">vIO-RYZEN-32GB</a></td>
            <td>16 Ryzen vCores</td>
            <td>32GB RAM</td>
            <td>320GB NVMe SSD</td>
            <td>4TB @ 1Gbps</td>
            <td>$96‬.00 USD</td>
            <td><a class="btn-gray" href="#"><span class="bg"></span><span class="text">Deploy Now</span></a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>