
<section class="section-page section-page--pricing">
  <div class="container">
    <div class="box-pricing">
      <div class="list-pricing">
        <div class="list-pricing__header"><strong>IO-1 Plan</strong>
          <div class="price"><span>$</span>
            <h3>5.00</h3><span>USD</span>
          </div><span>Billed Quarterly</span>
        </div>
        <div class="list-pricing__body">
          <ul>
            <li>1GB NVMe SSD</li>
            <li>100GB Bandwidth</li>
            <li>1 MySQL Database</li>
            <li>1 Website</li>
          </ul>
        </div>
        <div class="list-pricing__footer"><a class="btn-gray" href="#">Order Now - $5.00 </a></div>
      </div>
      <div class="list-pricing">
        <div class="list-pricing__header"><strong>IO-3 Plan</strong>
          <div class="price"><span>$</span>
            <h3>2.50</h3><span>USD</span>
          </div>
        </div>
        <div class="list-pricing__body">
          <ul>
            <li>3GB NVMe SSD</li>
            <li>300GB Bandwidth</li>
            <li>3 MySQL Databases</li>
            <li>3 Websites</li>
          </ul>
        </div>
        <div class="list-pricing__footer"><a class="btn-gray" href="#">Order Now - $2.50</a></div>
      </div>
      <div class="list-pricing">
        <div class="list-pricing__header"><strong>IO-5 Plan</strong>
          <div class="price"><span>$</span>
            <h3>3.50</h3><span>USD</span>
          </div>
        </div>
        <div class="list-pricing__body">
          <ul>
            <li>5GB NVMe SSD</li>
            <li>500GB Bandwidth</li>
            <li>5 MySQL Databases</li>
            <li>5 Websites</li>
          </ul>
        </div>
        <div class="list-pricing__footer"><a class="btn-gray" href="#">Order Now - $3.50</a></div>
      </div>
      <div class="list-pricing">
        <div class="list-pricing__header"><strong>IO-10 Plan</strong>
          <div class="price"><span>$</span>
            <h3>5.50</h3><span>USD</span>
          </div>
        </div>
        <div class="list-pricing__body">
          <ul>
            <li>10GB NVMe SSD</li>
            <li>1.000GB Bandwidth</li>
            <li>10 MySQL Databases</li>
            <li>Unlimited Websites</li>
          </ul>
        </div>
        <div class="list-pricing__footer"><a class="btn-gray" href="#">Order Now - $5.50</a></div>
      </div>
      <div class="list-pricing">
        <div class="list-pricing__header"><strong>IO-25 Plan</strong>
          <div class="price"><span>$</span>
            <h3>11.00</h3><span>USD</span>
          </div>
        </div>
        <div class="list-pricing__body">
          <ul>
            <li>25GB NVMe SSD</li>
            <li>25.000GB Bandwidth</li>
            <li>25 MySQL Databases</li>
            <li>Unlimited Websites</li>
          </ul>
        </div>
        <div class="list-pricing__footer"><a class="btn-gray" href="#">Order Now - $11.00</a></div>
      </div>
    </div>
  </div>
  <div class="flex items-center justify-center more-request">
    <p><strong> Do you need a custom hosting plan? </strong> <a href="">contact sales.</a></p>
  </div>
</section>