
<section class="section-page section-page--career-benefit">
  <div class="container">
    <header class="header-section--career">
      <h2 class="heading"><span>Our</span><span class="color-primary">Benefit</span></h2>
      <p>We produce converting video material that helps us scale up your business. This helps us maintain a positive ROAS while we scale up.</p>
    </header>
    <div class="boxed-benefit">
      <div class="box-info">
        <figure class="box-info__icon"><img class="lazyload" data-src="images/career/benefit-6.png" alt=""/></figure>
        <figure class="box-info__info">
          <h3 class="subheading">Team First Company </h3>
          <p>Our first priority in PowerChap is to take care of our team first. That means we aim to optimize for happy, healthy, empowered, productive players.</p>
        </figure>
      </div>
      <div class="box-info">
        <figure class="box-info__icon"><img class="lazyload" data-src="images/career/benefit-5.png" alt=""/></figure>
        <figure class="box-info__info">
          <h3 class="subheading">World Changing Problems </h3>
          <p>PowerChap is dedicated towards solving complex problems in simple innovative ways. We want to create a future we are proud to live in.</p>
        </figure>
      </div>
      <div class="box-info">
        <figure class="box-info__icon"><img class="lazyload" data-src="images/career/benefit-4.png" alt=""/></figure>
        <figure class="box-info__info">
          <h3 class="subheading">Systems Oriented </h3>
          <p>We focus on the team, systems and philosophies to correctly guide our daily actions. We believe that the whole team must act as one to achieve true power.</p>
        </figure>
      </div>
      <div class="box-info">
        <figure class="box-info__icon"><img class="lazyload" data-src="images/career/benefit-3.png" alt=""/></figure>
        <figure class="box-info__info">
          <h3 class="subheading">A+ Teammates Only </h3>
          <p>PowerChap focuses on quality over quantity. We believe all problems can be solved in automated innovative ways by designers and engineers. At the core everything is either a number or a drawing.</p>
        </figure>
      </div>
      <div class="box-info">
        <figure class="box-info__icon"><img class="lazyload" data-src="images/career/benefit-2.png" alt=""/></figure>
        <figure class="box-info__info">
          <h3 class="subheading">Your Salary On Your Time </h3>
          <p>We aim to understand your specific and personal needs in order to structure a system that puts YOU first. We believe that health and a workspace are vital towards enabling you to be your best self.</p>
        </figure>
      </div>
      <div class="box-info">
        <figure class="box-info__icon"><img class="lazyload" data-src="images/career/benefit-1.png" alt=""/></figure>
        <figure class="box-info__info">
          <h3 class="subheading">Developing Idealized Self </h3>
          <p>You are put on this earth to Play! You are not put on this earth to “work and toil.” We help flourish your skills, health and happiness.</p>
        </figure>
      </div>
    </div>
  </div>
</section>