
<section class="section-page section-page--career-gallery">
  <div class="container">
    <div class="boxed-gallery">
      <div class="box-gallery box-gallery--1"><img src="images/career/5.jpg" alt=""/></div>
      <div class="box-gallery box-gallery--2"><img src="images/career/4.jpg" alt=""/></div>
      <div class="box-gallery box-gallery--3"><img src="images/career/2.jpg" alt=""/></div>
      <div class="box-gallery box-gallery--4"><img src="images/career/3.jpg" alt=""/></div>
      <div class="box-gallery box-gallery--5"><img src="images/career/1.jpg" alt=""/></div>
    </div>
  </div>
</section>