<svg width="15" height="10" viewBox="0 0 15 10" stroke="CurrentColor" fill="none" xmlns="http://www.w3.org/2000/svg">
<title>arrow</title>
<path d="M1 4.86716H13.3264M10.358 1L14.2252 4.86716L10.358 8.73432"  stroke-linecap="round" stroke-linejoin="round"/>
</svg>