
<section class="section-page section-page--chart">
  <div class="container">
    <div class="box-chart bg-gray">
      <div class="box-chart__live">
        <div class="live-current flex items-center">
          <div class="icon"><img src="images/coin.svg" alt=""/></div>
          <div>
            <h4 class="h4">$0.0000004</h4><span class="block">Token Price</span>
          </div>
        </div>
        <div class="live-status flex items-center justify-between">
          <div class="box-status flex items-center">
            <h5 class="h5 text-green">+ 47.2%</h5>
            <spab class="label text-small">24 Hours</spab>
          </div>
          <div class="box-status flex items-center">
            <h5 class="h5 text-green">+ 17.1%</h5>
            <spab class="label text-small">14 Days</spab>
          </div>
          <div class="live-overlay"><a class="btn-white" href="#"><span>Live Chart</span><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M6 3.33333H12.6667V9.93333" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M12.2399 3.75998L3.33325 12.6666" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg></a></div>
        </div>
      </div>
      <div class="box-chart__summary">
        <div class="box-summary">
          <div class="call-out">
            <div class="box-icon icon-yellow"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="12" cy="7" r="5" fill="white"/>
<path d="M3 18C3 15.2386 5.23858 13 8 13H16C18.7614 13 21 15.2386 21 18V21C21 21.5523 20.5523 22 20 22H4C3.44772 22 3 21.5523 3 21V18Z" fill="#FBAC36"/>
<path d="M15 20L18 20C18.2652 20 18.5196 19.8946 18.7071 19.7071C18.8946 19.5196 19 19.2652 19 19C19 18.7348 18.8946 18.4804 18.7071 18.2929C18.5196 18.1054 18.2652 18 18 18L15 18C14.7348 18 14.4804 18.1054 14.2929 18.2929C14.1054 18.4804 14 18.7348 14 19C14 19.2652 14.1054 19.5196 14.2929 19.7071C14.4804 19.8946 14.7348 20 15 20Z" fill="white"/>
</svg>
            </div>
            <div class="block">
              <h4 class="h4">3000+</h4><span>Holders</span>
            </div>
          </div>
          <div class="call-out">
            <div class="box-icon icon-blue"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M17.8998 6.55005L16.3198 3.40005C16.0873 2.9423 15.6877 2.59148 15.2038 2.42022C14.7198 2.24896 14.1884 2.27038 13.7198 2.48005L5.58981 6.09005C5.38235 6.18457 5.21341 6.34713 5.11099 6.55081C5.00857 6.75448 4.97882 6.98704 5.02667 7.20994C5.07452 7.43284 5.19709 7.6327 5.37408 7.7764C5.55106 7.92009 5.77184 7.99901 5.99981 8.00005H16.9998C17.1698 8.00039 17.337 7.95741 17.4857 7.87518C17.6344 7.79294 17.7597 7.67416 17.8498 7.53005C17.9417 7.38477 17.9945 7.21827 18.0033 7.04661C18.012 6.87495 17.9764 6.70393 17.8998 6.55005Z" fill="white"/>
<path d="M20 13C20.2652 13 20.5196 12.8946 20.7071 12.7071C20.8946 12.5196 21 12.2652 21 12V8C21 7.46957 20.7893 6.96086 20.4142 6.58579C20.0391 6.21071 19.5304 6 19 6H4C3.46957 6 2.96086 6.21071 2.58579 6.58579C2.21071 6.96086 2 7.46957 2 8V20C2 20.5304 2.21071 21.0391 2.58579 21.4142C2.96086 21.7893 3.46957 22 4 22H19C19.5304 22 20.0391 21.7893 20.4142 21.4142C20.7893 21.0391 21 20.5304 21 20V16C21 15.7348 20.8946 15.4804 20.7071 15.2929C20.5196 15.1054 20.2652 15 20 15H17V13H20Z" fill="#3772FF"/>
<path d="M20 11H17C15.8954 11 15 11.8954 15 13V15C15 16.1046 15.8954 17 17 17H20C21.1046 17 22 16.1046 22 15V13C22 11.8954 21.1046 11 20 11Z" fill="white"/>
</svg>
            </div>
            <div class="block">
              <h4 class="h4">312M+</h4><span>Liquidity</span>
            </div>
          </div>
          <div class="call-out">
            <div class="box-icon icon-green"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M7.99983 21C7.77426 20.9987 7.55577 20.9212 7.37983 20.78C7.17378 20.615 7.04133 20.3752 7.01135 20.113C6.98138 19.8507 7.05632 19.5872 7.21983 19.38L9.61983 16.38C9.7918 16.1978 10.0259 16.0868 10.2758 16.069C10.5257 16.0511 10.7732 16.1277 10.9693 16.2836C11.1654 16.4395 11.2959 16.6633 11.3348 16.9108C11.3738 17.1583 11.3185 17.4114 11.1798 17.62L8.77983 20.62C8.6867 20.7379 8.56822 20.8332 8.43319 20.899C8.29815 20.9648 8.15003 20.9993 7.99983 21ZM16.6198 20.78C16.8259 20.615 16.9583 20.3752 16.9883 20.113C17.0183 19.8507 16.9433 19.5872 16.7798 19.38L14.3798 16.38C14.3032 16.2647 14.2034 16.1666 14.0868 16.0918C13.9703 16.0171 13.8394 15.9673 13.7027 15.9458C13.5659 15.9242 13.4261 15.9313 13.2922 15.9666C13.1583 16.0019 13.0332 16.0646 12.9248 16.1508C12.8164 16.2369 12.7271 16.3447 12.6625 16.4672C12.5979 16.5897 12.5594 16.7242 12.5496 16.8623C12.5397 17.0005 12.5586 17.1391 12.6052 17.2696C12.6517 17.4 12.7248 17.5193 12.8198 17.62L15.2198 20.62C15.313 20.7379 15.4314 20.8332 15.5665 20.899C15.7015 20.9648 15.8496 20.9993 15.9998 21C16.2254 20.9987 16.4439 20.9212 16.6198 20.78Z" fill="white"/>
<path d="M21 3H3C2.73478 3 2.48043 3.10536 2.29289 3.29289C2.10536 3.48043 2 3.73478 2 4C2 4.26522 2.10536 4.51957 2.29289 4.70711C2.48043 4.89464 2.73478 5 3 5V16C3 16.5304 3.21071 17.0391 3.58579 17.4142C3.96086 17.7893 4.46957 18 5 18H19C19.5304 18 20.0391 17.7893 20.4142 17.4142C20.7893 17.0391 21 16.5304 21 16V5C21.2652 5 21.5196 4.89464 21.7071 4.70711C21.8946 4.51957 22 4.26522 22 4C22 3.73478 21.8946 3.48043 21.7071 3.29289C21.5196 3.10536 21.2652 3 21 3Z" fill="#45B26B"/>
<path d="M12 14C11.7348 14 11.4804 13.8946 11.2929 13.7071C11.1054 13.5196 11 13.2652 11 13V8C11 7.73478 11.1054 7.48043 11.2929 7.29289C11.4804 7.10536 11.7348 7 12 7C12.2652 7 12.5196 7.10536 12.7071 7.29289C12.8946 7.48043 13 7.73478 13 8V13C13 13.2652 12.8946 13.5196 12.7071 13.7071C12.5196 13.8946 12.2652 14 12 14ZM17 13V10C17 9.73478 16.8946 9.48043 16.7071 9.29289C16.5196 9.10536 16.2652 9 16 9C15.7348 9 15.4804 9.10536 15.2929 9.29289C15.1054 9.48043 15 9.73478 15 10V13C15 13.2652 15.1054 13.5196 15.2929 13.7071C15.4804 13.8946 15.7348 14 16 14C16.2652 14 16.5196 13.8946 16.7071 13.7071C16.8946 13.5196 17 13.2652 17 13ZM9 13V10C9 9.73478 8.89464 9.48043 8.70711 9.29289C8.51957 9.10536 8.26522 9 8 9C7.73478 9 7.48043 9.10536 7.29289 9.29289C7.10536 9.48043 7 9.73478 7 10V13C7 13.2652 7.10536 13.5196 7.29289 13.7071C7.48043 13.8946 7.73478 14 8 14C8.26522 14 8.51957 13.8946 8.70711 13.7071C8.89464 13.5196 9 13.2652 9 13Z" fill="white"/>
</svg>
            </div>
            <div class="block">
              <h4 class="h4">1.2B+</h4><span>Market Cap</span>
            </div>
          </div>
          <div class="call-out">
            <div class="box-icon icon-red"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M16 20.0001H14.78L14 16.7601C13.9452 16.5382 13.8162 16.3418 13.6342 16.2035C13.4523 16.0652 13.2284 15.9934 13 16.0001H11C10.7716 15.9934 10.5477 16.0652 10.3658 16.2035C10.1838 16.3418 10.0548 16.5382 10 16.7601L9.22 20.0001H8C7.73478 20.0001 7.48043 20.1054 7.29289 20.2929C7.10536 20.4805 7 20.7348 7 21.0001C7 21.2653 7.10536 21.5196 7.29289 21.7072C7.48043 21.8947 7.73478 22.0001 8 22.0001H16C16.2652 22.0001 16.5196 21.8947 16.7071 21.7072C16.8946 21.5196 17 21.2653 17 21.0001C17 20.7348 16.8946 20.4805 16.7071 20.2929C16.5196 20.1054 16.2652 20.0001 16 20.0001Z" fill="white"/>
<path d="M20 2H4C2.89543 2 2 2.89543 2 4V16C2 17.1046 2.89543 18 4 18H20C21.1046 18 22 17.1046 22 16V4C22 2.89543 21.1046 2 20 2Z" fill="#EF466F"/>
<path d="M17.58 6.19002C17.3648 6.03718 17.098 5.97558 16.8376 6.01867C16.5772 6.06175 16.3445 6.20602 16.19 6.42002L12.82 11.13C12.5548 11.0456 12.2783 11.0018 12 11C11.2044 11 10.4413 11.3161 9.87868 11.8787C9.31607 12.4413 9 13.2044 9 14C9 14.2652 9.10536 14.5196 9.29289 14.7071C9.48043 14.8947 9.73478 15 10 15H14C14.2652 15 14.5196 14.8947 14.7071 14.7071C14.8946 14.5196 15 14.2652 15 14C15.0016 13.3832 14.8092 12.7815 14.45 12.28L17.81 7.58002C17.9628 7.36487 18.0244 7.09802 17.9814 6.83764C17.9383 6.57726 17.794 6.34447 17.58 6.19002Z" fill="white"/>
</svg>
            </div>
            <div class="block">
              <h4 class="h4">502T</h4><span>Burned</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>