<svg width="12" height="9" viewBox="0 0 12 9" fill="none" xmlns="http://www.w3.org/2000/svg">
<title> checked </title>
<path d="M1 4.5L4 7.5L10.5 1" stroke="CurrentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>