
<section class="section-page section-page--clients">
  <header class="header-section header-section--simple">
    <h2 class="animate">Companies that help keep us ignited!</h2>
  </header>
  <div class="container">
    <div class="box-clients"><a class="box-clients__list animate delay-1" href="#" target="_blank"><img class="lazyload" data-src="images/company1.png" alt=""/></a><a class="box-clients__list animate delay-2" href="#" target="_blank"><img class="lazyload" data-src="images/company2.png" alt=""/></a><a class="box-clients__list animate delay-2" href="#" target="_blank"><img class="lazyload" data-src="images/company3.png" alt=""/></a><a class="box-clients__list animate delay-3" href="#" target="_blank"><img class="lazyload" data-src="images/company4.png" alt=""/></a><a class="box-clients__list animate delay-3" href="#" target="_blank"><img class="lazyload" data-src="images/company5.png" alt=""/></a><a class="box-clients__list animate delay-3" href="#" target="_blank"><img class="lazyload" data-src="images/company6.png" alt=""/></a></div>
  </div>
</section>