
<section class="section-page section-page--contact">
  <div class="card-container card-container--contact">
    <div class="container">
      <div class="card-contact">
        <div class="card-contact__heading">
          <h2 class="h2">Be Part of A Loyal Movement by Getting Directly Involved</h2><img src="images/dots.svg" alt=""/>
        </div>
        <div class="card-contact__content">
          <p>Promise can only grow with the help of a loyal community. Spread Promise by helping people and telling them about the potential. Follow us on our various social media accounts, like and share our posts and help us generate more awareness. Participate in the Wall of Honor and Shame and celebrate the loyal following and mock those who break their promise. Only with your support can we realize the full potential of Promise so that everyone benefits.</p>
          <div class="card-social-media"><a href="#"> 
              <div class="block">
                <div class="icon-dark"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M23 2.99998C22.0424 3.67546 20.9821 4.19209 19.86 4.52999C19.2577 3.8375 18.4573 3.34668 17.567 3.12391C16.6767 2.90115 15.7395 2.95718 14.8821 3.28444C14.0247 3.6117 13.2884 4.19439 12.773 4.9537C12.2575 5.71302 11.9877 6.61232 12 7.52998V8.52998C10.2426 8.57555 8.50127 8.1858 6.93101 7.39543C5.36074 6.60506 4.01032 5.43862 3 3.99998C3 3.99998 -1 13 8 17C5.94053 18.398 3.48716 19.0989 1 19C10 24 21 19 21 7.49998C20.9991 7.22144 20.9723 6.94358 20.92 6.66999C21.9406 5.66348 22.6608 4.3927 23 2.99998Z" fill="white"/>
</svg>
                </div>
              </div>
              <h5 class="h5">Twitter</h5></a><a href="#"> 
              <div class="block">
                <div class="icon-dark"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M17 2H7C4.23858 2 2 4.23858 2 7V17C2 19.7614 4.23858 22 7 22H17C19.7614 22 22 19.7614 22 17V7C22 4.23858 19.7614 2 17 2ZM12.4833 8.989C11.8591 8.89644 11.2216 9.00305 10.6615 9.29368C10.1014 9.5843 9.64721 10.0441 9.36351 10.6078C9.07982 11.1714 8.98107 11.8102 9.08132 12.4332C9.18157 13.0562 9.47571 13.6317 9.9219 14.0779C10.3681 14.5241 10.9436 14.8182 11.5666 14.9184C12.1896 15.0187 12.8283 14.9199 13.392 14.6363C13.9556 14.3526 14.4155 13.8984 14.7061 13.3383C14.9967 12.7782 15.1033 12.1407 15.0108 11.5165C14.9164 10.8798 14.6197 10.2904 14.1645 9.83523C13.7094 9.38009 13.12 9.08341 12.4833 8.989ZM9.74037 7.51843C10.6739 7.03406 11.7363 6.85637 12.7766 7.01063C13.8378 7.16799 14.8202 7.66246 15.5788 8.42101C16.3373 9.17957 16.8318 10.162 16.9891 11.2231C17.1434 12.2634 16.9657 13.3259 16.4813 14.2594C15.997 15.1929 15.2306 15.9499 14.2912 16.4227C13.3518 16.8955 12.2872 17.0601 11.2489 16.893C10.2105 16.726 9.25134 16.2357 8.50768 15.4921C7.76403 14.7484 7.2738 13.7892 7.10672 12.7509C6.93964 11.7126 7.10422 10.648 7.57704 9.7086C8.04987 8.7692 8.80687 8.00281 9.74037 7.51843ZM17.5 5.5C16.9477 5.5 16.5 5.94772 16.5 6.5C16.5 7.05228 16.9477 7.5 17.5 7.5H17.51C18.0623 7.5 18.51 7.05228 18.51 6.5C18.51 5.94772 18.0623 5.5 17.51 5.5H17.5Z" fill="white"/>
</svg>
                </div>
              </div>
              <h5 class="h5">Instagram</h5></a><a href="#"> 
              <div class="block">
                <div class="icon-dark"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M21.8387 5.15941C22.1794 5.51057 22.4213 5.94541 22.5401 6.42C22.8573 8.1787 23.0113 9.96295 23.0001 11.75C23.0064 13.5103 22.8524 15.2676 22.5401 17C22.4213 17.4746 22.1794 17.9094 21.8387 18.2606C21.4981 18.6118 21.0708 18.8668 20.6001 19C18.8801 19.46 12.0001 19.46 12.0001 19.46C12.0001 19.46 5.12008 19.46 3.40008 19C2.9389 18.8738 2.51806 18.6308 2.17823 18.2945C1.83839 17.9581 1.59104 17.5398 1.46008 17.08C1.14285 15.3213 0.988863 13.537 1.00008 11.75C0.991319 9.97631 1.1453 8.20556 1.46008 6.46C1.57887 5.98541 1.8208 5.55057 2.16143 5.19941C2.50206 4.84824 2.92933 4.59318 3.40008 4.46C5.12008 4 12.0001 4 12.0001 4C12.0001 4 18.8801 4 20.6001 4.42C21.0708 4.55318 21.4981 4.80824 21.8387 5.15941ZM10.2445 7.61072C9.93492 7.43468 9.55512 7.43653 9.2473 7.61559C8.93949 7.79464 8.75012 8.12388 8.75012 8.47998V15.02C8.75012 15.3761 8.93949 15.7053 9.2473 15.8844C9.55512 16.0634 9.93492 16.0653 10.2445 15.8892L15.9945 12.6192C16.3071 12.4415 16.5001 12.1096 16.5001 11.75C16.5001 11.3904 16.3071 11.0585 15.9945 10.8807L10.2445 7.61072ZM13.4773 11.75L10.7501 13.3009V10.1991L13.4773 11.75Z" fill="white"/>
</svg>
                </div>
              </div>
              <h5 class="h5">Youtube</h5></a><a href="#"> 
              <div class="block">
                <div class="icon-dark"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0)">
<path d="M9.41718 15.1808L9.02018 20.7648C9.58818 20.7648 9.83418 20.5208 10.1292 20.2278L12.7922 17.6828L18.3102 21.7238C19.3222 22.2878 20.0352 21.9908 20.3082 20.7928L23.9302 3.8208L23.9312 3.8198C24.2522 2.3238 23.3902 1.7388 22.4042 2.1058L1.11418 10.2568C-0.338822 10.8208 -0.316822 11.6308 0.867178 11.9978L6.31018 13.6908L18.9532 5.7798C19.5482 5.3858 20.0892 5.6038 19.6442 5.9978L9.41718 15.1808Z" fill="white"/>
</g>
<defs>
<clipPath id="clip0">
<rect width="24" height="24" fill="white"/>
</clipPath>
</defs>
</svg>
                </div>
              </div>
              <h5 class="h5">Telegram</h5></a><a href="#"> 
              <div class="block">
                <div class="icon-dark"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M19.5757 2.44074L6.71126 6.73716C6.40334 6.83998 6.19568 7.12823 6.19568 7.4529V14.4266C6.19568 14.7512 6.40334 15.0395 6.71126 15.1424L19.5757 19.4388C20.0638 19.6018 20.5694 19.2381 20.5694 18.723V3.15648C20.5694 2.64189 20.0643 2.2776 19.5757 2.44074Z" fill="white"/>
<path d="M22.0784 7.90332V13.9765C24.6326 12.7641 24.6481 9.12309 22.0784 7.90332Z" fill="white"/>
<path d="M4.68641 14.4267C4.68641 6.91251 4.63633 7.20346 4.81715 6.69434H4.24544C1.90448 6.69434 0 8.59881 0 10.9398C0 13.2807 1.90448 15.1852 4.24544 15.1852H4.81715C4.73235 14.9464 4.68641 14.6907 4.68641 14.4267Z" fill="white"/>
<path d="M8.33725 17.2766L6.59426 16.6945C4.05912 16.6945 4.01696 16.7078 3.56104 16.6536L4.49953 21.003C4.57447 21.3505 4.88173 21.5985 5.23715 21.5985H8.33498C8.81717 21.5985 9.17368 21.153 9.07261 20.6847L8.33725 17.2766Z" fill="white"/>
</svg>
                </div>
              </div>
              <h5 class="h5">Telegram Group</h5></a></div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <header class="header-section">
      <h2 class="h2">Contact Us</h2>
      <p>We are always ready to listen and welcome any questions you may have for our team. If you would like to contact us, please fill out the form below. Someone from our team will get back to you shortly. </p>
    </header>
    <div class="main-contact">
      <div class="main-contact__cover">
        <figure><img src="images/image-contact.svg" alt=""/></figure>
      </div>
      <div class="main-contact__form">
        <form id="contactForm" action="#">
          <div class="field">
            <input id="contact" type="email" placeholder="Email" required="required"/><span class="error" id="errorEmail">Enter an email in the format someone@example.com</span>
          </div>
          <div class="field">
            <textarea id="message" name="" placeholder="Your Message"></textarea><span class="error" id="errorMessage">Write a message for the support team with at least 20 characters</span>
          </div>
          <div class="block">
            <button class="btn-primary btn-disabled" id="sendMessage">send message</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>