
<div class="container">
  <header class="header-section">
    <h2 class="h2">Contact Us</h2>
    <p>We are always ready to listen and welcome any questions you may have for our team. If you would like to contact us, please fill out the form below. Someone from our team will get back to you shortly. </p>
  </header>
  <div class="main-contact">
    <div class="main-contact__cover">
      <figure><img src="images/image-contact.svg" alt=""/></figure>
    </div>
    <div class="main-contact__form">
      <form id="contactForm" action="#">
        <div class="field">
          <input id="contact" type="email" placeholder="Email" required="required"/><span class="error" id="errorEmail">Enter an email in the format someone@example.com</span>
        </div>
        <div class="field">
          <textarea id="message" name="" placeholder="Your Message"></textarea><span class="error" id="errorMessage">Write a message for the support team with at least 20 characters</span>
        </div>
        <div class="block">
          <button class="btn-primary btn-disabled" id="sendMessage">send message</button>
        </div>
      </form>
    </div>
  </div>
</div>