
<section class="section-page section-page--ddos">
  <div class="container">
    <div class="box-flex-center">
      <h2 class="animate delay-1">DDoS Protection</h2>
      <p class="animate delay-2">Our services comes with a proprietary DDoS protection system which filters out attacks and scrubs them out before it hits our network. CDN77 helps us combat/mitigate DDoS attacks almost instantly so our clients can have a worry free hosting experience.</p><img class="lazyload" data-src="images/new/home_ddos_anim.svg" alt=""/>
    </div>
  </div>
</section>