
<footer class="footer-shell">
  <div class="container container--banner">
    <div class="banner-footer animate">
      <div class="banner-footer__content">
        <h2 class="h2">Choose your best plan!</h2>
        <p>Join over 13,000 satisfied customers already using ignero.com and make your content hop.</p>
      </div>
      <div class="banner-footer__cta">
        <div class="action"><a class="btn-white" href="dedicated-server.html">Dedicated Servers</a><a class="btn-default btn-soon" href="contact.html"><span>Contact Us</span></a></div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="footer-info animate delay-2">
      <div class="footer-brand"><img src="images/logo.svg" alt=""/>
        <p>Ignero is Los Angeles based company specializing in infrastructure as a service. We've cherry picked our hardware, network and datacenters so our clients could have an amazing experience.</p>
        <nav> <span>Sales Department: </span><a href="mailto:sales@ignero.com"> sales@ignero.com</a><span>Support Department:</span><a href="mailto:support@ignero.com"> support@ignero.com</a><span>Phone:</span><a href="tell:12026437712">+1 (202) 643-7712</a></nav>
      </div>
      <div class="footer-menu">
        <h3>Sitemap</h3>
        <nav><a href="">Products</a><a href="">Features</a><a href="">Pricing</a><a href="about.html">About us</a><a href="contact.html">Contact us</a></nav>
      </div>
      <div class="footer-menu">
        <h3>Products</h3>
        <nav><a href="pricing-vps.html">Ryzen VPS</a><a href="dedicated-server.html">Dedicated Servers</a><a href="">Coming Soon</a></nav>
      </div>
      <div class="footer-menu">
        <h3>Features</h3>
        <nav><a href="">Control Panel</a><a href="">IPMI/KVM Access</a><a href="">DDoS Protection</a><a href="">Ryzen Performance</a><a href="">Fast Network</a></nav>
      </div>
      <div class="footer-menu">
        <h3>Company</h3>
        <nav><a href="privacy.html">Privacy &amp; Policy</a><a href="term.html">Terms of Services</a><a href="acceptable.html">Acceptable Use</a><a href="about.html">About Us</a></nav>
      </div>
    </div>
    <div class="footer-note">
      <p>Copyright © 2021 Ignero Hosting. All Rights Reserved.</p>
      <nav><a href="https://twitter.com/IgneroHosting">Twitter</a><a href="https://www.trustpilot.com/review/ignero.com">TrustPilot</a></nav>
    </div>
  </div>
</footer>