
<footer class="section-page footer-shell">
  <div class="box-line-footer">
    <div class="line-ellipse line-ellipse--footer"></div>
  </div>
  <div class="container">
    <div class="footer-action">
      <div class="footer-action__content">
        <h2 class="heading animate">Are you excited <br> for <span class="color-primary"> PowerChap? <span></h2>
        <p class="animate delay-1">Start Growing Leads and Revenue in Under 15 minutes</p>
        <div class="block animate delay-1"><a class="btn-primary" href=""><span class="bg"></span><span class="text">Start Today</span></a></div>
      </div>
      <figure class="footer-action__illustration"><img src="images/footer-illustration.png" alt=""/></figure>
    </div>
    <div class="footer-info">
      <section class="footer-info__col footer-info--about__col">
        <h2 class="heading animate delay-1">Grow your Business revenue!</h2>
        <p class="animate delay-1">Advertising is the #1 way to increase your revenue and retain your business brand. In 5 minutes you can automate 1000's in revenue!</p>
      </section>
      <section class="footer-info__col animate delay-2">
        <h3>Product</h3>
        <ul>
          <li><a href="agency.html">PowerAgency</a></li>
          <li><a href="blog.html">Blog</a></li>
          <li><a href="partners.html">Partners</a></li>
        </ul>
      </section>
      <section class="footer-info__col animate delay-3">
        <h3>Company </h3>
        <ul>
          <li><a href="about.html">About Us</a></li>
          <li><a href="career.html">Career</a></li>
          <li><a href="">TCPA</a></li>
        </ul>
      </section>
      <section class="footer-info__col animate delay-3">
        <h3>Support  </h3>
        <ul>
          <li><a href="term.html">Term</a></li>
          <li><a href="policy.html">Privacy</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </section>
    </div>
    <div class="footer-note animate">
      <p>Powerchap Ltd © 2021. All Rights Reserved.</p><a href="policy.html">Privacy Policy</a><a href="">Data Processing Agreement</a>
      <nav class="navigation-socmed"><a href=""><svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M32 16C32 7.1625 24.8375 0 16 0C7.1625 0 0 7.1625 0 16C0 24.8375 7.1625 32 16 32C16.0938 32 16.1875 32 16.2812 31.9937V19.5438H12.8438V15.5375H16.2812V12.5875C16.2812 9.16875 18.3688 7.30625 21.4188 7.30625C22.8813 7.30625 24.1375 7.4125 24.5 7.4625V11.0375H22.4C20.7437 11.0375 20.4188 11.825 20.4188 12.9812V15.5312H24.3875L23.8687 19.5375H20.4188V31.3813C27.1063 29.4625 32 23.3062 32 16Z" fill="white"/>
</svg></a><a href=""><svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M19.0625 15.999C19.0625 17.6904 17.6914 19.0615 16 19.0615C14.3086 19.0615 12.9375 17.6904 12.9375 15.999C12.9375 14.3076 14.3086 12.9365 16 12.9365C17.6914 12.9365 19.0625 14.3076 19.0625 15.999Z" fill="white"/>
<path d="M23.1621 10.5795C23.0149 10.1805 22.78 9.81944 22.4749 9.52303C22.1785 9.21783 21.8176 8.98295 21.4185 8.83572C21.0947 8.70998 20.6084 8.56031 19.7126 8.51954C18.7437 8.47534 18.4531 8.46582 16 8.46582C13.5466 8.46582 13.2561 8.4751 12.2874 8.51929C11.3916 8.56031 10.905 8.70998 10.5815 8.83572C10.1824 8.98295 9.82129 9.21783 9.52515 9.52303C9.21997 9.81944 8.98511 10.1803 8.83765 10.5795C8.71191 10.9033 8.56226 11.3899 8.52148 12.2857C8.47729 13.2545 8.46777 13.5451 8.46777 15.9986C8.46777 18.4519 8.47729 18.7425 8.52148 19.7115C8.56226 20.6074 8.71191 21.0937 8.83765 21.4175C8.98511 21.8167 9.21973 22.1775 9.5249 22.474C9.82129 22.7792 10.1821 23.014 10.5813 23.1613C10.905 23.2872 11.3916 23.4369 12.2874 23.4777C13.2561 23.5219 13.5464 23.5312 15.9998 23.5312C18.4534 23.5312 18.7439 23.5219 19.7124 23.4777C20.6082 23.4369 21.0947 23.2872 21.4185 23.1613C22.2197 22.8522 22.853 22.2188 23.1621 21.4175C23.2878 21.0937 23.4375 20.6074 23.4785 19.7115C23.5227 18.7425 23.532 18.4519 23.532 15.9986C23.532 13.5451 23.5227 13.2545 23.4785 12.2857C23.4377 11.3899 23.2881 10.9033 23.1621 10.5795ZM16 20.7165C13.3943 20.7165 11.282 18.6043 11.282 15.9984C11.282 13.3925 13.3943 11.2802 16 11.2802C18.6055 11.2802 20.7178 13.3925 20.7178 15.9984C20.7178 18.6043 18.6055 20.7165 16 20.7165ZM20.9043 12.1963C20.2954 12.1963 19.8018 11.7026 19.8018 11.0937C19.8018 10.4848 20.2954 9.99108 20.9043 9.99108C21.5132 9.99108 22.0068 10.4848 22.0068 11.0937C22.0066 11.7026 21.5132 12.1963 20.9043 12.1963Z" fill="white"/>
<path d="M16 0C7.16479 0 0 7.16479 0 16C0 24.8352 7.16479 32 16 32C24.8352 32 32 24.8352 32 16C32 7.16479 24.8352 0 16 0ZM25.1321 19.7878C25.0876 20.7659 24.9321 21.4336 24.7051 22.0181C24.2278 23.2522 23.2522 24.2278 22.0181 24.7051C21.4338 24.9321 20.7659 25.0874 19.7881 25.1321C18.8083 25.1768 18.4954 25.1875 16.0002 25.1875C13.5049 25.1875 13.1921 25.1768 12.2122 25.1321C11.2344 25.0874 10.5664 24.9321 9.98218 24.7051C9.3689 24.4744 8.81372 24.1128 8.35474 23.6453C7.88745 23.1865 7.52588 22.6311 7.29517 22.0181C7.06812 21.4338 6.9126 20.7659 6.86816 19.7881C6.823 18.8081 6.8125 18.4951 6.8125 16C6.8125 13.5049 6.823 13.1919 6.86792 12.2122C6.91235 11.2341 7.06763 10.5664 7.29468 9.98193C7.52539 9.3689 7.88721 8.81348 8.35474 8.35474C8.81348 7.88721 9.3689 7.52563 9.98193 7.29492C10.5664 7.06787 11.2341 6.9126 12.2122 6.86792C13.1919 6.82324 13.5049 6.8125 16 6.8125C18.4951 6.8125 18.8081 6.82324 19.7878 6.86816C20.7659 6.9126 21.4336 7.06787 22.0181 7.29468C22.6311 7.52539 23.1865 7.88721 23.6455 8.35474C24.1128 8.81372 24.4746 9.3689 24.7051 9.98193C24.9324 10.5664 25.0876 11.2341 25.1323 12.2122C25.177 13.1919 25.1875 13.5049 25.1875 16C25.1875 18.4951 25.177 18.8081 25.1321 19.7878Z" fill="white"/>
</svg></a><a href=""><svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M16 0C7.16479 0 0 7.16479 0 16C0 24.8352 7.16479 32 16 32C24.8352 32 32 24.8352 32 16C32 7.16479 24.8352 0 16 0ZM23.3054 12.4751C23.3125 12.6326 23.3159 12.7908 23.3159 12.9497C23.3159 17.8025 19.6221 23.3984 12.8669 23.3987H12.8672H12.8669C10.793 23.3987 8.86304 22.7908 7.23779 21.749C7.52515 21.783 7.81763 21.7998 8.11377 21.7998C9.83447 21.7998 11.418 21.2129 12.675 20.2278C11.0674 20.198 9.71191 19.1362 9.24414 17.677C9.46802 17.72 9.69824 17.7434 9.93433 17.7434C10.2695 17.7434 10.5942 17.6982 10.9028 17.614C9.22241 17.2776 7.95654 15.7925 7.95654 14.0142C7.95654 13.9976 7.95654 13.9827 7.95703 13.9673C8.4519 14.2424 9.01782 14.408 9.62036 14.4265C8.63428 13.7686 7.98608 12.6438 7.98608 11.3696C7.98608 10.6968 8.16797 10.0664 8.4834 9.52368C10.2944 11.7458 13.001 13.2073 16.0532 13.3608C15.9902 13.0918 15.9578 12.8115 15.9578 12.5234C15.9578 10.4961 17.6025 8.85132 19.6306 8.85132C20.687 8.85132 21.6411 9.29785 22.3113 10.0117C23.1479 9.84668 23.9336 9.54102 24.6433 9.12036C24.3687 9.97754 23.7866 10.6968 23.0283 11.1516C23.7712 11.0627 24.4792 10.8657 25.1372 10.5732C24.6458 11.3098 24.0225 11.9568 23.3054 12.4751Z" fill="white"/>
</svg></a><a href=""><svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M14.0071 18.9971L19.2117 15.9995L14.0071 13.002V18.9971Z" fill="white"/>
<path d="M16 0C7.16479 0 0 7.16479 0 16C0 24.8352 7.16479 32 16 32C24.8352 32 32 24.8352 32 16C32 7.16479 24.8352 0 16 0ZM25.9976 16.0164C25.9976 16.0164 25.9976 19.2612 25.5859 20.8259C25.3552 21.6824 24.6799 22.3577 23.8235 22.5881C22.2588 23 16 23 16 23C16 23 9.75757 23 8.17651 22.5718C7.32007 22.3413 6.64478 21.6658 6.41406 20.8093C6.0022 19.2612 6.0022 16 6.0022 16C6.0022 16 6.0022 12.7554 6.41406 11.1907C6.64453 10.3342 7.33643 9.64233 8.17651 9.41187C9.74121 9 16 9 16 9C16 9 22.2588 9 23.8235 9.42822C24.6799 9.65869 25.3552 10.3342 25.5859 11.1907C26.0142 12.7554 25.9976 16.0164 25.9976 16.0164Z" fill="white"/>
</svg></a><a href=""><svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M16 0C7.16481 0 0 7.16481 0 16C0 24.8352 7.16481 32 16 32C24.8352 32 32 24.8352 32 16C32 7.16481 24.8352 0 16 0ZM24.0269 12.2421V14.4085C23.0053 14.4089 22.0128 14.2087 21.0766 13.8138C20.4747 13.5596 19.9139 13.2322 19.4009 12.8365L19.4163 19.5048C19.4099 21.0064 18.8158 22.4172 17.7406 23.4799C16.8656 24.3449 15.7569 24.8949 14.5551 25.073C14.2727 25.1148 13.9854 25.1362 13.6947 25.1362C12.4083 25.1362 11.187 24.7195 10.1879 23.9506C9.99994 23.8059 9.82012 23.6489 9.64894 23.4799C8.48369 22.3282 7.88281 20.7673 7.984 19.1252C8.06119 17.8753 8.56162 16.6833 9.39587 15.7489C10.4996 14.5126 12.0437 13.8263 13.6947 13.8263C13.9854 13.8263 14.2727 13.8481 14.5551 13.8899V14.6909V16.9192C14.2874 16.8309 14.0014 16.7823 13.7037 16.7823C12.1953 16.7823 10.975 18.0129 10.9976 19.5224C11.0119 20.4883 11.5394 21.3325 12.3176 21.7979C12.6832 22.0166 13.1039 22.1521 13.5529 22.1768C13.9046 22.1961 14.2424 22.1471 14.5551 22.0438C15.6328 21.6878 16.4102 20.6756 16.4102 19.4817L16.4138 15.0162V6.86375H19.3973C19.4002 7.15938 19.4302 7.44781 19.4859 7.72731C19.7111 8.85863 20.3488 9.84013 21.2363 10.5092C22.0102 11.0929 22.9738 11.4389 24.0182 11.4389C24.0189 11.4389 24.0276 11.4389 24.0268 11.4382V12.2421H24.0269Z" fill="white"/>
</svg></a></nav>
    </div>
  </div>
</footer>