
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta name="robots" content="index,nofollow"/>
<meta name="copyright" content="Copyright © 2020"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="msapplication-TileColor" content="#"/>
<meta name="msapplication-TileImage" content="#"/>
<meta name="theme-color" content="#"/>
<meta name="description" content="#"/>
<meta name="url" content=""/>
<meta name="author" content=""/>
<meta name="og:url" content=""/>
<meta name="og:type" content=""/>
<meta name="og:title" content=""/>
<meta name="og:description" content=""/>
<meta name="og:image" content=""/>
<meta name="twitter:title" content=""/>
<meta name="twitter:site" content=""/>
<meta name="twitter:description" content=""/>
<meta name="twitter:url" content=""/>
<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon"/>
<link rel="icon" href="images/favicon.ico" type="image/x-icon"/>
<link rel="canonical" href="#"/>
<link rel="stylesheet" href="css/app.css"/>