
<header class="header-shell">
  <div class="container">
    <div class="header-content">
      <div class="header-content__logo">
        <div class="logo-header"><a href="index.html"><img src="images/main-logo.png" alt="logo promise"/></a>
          <button class="btn-cta-mobile toggle-menu"><i class="menu"><svg width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M1 1H19" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M1 9H19" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M1 17H19" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg></i><i class="close"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M1.63623 1.63599L14.3642 14.3639" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M14.3643 1.63599L1.63633 14.3639" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg></i></button>
        </div>
      </div>
      <nav class="header-content__menu">
        <div class="box-menu">
          <ul>
            <li><a href="about.html">About</a></li>
            <li><a href="how-to-buy.html">How To Buy</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Chart</a></li>
            <li><a href="#">FAQ</a></li>
          </ul>
          <div class="box-auth flex items-center"><a class="btn-default" href="#">WHITEPAPER</a></div>
        </div>
      </nav>
    </div>
  </div>
</header>