
<header class="header-shell">
  <div class="container">
    <div class="header-content">
      <div class="header-content__logo">
        <div class="logo-header"><a href="index.html"><img src="images/logo.svg" alt="logo ignore"/></a>
          <button class="btn-cta-mobile toggle-menu"><i class="menu"><svg width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M1 1H19" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M1 9H19" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M1 17H19" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg></i><i class="close"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M1.63623 1.63599L14.3642 14.3639" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M14.3643 1.63599L1.63633 14.3639" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg></i></button>
        </div>
      </div>
      <nav class="header-content__menu">
        <div class="box-menu">
          <ul>
            <li class="parent-menu"><a href="#"><span>Products</span><i class="chevron"> </i></a>
              <ul class="sub-menu">
                <li><a href="#">AMD Ryzen VPS</a></li>
                <li><a href="">US Web Hosting (Cpanel)</a></li>
                <li><a href="">IPv6 Leasing Services</a></li>
                <li><a href="">Coming Soon</a></li>
              </ul>
            </li>
            <li class="parent-menu"><a href="#"><span>Features</span><i class="chevron"></i></a>
              <ul class="sub-menu">
                <li><a href="#">Control Panel</a></li>
                <li><a href="">One-Click Deploys</a></li>
                <li><a href="">Free SSL Certificates</a></li>
                <li><a href="">LiteSpeed &amp; LSCache</a></li>
                <li><a href="">PHP Versions</a></li>
              </ul>
            </li>
            <li class="parent-menu"><a href="#"><span>Pricings</span><i class="chevron"></i></a>
              <ul class="sub-menu">
                <li><a href="pricing-cpanel.html">cPanel</a></li>
                <li><a href="pricing-vps.html">Ryzen VPS</a></li>
              </ul>
            </li>
            <li class="parent-menu"><a href="#"><span>Locations</span><i class="chevron"></i></a>
              <ul class="sub-menu">
                <li><a href="location.html"> Los Angeles</a></li>
                <li><a href="">Coming Soon</a></li>
                <li><a href="">Coming Soon</a></li>
                <li><a href="">Coming Soon</a></li>
                <li><a href="">Coming Soon</a></li>
              </ul>
            </li>
            <li><a href="about.html">About us</a></li>
          </ul>
        </div>
      </nav>
      <nav class="header-content__cta"><a class="btn" href="#">Portal</a><a class="btn-default" href="#">Get Started</a></nav>
    </div>
  </div>
</header>