
<header class="main-global-header">
  <div class="global-header">
    <div class="global-header__logo">
      <div class="logo-header"><a href="index.html"><img src="images/logo.svg" alt="logo ignore"/></a></div>
      <button class="toggle-menu-header" onclick="toggleMenuHeader(this)">
        <div class="icon-open"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect x="8" y="5" width="12" height="2" fill="white"/>
<rect x="4" y="11" width="16" height="2" fill="white"/>
<rect x="12" y="17" width="8" height="2" fill="white"/>
</svg>
        </div>
        <div class="icon-close"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect x="7.41418" y="6" width="16" height="2" transform="rotate(45 7.41418 6)" fill="white"/>
<rect x="18.7279" y="7.41418" width="16" height="2" transform="rotate(135 18.7279 7.41418)" fill="white"/>
</svg>
        </div>
      </button>
    </div>
    <div class="global-header__menu">
      <div class="header-menu__nav main-header">
        <ul class="menu">
          <li class="list-menu menu__item" data-sub="products"><a href="#"><span>Products</span><i class="chevron"></i></a></li>
          <li class="list-menu menu__item" data-sub="location"><a href="#"><span>Locations</span><i class="chevron"></i></a></li>
          <li class="list-menu menu__item" data-sub="company-2"><a href="#"><span>Company</span><i class="chevron"></i></a></li>
        </ul>
        <div class="dropdown-holder">
          <div class="dropdown__arrow"></div>
          <div class="dropdown__bg">
            <div class="dropdown__bg-bottom"></div>
          </div>
          <div class="dropdown__wrap">
            <div class="dropdown-menu" id="product" data-sub="products">
              <div class="dropdown-menu__content">
                <div class="main-section">
                  <button class="btn-toggle-menu" onclick="toggleSubMenu(this)"><span>Products</span><i class="icon"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M4 6L8 10L12 6" stroke="white" stroke-width="2"/>
</svg></i></button>
                  <div class="submenu"><a class="submenu__list" href="pricing-vps.html">
                      <figure class="submenu-icon"><img src="images/submenu-product.svg" alt=""/></figure>
                      <div class="submenu-content">
                        <div class="content-title"><span>Ryzen Virtual Servers</span><i class="icon"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M6 12L10 8L6 4" stroke="white" stroke-width="2"/>
</svg></i></div>
                        <p>High performance Ryzen servers</p>
                      </div></a><a class="submenu__list" href="dedicated-server.html">
                      <figure class="submenu-icon"><img src="images/submenu-product.svg" alt=""/></figure>
                      <div class="submenu-content">
                        <div class="content-title"><span>Ryzen Dedicated Servers</span><i class="icon"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M6 12L10 8L6 4" stroke="white" stroke-width="2"/>
</svg></i></div>
                        <p>Fully Dedicated Ryzen Servers</p>
                      </div></a><a class="submenu__list" href="#">
                      <figure class="submenu-icon"><img src="images/submenu-product.svg" alt=""/></figure>
                      <div class="submenu-content">
                        <div class="content-title"><span>IPv6 Leasing</span><span class="label-soon">Soon</span><i class="icon"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M6 12L10 8L6 4" stroke="white" stroke-width="2"/>
</svg></i></div>
                        <p>IP Leasing Solutions</p>
                      </div></a></div>
                </div>
              </div>
            </div>
            <div class="dropdown-menu" data-sub="company-2">
              <div class="dropdown-menu__content">
                <div class="main-section">
                  <button class="btn-toggle-menu" onclick="toggleSubMenu(this)"><span>Company</span><i class="icon"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M4 6L8 10L12 6" stroke="white" stroke-width="2"/>
</svg></i></button>
                  <div class="submenu"><a class="submenu__list centered" href="about.html">
                      <figure class="submenu-icon"><img src="images/company/ico1.svg" alt=""/></figure>
                      <div class="submenu-content">
                        <div class="content-title no-sub"><span>About Us</span><i class="icon"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M6 12L10 8L6 4" stroke="white" stroke-width="2"/>
</svg></i></div>
                      </div></a><a class="submenu__list centered" href="term.html">
                      <figure class="submenu-icon"><img src="images/company/ico2.svg" alt=""/></figure>
                      <div class="submenu-content">
                        <div class="content-title no-sub"><span>Terms of Service</span><i class="icon"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M6 12L10 8L6 4" stroke="white" stroke-width="2"/>
</svg></i></div>
                      </div></a><a class="submenu__list centered" href="acceptable.html">
                      <figure class="submenu-icon"><img src="images/company/ico3.svg" alt=""/></figure>
                      <div class="submenu-content">
                        <div class="content-title no-sub"><span>Acceptable Use Policy</span><i class="icon"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M6 12L10 8L6 4" stroke="white" stroke-width="2"/>
</svg></i></div>
                      </div></a><a class="submenu__list centered" href="privacy.html">
                      <figure class="submenu-icon"><img src="images/company/ico4.svg" alt=""/></figure>
                      <div class="submenu-content">
                        <div class="content-title no-sub"><span>Privacy Policy</span><i class="icon"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M6 12L10 8L6 4" stroke="white" stroke-width="2"/>
</svg></i></div>
                      </div></a></div>
                </div>
              </div>
            </div>
            <div class="dropdown-menu" data-sub="location">
              <div class="dropdown-menu__content">
                <div class="main-section">
                  <button class="btn-toggle-menu" onclick="toggleSubMenu(this)"><span>Locations</span><i class="icon"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M4 6L8 10L12 6" stroke="white" stroke-width="2"/>
</svg></i></button>
                  <div class="submenu"><a class="submenu__list" href="los-angeles.html">
                      <figure class="submenu-icon"><img src="images/submenu-location.svg" alt=""/></figure>
                      <div class="submenu-content">
                        <div class="content-title"><span>Los Angeles, CA</span><i class="icon"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M6 12L10 8L6 4" stroke="white" stroke-width="2"/>
</svg></i></div>
                        <p>445 N Douglas St, El Segundo</p>
                      </div></a><a class="submenu__list" href="#">
                      <figure class="submenu-icon"><img src="images/submenu-location.svg" alt=""/></figure>
                      <div class="submenu-content">
                        <div class="content-title"><span>San Diego, CA</span><i class="icon"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M6 12L10 8L6 4" stroke="white" stroke-width="2"/>
</svg></i></div>
                        <p>10818 San Diego Mission Rd</p>
                      </div></a><a class="submenu__list" href="#">
                      <figure class="submenu-icon"><img src="images/submenu-location.svg" alt=""/></figure>
                      <div class="submenu-content">
                        <div class="content-title"><span>Las Vegas, CA</span><i class="icon"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M6 12L10 8L6 4" stroke="white" stroke-width="2"/>
</svg></i></div>
                        <p>7495 Mission Hills Dr</p>
                      </div></a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="header-menu__cta"><a class="btn" href="https://my.ignero.com/">Portal</a><a class="btn-default" href="https://my.ignero.com/register.php">Get Started</a></div>
    </div>
  </div>
</header>