
<section class="section-page section-page--testi">
  <div class="container">
    <div class="upper-box">
      <h2>Trusted by over 16.000 happy customers</h2>
      <div class="slide-arrow-wrapper">
        <button class="slickPrev"><img src="images/arrow_left.png" alt=""/></button>
        <button class="slickNext"><img src="images/arrow_right.png" alt=""/></button>
      </div>
    </div>
    <div class="slide-wrapper"> 
      <div>
        <div class="slide-itm"><img src="images/quote.svg" alt=""/>
          <p class="line-clamp line-clamp-6">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
          <div class="user-wrapper"> <img src="images/testi_profile.png" alt=""/>
            <div class="name-wrapper"> 
              <div>Dianne Russell</div>
              <div>CMO - MasterCard</div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="slide-itm"><img src="images/quote.svg" alt=""/>
          <p class="line-clamp line-clamp-6">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
          <div class="user-wrapper"> <img src="images/testi_profile.png" alt=""/>
            <div class="name-wrapper"> 
              <div>Robert Fox</div>
              <div>CEO - Nintendo</div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="slide-itm"><img src="images/quote.svg" alt=""/>
          <p class="line-clamp line-clamp-6">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
          <div class="user-wrapper"> <img src="images/testi_profile.png" alt=""/>
            <div class="name-wrapper"> 
              <div>Albert Flores</div>
              <div>CTO - General Electric</div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="slide-itm"><img src="images/quote.svg" alt=""/>
          <p class="line-clamp line-clamp-6">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
          <div class="user-wrapper"> <img src="images/testi_profile.png" alt=""/>
            <div class="name-wrapper"> 
              <div>Albert Flores</div>
              <div>CTO - General Electric</div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="slide-itm"><img src="images/quote.svg" alt=""/>
          <p class="line-clamp line-clamp-6">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
          <div class="user-wrapper"> <img src="images/testi_profile.png" alt=""/>
            <div class="name-wrapper"> 
              <div>Albert Flores</div>
              <div>CTO - General Electric</div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="slide-itm"><img src="images/quote.svg" alt=""/>
          <p class="line-clamp line-clamp-6">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
          <div class="user-wrapper"> <img src="images/testi_profile.png" alt=""/>
            <div class="name-wrapper"> 
              <div>Albert Flores</div>
              <div>CTO - General Electric</div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="slide-itm"><img src="images/quote.svg" alt=""/>
          <p class="line-clamp line-clamp-6">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
          <div class="user-wrapper"> <img src="images/testi_profile.png" alt=""/>
            <div class="name-wrapper"> 
              <div>Albert Flores</div>
              <div>CTO - General Electric</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="indicator-wrapper"></div>
  </div>
</section>