%btn
    display: inline-flex
    align-items: center
    justify-content: center
    height: rem(50)
    padding: rem(16) rem(24)
    border-radius: 4px
    font-size: rem(14)
    border: 1px solid transparent
    outline: none
    font-weight: 500
    font-family: $font-base

.icon-right
    margin-left: rem(10)
    display: flex
    align-items: center
    justify-content: center

.btn-primary
    @extend %btn
    background-color: $color-primary
    background: linear-gradient(86.6deg, #F69321 0%, #DA3926 100%)
    color: #fff
    border: none
    &:hover
        background-color: #2650B5

.btn
    @extend %btn
    color: $color-primary

.btn-white 
    @extend %btn
    color: $color-primary
    background-color: #fff

.btn-gray 
    @extend %btn
    color: #fff
    background-color: rgba(255, 255, 255, 0.1)

.btn-default
    @extend %btn
    background-color: #2B201C
    color: $color-primary
    &:hover
        border-color: $color-primary

.link
    display: inline-flex
    align-items: center
    justify-content: center
    color: #fff
    font-weight: 500
    font-size: rem(14)
    i
        margin-left: 4px
        display: flex
        align-items: center
        justify-content: space-between

.more-request
    a
        text-decoration: underline
        color: #fff
        &:hover
            color: $color-primary


.slick-dots
    display: flex
    align-items: center
    justify-content: center
    margin-top: rem(32)
    li
        width: 8px
        height: 8px
        border-radius: 100%
        margin: 0 3px
        background-color: #3D3E45
        position: relative
        overflow: hidden
        button
            position: absolute
            left: 0
            top: 0
            bottom: 0
            right: 0
            width: 100%
            height: 100%
            opacity: 0
        &.slick-active
            background-color: $color-primary
