.card-blog
    &__cover
        margin-bottom: rem(25)
        width: 100%
        img
            width: 100%
            border-radius: rem(10)
    &__info
        .label
            margin-bottom: rem(33)
        a.link
            margin-bottom: rem(24)
            font-family: $font-bold
            display: block
            font-size: rem(28)
            line-height: rem(36)
            color: $color-dark
            &:hover
                color: $color-primary
        p
            margin-bottom: rem(24)

    .box-author
        .account
            &__info
                strong
                    font-family: $font-bold
                    color: $color-primary



.label
    min-width: rem(136)
    border-radius: 100px
    padding: rem(4) rem(23)
    font-size: rem(18)
    display: inline-block
    line-height: 2
    text-align: center
    &-blue
        background-color: #D9EBFF
        color: #469DFF
    
    &-green
        background-color: #E2FFF6
        color: #55C5A3

    &-orange
        background-color: #FFECD7
        color: #F3AD5E
    
    &-purple
        background-color: #E2DEFF
        color: #6854E7
    
