<!DOCTYPE html>
html(lang="en")
    head
        include components/shell/head.pug
        title Ignero - About
    body.homepage
        - const pageName = 'Index'
        include components/shell/navigation.pug
        main.main-sections
            //- header section
            header.header-page
                .container
                    h1.animate About Us
                    p.animate.delay-1 Building a faster internet - with <strong>Affordable &amp; Reliable</strong> hosting plan

            section.section-page.section-page--about
                //- illustration here
                figure.animate.about-illustration
                    img.lazyload(data-src="images/animate-aboutus.svg", alt="")

                .container
                    p.animate.delay-2 We offer cPanel web hosting at an amazingly low price. Our web hosting services are homed in Atlanta and come fully DDoS protected. All servers are hosted in RAID's to prevent data loss. 
            
            //- section clients
            include components/shell/clients.pug

            //- section highlight
            section.section-page.section-page--highlight
                .container
                    .card.card--about
                        figure.card__cover
                            img.lazyload(data-src="images/aboutus-new.svg", alt="")
                        .card__content.animate.delay-1
                            p Ignero plans to bring a professional and affordable environment for developers and first time website hosts. Professional and affordable are two words that usually do not go together but here at Ignero, we will provide both.

            //- section numbers
            section.section-page.section-page--numbers
                .container
                    header.header-page
                        h2.h2.animate Ignero in Number

                    .box-numbers
                        .box-numbers__list.animate.delay-1
                            h3 700.000+
                            p Configured Zones
                        .box-numbers__list.animate.delay-2
                            h3 250.000+
                            p Request per Second
                        .box-numbers__list.animate.delay-3
                            h3 500 Gbit+
                            p Traffic Peaks

                        .box-numbers__list.animate.delay-4
                            h3 6 Years
                            p In Services

        //- global footer
        include components/shell/footer.pug

        script(src="js/app.js")
        script(src="js/lazysizes.min.js")
        