<!DOCTYPE html>
html(lang="en")
    head
        include components/shell/head.pug
        title Ignero - Acceptable Use Policy
    body.homepage
        - const pageName = 'Acceptable Use Policy'
        include components/shell/navigation.pug
        main.main-sections
            //- header section
            header.header-page
                h1.animate= pageName
            .privacy-inner-content





        //- global footer
        include components/shell/footer.pug

        script(src="js/app.js")
        script(src="js/lazysizes.min.js")
