<!DOCTYPE html>
html(lang="en")
    head
        include components/shell/head.pug
        title Ignero - Contact Us
    body.homepage
        - const pageName = 'Contact'
        include components/shell/navigation.pug
        main.main-sections
            //- header section
            header.header-page
                h1.animate Contact Us
                p.animate.delay-1 Let us know how we can help you, we will be delighted to assist.

            section.section-page.section-page--contact
                .container
                    .box-contact
                        .box-contact__content.animate.delay-1
                            h3 Hi, there!
                            p We love finding simple solutions to tricky challenges. If you have a problem you think we can solve for you, let us know and we'll be delighted to work with you to find a solution.
                            p We enjoy collaborating on non-standard problems, so don't be afraid to reach out!
                            .action-contact
                                .block
                                    h4 Contact
                                    .call-contact
                                        span Office
                                        a(href="#" target="_blank") 2715 Ash Dr. San Jose, <br> South Dakota 83475
                                        
                                    .call-contact
                                        span Email
                                        a(href="mailto:contact@ignero.com" target="_blank") contact@ignero.com

                                    .call-contact
                                        span Phone
                                        a(href="tell:13107601791" target="_blank") +1 310 760 1791

                                .block
                                    h4 Connect with us!
                                    nav.connect
                                        a(href="#" target="_blank") Facebook.com/<span>ignero</span>
                                        a(href="#" target="_blank") Instagram.com/<span>ignero</span>
                                        a(href="#" target="_blank") Twitter.com/<span>ignero</span>
                                        a(href="#" target="_blank") LinkedIn.com/in/<span>ignero</span>
                        .box-contact__form.animate.delay-2
                            form.contact-form(action="" method="method")
                                .field
                                    label(for="") First Name <sup>*</sup>
                                    input(type="text" placeholder="Your first name..." required)
                                .field
                                    label(for="") Last Name <sup>*</sup>
                                    input(type="text" placeholder="Your last name..." required)
                                .field
                                    label(for="") Email Address <sup>*</sup>
                                    input(type="text" placeholder="Your fancy email..." required)
                                .field
                                    label(for="") Company
                                    input(type="text" placeholder="Your company name...")
                                .field.field--area
                                    label(for="") Message <sup>*</sup>
                                    textarea(name="", cols="30", rows="10" placeholder="Type your message here..." required) 
                                .field.field--btn
                                    button.btn-primary Submit Form




        //- global footer
        include components/shell/footer.pug

        script(src="js/app.js")