<!DOCTYPE html>
html(lang="en")
    head
        include components/shell/head.pug
        title Ignero - Dedicated Server
    body.homepage
        - const pageName = 'Dedicated Server'
        - var locationData = ["Los Angeles","New York"]
        include components/shell/navigation.pug
        main.main-sections
            //- header section
            header.header-page.dedicated-header
                h1.animate Premium Ryzen Dedicated Servers
                p Fully dedicated without the dedicated price tag! Various configurations, operating systems, and locations to choose from, all at affordable prices.
            .dedicated-inner-content
                .loc-dropdown
                    span Location
                    .drop-head#location_drop
                        .title-drop Los Angeles
                        i.chevron
                        .drop-body#location_drop_body
                            //- each val in locationData
                            //-     a= val 

                include components/spiner.pug

                .product-itm-wrap 
                    //- each val in product
                        //- .product-itm
                        //-     .top-block
                        //-         .txt-wrap 
                        //-             .small Name
                        //-             .big= val.name
                        //-         .txt-wrap 
                        //-             .small Starting from
                        //-             .txt-inner-wrap
                        //-                 .inner-big= val.price
                        //-                 .inner-small Monthly
                        //-         .txt-wrap 
                        //-             .small Availability
                        //-             .big= val.available
                        //-         .txt-wrap 
                        //-             .small Setup Time
                        //-             .txt-inner-wrap
                        //-                 img(src="images/clock.svg")
                        //-                 if val.available > 0
                        //-                     .inner-big= val.setup
                        //-                 else 
                        //-                     .inner-big 0
                        //-                 .inner-small Mins
                        //-         if val.available > 0
                        //-             button.btn-primary Order Now
                        //-         else
                        //-             button.not-avail(disabled="true") Order Now
                        //-     .btm-block 
                        //-         .txt-wrap 
                        //-             .small CPU
                        //-             .small= val.cpu
                        //-         .txt-wrap 
                        //-             .small RAM
                        //-             .small= val.ram
                        //-         .txt-wrap 
                        //-             .small Storage
                        //-             .small= val.storage
                        //-         .txt-wrap 
                        //-             .small IPv4
                        //-             .small= val.ipv4
                        //-         .txt-wrap 
                        //-             .small IPv6
                        //-             .small= val.ipv6
                        //-         .txt-wrap 
                        //-             .small Bandwidth
                        //-             .small= val.bandwidth
                        //-         .txt-wrap 
                        //-             .small IPMI & Panel Access
                        //-             .small= val.ipmi
                
                .feature-section.t-center
                    h2 Features
                    p Our network and hardware allow you to host without worry. From enterprise hardware to amazing support, we got you covered.
                    .feature-grid
                        .feature-grid-itm 
                            img.lazyload(data-src="images/new/dedicated_feature1.svg")
                            h3 IPMI/KVM Access
                            p All of our dedicated servers come with remote IPMI/iKVM (secured via ACL), this allows clients to manage their servers without having to worry about security or support.  
                        .feature-grid-itm 
                            img.lazyload(data-src="images/new/dedicated_feature2.svg")
                            h3 Remote Management
                            p Ignero provides an automated solution, this allows you to easily perform your server actions such as power management and KVM through our dedicated server control panel. 
                        .feature-grid-itm 
                            img.lazyload(data-src="images/new/dedicated_feature3.svg")
                            h3 Premium Network
                            p We provide a blend of multiple Tier-1 transit providers on a 10Gbps (shared) port per server. This gives you access to the fastest possible network. 

                .os-section.t-center
                    h2 Supported Operating Systems
                    .os-section-grid 
                        .os-section-itm 
                            img(src="images/os1.png")
                            div 
                                span IPMI/KVM - Install your own OS
                                span FREE
                        .os-section-itm 
                            img(src="images/os2.png")
                            div 
                                span Ubuntu
                                span FREE
                        .os-section-itm 
                            img(src="images/os3.png")
                            div 
                                span CentOS
                                span FREE
                        .os-section-itm 
                            img(src="images/os4.png")
                            div 
                                span Debian
                                span FREE
                        .os-section-itm 
                            img(src="images/os5.png")
                            div 
                                span Windows Server 2016
                                span BRING YOUR OWN KEY
                        .os-section-itm 
                            img(src="images/os5.png")
                            div 
                                span Windows Server 2019
                                span BRING YOUR OWN KEY

                .ddos-section
                    .left-block 
                        h2 DDoS Protection
                        p Our network is protection with >100Gbps of network capacity. We monitor traffic 24/7 and block both protocol and volume based attacks within 10 seconds without interruption. 
                        .legend-wrap 
                            .legend-itm.t-center 
                                img(src="images/ddos-legend1.png")
                                span Various Attacks
                            .legend-itm.t-center 
                                img(src="images/ddos-legend2.png")
                                span Internal Traffic 
                            .legend-itm.t-center 
                                img(src="images/ddos-legend3.png")
                                span Legitimate Traffic 
                    img.lazyload(data-src="images/new-dedicated-ddos.svg")

                .ddos-ico-section
                    .ddos-ico-itm 
                        img.lazyload(data-src="images/ddos-ico1.svg")
                        span.t-center UDP Flood
                    .ddos-ico-itm 
                        img.lazyload(data-src="images/ddos-ico2.svg")
                        span.t-center NTP Amplification
                    .ddos-ico-itm 
                        img.lazyload(data-src="images/ddos-ico3.svg")
                        span.t-center DNS Amplification
                    .ddos-ico-itm 
                        img.lazyload(data-src="images/ddos-ico4.svg")
                        span.t-center ICMP Flood
                    .ddos-ico-itm 
                        img.lazyload(data-src="images/ddos-ico5.svg")
                        span.t-center SYN Flood

                include components/shell/automate-panel.pug


                .faq-section
                    h2.t-center Frequently Asked Questions
                    .accord-itm 
                        .accord-head 
                            span What operating systems may I install? 
                            i.chevron
                        .accord-body We provide a wide array of operating systems in which you can install on your server. We also allow clients to install their own operating systems through IPMI.
                    .accord-itm 
                        .accord-head 
                            span Are the servers unmanaged? 
                            i.chevron
                        .accord-body Yes, all of our server plans are unmanaged. If you need help please contact our friendly support team for issues regarding network or hardware. 
                    .accord-itm 
                        .accord-head 
                            span Is Ignero hardware owned or leased? 
                            i.chevron
                        .accord-body Ignero builds, owns and racks all of our hardware by hand. We do not outsource to a third-party, this means that hardware replacement will be speedy and on time. 
                    .accord-itm 
                        .accord-head 
                            span Where are the servers located? 
                            i.chevron
                        .accord-body Our Ryzen Dedicated Servers are located in Los Angeles. We do plan on expanding to more locations in the future. 
                    .accord-itm 
                        .accord-head 
                            span How quickly will my server be deployed? 
                            i.chevron
                        .accord-body All dedicated servers will be deployed within 15 minutes of order. If not, please allow up to 48 hours for us to provision the machine. 
                    .accord-itm 
                        .accord-head 
                            span I don't see the configuration I'm looking for?
                            i.chevron
                        .accord-body If you are looking for a custom server, please contact our sales department and we can get you a quote within 24 hours.
                    .accord-itm 
                        .accord-head 
                            span Does Ignero offer redundancy? 
                            i.chevron
                        .accord-body We offer network and hardware redundancy through multiple upstream providers and UPS'.


        //- global footer
        include components/shell/footer.pug

        script(src="js/app.js")
        script(src="js/lazysizes.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js")
        script(src="js/dedicated-server.js")
