<!DOCTYPE html>
html(lang="en")
    head
        include components/shell/head.pug
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")
        title Ignero - Homepage
    body.homepage
        - const pageName = 'Index'
        include components/shell/navigation.pug
        main.main-sections
            //- section hero
            include pages/homepage/hero.pug

            //- section highlight
            section.section-page.section-page--highlight
                .container
                    .card.card--highlight.animate
                        .card__content.animate.delay-1
                            h2.h2 Network and Power Redundancy
                            p Our dedicated servers come with both network and power redundancy to minimize downtime at all costs as we know how frustrating outages are. 
                            a.link(href="#") 
                                span Learn more
                                i
                                    <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M6 12.5L10 8.5L6 4.5" stroke="white" stroke-width="2"/>
                                    </svg>

                        figure.card__cover.animate.delay-1
                            img.lazyload(data-src="images/ignero-globe.svg", alt="")

            //- section features
            include pages/homepage/features.pug

            //- section automate
            include components/shell/automate-panel.pug

            //- section ddos
            include components/shell/ddos-section.pug

            //- section testi
            include components/shell/testi-section.pug

            //- section clients
            include components/shell/clients.pug

        //- global footer
        include components/shell/footer.pug

        script(src="js/app.js")
        script(src="js/lazysizes.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js")
        script(src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
        script(src="js/index.js")
        script(src="js/testi.js")
        