<!DOCTYPE html>
html(lang="en")
    head
        include components/shell/head.pug
        title Ignero - Location
    body.homepage
        - const pageName = 'Location'
        include components/shell/navigation.pug
        main.main-sections
            //- header section
            header.header-page
                h1.animate Location: Los Angeles
                p.animate.delay-1 Security, reliability and performance designed to meet your business needs.

            section.section-page.section-page--marker
                .container
                    .box-location
                        //- img(src="images/maps.png", alt="")
                        picture
                            source(media="(min-width:1024px)" data-srcset="images/maps.png")
                            img.lazyload(data-src="images/maps-mobile.png" alt="map")
                        .box-marker
                            img.lazyload(data-src="images/marker-location.svg", alt="")
                            .popup-marker
                                img.lazyload(data-src="images/logo-ignero-black.svg", alt="")
                                strong Los Angeles
                                p 445 N Douglas St, El Segundo, CA, US, 90245
                        .test-speed
                            .test-speed__label
                                strong LA Speed Test
                                span 162.251.166.39
                            .test-speed__cta
                                button.btn-primary Test Network

            section.section-page.section-page--location
                .container
                    p.box-small.animate We have chosen Equinix LA4 as our Los Angeles location not just because of the location but because of the routes they're able to provide. This location offers the fastest TransPacific routing possible with direct connections to AWS, Microsoft Azure, Google Cloud, and many other service providers making this datacenter the best choice for content delivery and low latency.
                    .box-location
                        .box-location__list.animate.delay-1
                            .wrapper
                                h3 Power Redundancy
                                p N+1
                                .divider
                                h3 Cooling Redundancy
                                p N+1
                        .box-location__list.animate.delay-2
                            .wrapper
                                h3 Certifications
                                p SOC 1 Type II
                                p SOC 2 Type II
                                p ISO 27001
                                p NIST 800-53/FI
                                p PCI DSS
                                p HIPAA

                        .box-location__list.animate.delay-3
                            .wrapper
                                h3 Address
                                p 445 N Douglas St,<br> El Segundo, <br> CA, US, 90245




        //- global footer
        include components/shell/footer.pug

        script(src="js/app.js")
        script(src="js/lazysizes.min.js")
