<!DOCTYPE html>
html(lang="en")
    head
        include components/shell/head.pug
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")
        title Ignero - Pricing cPanel
    body.homepage
        - const pageName = 'Index'
        include components/shell/navigation.pug
        main.main-sections
            //- header page
            header.header-page
                h1.animate Affordable cPanel Hosting
                p.animate.delay-1 Our highly afforable and speedy web hosting plans allow you to host without worry. We include DDoS protection along with the best hardware.

            //- section pricing
            include pages/pricing/pricing-cPanel.pug

            //- section features
            include pages/pricing/features-cPanel.pug

            //- section clients
            include components/shell/clients.pug
                

        //- global footer
        include components/shell/footer.pug

        script(src="js/app.js")
        script(src="js/lazysizes.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js")
        script(src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
        script(src="js/pricing-cpanel.js")
        