<!DOCTYPE html>
html(lang="en")
    head
        include components/shell/head.pug
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")
        title Ignero - Pricing VPS
    body.homepage
        - const pageName = 'Index'
        include components/shell/navigation.pug
        main.main-sections
            //- header page 
            header.header-page
                h1.animate High Performance Ryzen VPS
                p.animate.delay-1 Our Ryzen virtual machines are hosted with the best hardware in the industry on Tier-1 networks. We are afforable, fast, reliable and we don’t break the bank. 

            //- section pricing
            include pages/pricing/card-pricing-vps.pug

            //- section clients
            include pages/pricing/support.pug


            //- section highlight
            section.section-page.section-page--highlight
                .container
                    .card.card--highlight.animate
                        .card__content.animate.delay-1
                            h2.h2 Amazing Network
                            p All Ignero servers are hosted on a 40Gbps redundant network with reliable Tier-1 ISPs.
                            a.link(href="#") 
                                span Learn more
                                i
                                    <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M6 12.5L10 8.5L6 4.5" stroke="white" stroke-width="2"/>
                                    </svg>

                        figure.card__cover.animate
                            img(src="images/animate-amazingnetwork.svg", alt="")


            //- section features
            include pages/pricing/features-vps.pug

                

        //- global footer
        include components/shell/footer.pug

        script(src="js/app.js")
        script(src="js/lazysizes.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js")
        script(src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
        script(src="js/pricing-vps.js")
        