<!DOCTYPE html>
html(lang="en")
    head
        include components/shell/head.pug
        title Ignero - Privacy Policy
    body.homepage
        - const pageName = 'Privacy Policy'
        include components/shell/navigation.pug
        main.main-sections
            //- header section
            header.header-page
                h1.animate Privacy Policy
            .privacy-inner-content
                .date-label.t-left Last updated 27 June 2021
                p.t-left Thank you for choosing to be part of our community at Ignero Corp. ("Company", "we", "us", "our"). We are committed to protecting your personal information and your right to privacy. If you have any questions or concerns about this privacy notice, or our practices with regards to your personal information, please contact us at support@zesty.solutions.
                p.t-left When you visit our website https://ignero.com (the "Website"), and more generally, use any of our services (the "Services", which include the Website), we appreciate that you are trusting us with your personal information. We take your privacy very seriously. In this privacy notice, we seek to explain to you in the clearest way possible what information we collect, how we use it and what rights you have in relation to it. We hope you take some time to read through it carefully, as it is important. If there are any terms in this privacy notice that you do not agree with, please discontinue use of our Services immediately.
                p.t-left This privacy notice applies to all information collected through our Services (which, as described above, includes our Website), as well as, any related services, sales, marketing or events.
                p.t-left Please read this privacy notice carefully as it will help you understand what we do with the information that we collect.

                p
                    div.t-left TABLE OF CONTENTS
                    ul.styled-list.list-decimal
                        li.t-left WHAT INFORMATION DO WE COLLECT?
                        li.t-left HOW DO WE USE YOUR INFORMATION?
                        li.t-left WILL YOUR INFORMATION BE SHARED WITH ANYONE?
                        li.t-left DO WE USE COOKIES AND OTHER TRACKING TECHNOLOGIES?
                        li.t-left HOW DO WE HANDLE YOUR SOCIAL LOGINS?
                        li.t-left HOW LONG DO WE KEEP YOUR INFORMATION?
                        li.t-left HOW DO WE KEEP YOUR INFORMATION SAFE?
                        li.t-left WHAT ARE YOUR PRIVACY RIGHTS?
                        li.t-left CONTROLS FOR DO-NOT-TRACK FEATURES
                        li.t-left DO CALIFORNIA RESIDENTS HAVE SPECIFIC PRIVACY RIGHTS?
                        li.t-left DO WE MAKE UPDATES TO THIS NOTICE?
                        li.t-left HOW CAN YOU CONTACT US ABOUT THIS NOTICE?
                        li.t-left HOW CAN YOU REVIEW, UPDATE OR DELETE THE DATA WE COLLECT FROM YOU?
                        li.t-left WHAT INFORMATION DO WE COLLECT?
                
                p 
                    h3.t-left Personal information you disclose to us
                    div.t-left In Short: We collect personal information that you provide to us.

                p.t-left We collect personal information that you voluntarily provide to us when you register on the Website, express an interest in obtaining information about us or our products and Services, when you participate in activities on the Website (such as by posting messages in our online forums or entering competitions, contests or giveaways) or otherwise when you contact us.

                p.t-left 
                    The personal information that we collect depends on the context of your interactions with us and the Website, the choices you make and the products and features you use. The personal information we collect may include the following:

                    ul.styled-list 
                        li.t-left Personal Information Provided by You. We collect names; phone numbers; email addresses; mailing addresses; usernames; billing addresses; debit/credit card numbers; contact or authentication data; contact preferences; passwords; and other similar information.
                        li.t-left Payment Data. We may collect data necessary to process your payment if you make purchases, such as your payment instrument number (such as a credit card number), and the security code associated with your payment instrument. All payment data is stored by Stripe. You may find their privacy notice link(s) here: https://stripe.com/privacy.
                        li.t-left Social Media Login Data. We may provide you with the option to register with us using your existing social media account details, like your Facebook, Twitter or other social media account. If you choose to register in this way, we will collect the information described in the section called "HOW DO WE HANDLE YOUR SOCIAL LOGINS" below.

                p.t-left All personal information that you provide to us must be true, complete and accurate, and you must notify us of any changes to such personal information.

                p
                    h3.t-left Information automatically collected
                    div.t-left In Short: Some information — such as your Internet Protocol (IP) address and/or browser and device characteristics — is collected automatically when you visit our Website.

                p.t-left We automatically collect certain information when you visit, use or navigate the Website. This information does not reveal your specific identity (like your name or contact information) but may include device and usage information, such as your IP address, browser and device characteristics, operating system, language preferences, referring URLs, device name, country, location, information about how and when you use our Website and other technical information. This information is primarily needed to maintain the security and operation of our Website, and for our internal analytics and reporting purposes.

                p.t-left Like many businesses, we also collect information through cookies and similar technologies.

                p.t-left The information we collect includes: Log and Usage Data. Log and usage data is service-related, diagnostic, usage and performance information our servers automatically collect when you access or use our Website and which we record in log files. Depending on how you interact with us, this log data may include your IP address, device information, browser type and settings and information about your activity in the Website (such as the date/time stamps associated with your usage, pages and files viewed, searches and other actions you take such as which features you use), device event information (such as system activity, error reports (sometimes called 'crash dumps') and hardware settings). Device Data. We collect device data such as information about your computer, phone, tablet or other device you use to access the Website. Depending on the device used, this device data may include information such as your IP address (or proxy server), device and application identification numbers, location, browser type, hardware model Internet service provider and/or mobile carrier, operating system and system configuration information. Location Data. We collect location data such as information about your device's location, which can be either precise or imprecise. How much information we collect depends on the type and settings of the device you use to access the Website. For example, we may use GPS and other technologies to collect geolocation data that tells us your current location (based on your IP address). You can opt out of allowing us to collect this information either by refusing access to the information or by disabling your Location setting on your device. Note however, if you choose to opt out, you may not be able to use certain aspects of the Services.



        //- global footer
        include components/shell/footer.pug

        script(src="js/app.js")
        script(src="js/lazysizes.min.js")
