// utilities
@import helpers/_variables
@import base/_typography
@import base/_reset
@import components/_buttons

// shell as navigation
@import shell/_navigation
@import shell/_header

// layouts
@import layout/_clients

// pages
@import pages/homepage/_hero
@import pages/homepage/_automate
@import pages/homepage/_ddos
@import pages/homepage/_testi
@import pages/_pricing
@import pages/_about
@import pages/_contact
@import pages/_location
@import pages/_privacy
@import pages/_dedicated-server

// footer
@import shell/_footer

.line-clamp
    display: -webkit-box
    -webkit-box-orient: vertical
    overflow: hidden
.line-clamp-2
    -webkit-line-clamp: 2
.line-clamp-3
    -webkit-line-clamp: 3
.line-clamp-4
    -webkit-line-clamp: 4
.line-clamp-5
    -webkit-line-clamp: 5
.line-clamp-6
    -webkit-line-clamp: 6

.t-left
    text-align: left
.t-center
    text-align: center
.t-right
    text-align: right
.t-justify
    text-align: justify

.styled-list
    padding-left: 20px
    list-style: disc
    li 
        margin-bottom: 1em
.list-number
    list-style: decimal



.grid-cols-3
    display: grid
    grid-template-columns: repeat(3, minmax(0, 1fr))
    gap: rem(30)

.card
    display: flex
    align-items: center
    justify-content: space-between
    &__content
        max-width: 400px
        p
            max-width: 300px
        h2
            margin-bottom: rem(24)
        p
            margin-bottom: rem(24)

.card--highlight
    max-width: 970px
    margin: 0 auto
    padding-left: rem(100)
    border-radius: 4px
    background:  linear-gradient(90deg, #212227 0%, #16171B 50%)
    min-height: rem(385)
    justify-content: unset
    figure
        img
            width: 324px

.card--about
    max-width: 900px
    margin: 0 auto
    .card__cover
        display: block
        img
            width: 100%
    .card__content
        flex: 0 0 400px
        max-width: 400px
        p
            font-size: rem(20)
            line-height: 1.6
            max-width: 100%
            width: 100%
            margin-bottom: 0px

.list
    background: #212227
    box-shadow: 0px 24px 50px rgba(56, 55, 55, 0.05)
    text-align: center
    padding: rem(33) rem(48) rem(40)
    border-radius: 4px
    height: 100%
    figure
        margin-bottom: rem(24)
        min-height: 95px
    h3
        margin-bottom: rem(16)


.list--feature
    display: flex
    align-items: center
    justify-content: center
    background: transparent
    box-shadow: none
    height: 100%

.lds-ring 
  display: inline-block
  position: relative
  width: 80px
  height: 80px

.lds-ring div 
  box-sizing: border-box
  display: block
  position: absolute
  width: 64px
  height: 64px
  margin: 8px
  border: 8px solid #fff
  border-radius: 50%
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite
  border-color: #fff transparent transparent transparent

.lds-ring div:nth-child(1) 
  animation-delay: -0.45s

.lds-ring div:nth-child(2) 
  animation-delay: -0.3s

.lds-ring div:nth-child(3)
  animation-delay: -0.15s

@keyframes lds-ring 
  0% 
    transform: rotate(0deg)
  100%
    transform: rotate(360deg)
  

@media screen and ( min-width: 481px ) and ( max-width: 1024px )
    .grid-cols-3
        display: grid
        grid-template-columns: repeat(2, minmax(0, 1fr))
        gap: rem(30)
        .list
            height: 100%


@media screen and ( max-width: 480px )
    .card
        display: flex
        align-items: center
        justify-content: space-between
        flex-direction: column
        text-align: center
        &__content
            max-width: 100%
            margin-bottom: rem(24)
            p
                max-width: 100%
            h2
                margin-bottom: rem(24)
            p
                margin-bottom: rem(24)

        &--highlight
            max-width: 100%
            padding-left: rem(0)
            border-radius: 4px
            background:  linear-gradient(180.09deg, #212227 0.07%, #16171B 99.93%)
            min-height: unset
            padding: rem(32) rem(24)

    .section-page--features
        .header-section
            padding-left: rem(20)
            padding-right: rem(20)
        .slick-list
            padding: 0 20px !important
        .container
            padding: 0px
            .grid-cols-3
                display: block
                gap: 0px
                grid-template-columns: unset
            .box-inner
                width: 75vw
                padding-right: rem(16)
                &:last-child
                    padding-right: rem(0)
            .list
                min-height: 340px
                width: 100%
                p
                    font-size: rem(14)
                    line-height: 1.6
                &--feature
                    margin-right: 0px
                    position: relative
                    overflow: hidden
                    .block
                        position: relative
                        z-index: 1
                    &::before
                        content: ''
                        position: absolute
                        left: 0
                        top: 0
                        right: 0
                        bottom: 0
                        width: 100%
                        height: 100%
                        background: $gradient

                &.animate
                    opacity: 1
                    transform: translateY(0px) !important
                figure
                    img
                        margin: 0 auto
                &:first-child
                    margin-left: 0px

    .more-request
        text-align: center
        strong
            display: block